.flowsheet-item-data {
	width: 128px;

	border: 2px solid var(--color-neutral-light-grey);
	border-radius: 8px;
	padding: 4px;

	.display-date {
		@include juno-font-body-small;
	}
	.display-value {
		@include juno-font-body;
		font-weight: bold;
		padding-top: 4px;
	}
}