.fax-config {
	.fax-config-header {
		h1 {
			color: var(--color-primary-base);
		}
	}
	.fax-config-body {
		.table-text-primary
		{
			@include juno-font-body-small();
		}
		.table-text-secondary
		{
			@include juno-font-body-smallest();
		}

		.state-enabled {
			.icon-badge {
				--icon-font-size: 14px;
				--icon-color: var(--color-neutral-white);
				--badge-color: var(--color-green-base);
			}
		}
		.state-disabled {
			.icon-badge {
				--icon-font-size: 14px;
				--icon-color: var(--color-neutral-white);
				--badge-color: var(--color-red-base);
			}
		}
	}
}

.fax-send_receive {
	.tabs-heading {
		padding: 5px 5px 0 5px;
	}

	.nav-justified {
		margin-bottom: -1px;
	}

	.nav-tabs {
		li {
			&.active {
				a {
					color: black;
					background-color: $color-neutral-white;
					border-color: $color-neutral-light;
					border-bottom-color: transparent;
				}
			}

			a {
				color: black;
				background-color: $color-neutral-lighter;

				&:hover, &:focus {
					background-color: $color-neutral-grey;
					border-color: transparent;
				}
			}
		}
	}
}
