
.patient-selector-option {

	&:hover { cursor: pointer; }

  border-bottom: 1px solid $primary-white-text;

  .name {
    font-weight: bold;
    font-size: 14px;
  }

	.hin, .dob, .more-total {
		margin-left: 5px;
		font-style: italic;
	}

}

.directive-juno-typeahead {
	position: relative;

	.glyphicon {
		position: absolute;
		padding: 0 10px;
		pointer-events: none;
		color: $grey-01;
	}
	/* align icon */
	&.left-addon
	{
		.glyphicon {
			left: 0;
		}
		input {
			padding-left:  30px;
		}
	}
	&.right-addon {
		.glyphicon {
			right: 0;
		}
		input {
			padding-right: 30px;
		}
	}
}
