.juno-alert {
	@extend .juno-modal;
	@include juno-font-body-small();
	padding: 8px 8px 16px 8px;

	juno-alert-component {
		height: 100%;
	}

	button {
		height: 32px;
	}

	.header-divider {
		margin-bottom: 10px;
	}

	.modal-dialog {
		width: 300px;
		height: 200px;

		.modal-content {
			background: $color-neutral-white none;

			.alert-content {
				flex-grow: 1;
                		white-space: pre-line;
			}
		}
	}

	.confirm-btn {
		max-width: 48%;
	}
}
