version: '3.1'
services:
  juno-test-db:
    command: mysqld --general-log-file=/var/log/mysql/general-log.log
    image: mariadb:10.4
#    volumes:
#      - ../../.docker/testdb/:/var/lib/mysql:Z
    environment:
      MYSQL_ROOT_PASSWORD: "test"
      MYSQL_USER: oscar
      MYSQL_PASSWORD: oscar
      MYSQL_DATABASE: oscar_test
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  juno-selenium-firefox:
    image: selenium/standalone-firefox:latest

  juno-maven:
    depends_on: [juno-test-db, juno-selenium-firefox]
    build: .
    #image: maven:3.6.3-openjdk-8
    command: mvn -Dis_docker_testing_enabled=true -Duser.home=/home/maven -DskipTests clean verify
    volumes:
      - ../../:/usr/src/mymaven:Z
      - ~/.m2:/home/maven/.m2:Z
      - ~/.npm.docker:/home/maven/.npm:Z
    environment:
      HOME: /home/maven
      MAVEN_CONFIG: /home/maven/.m2
      MAVEN_OPTS: "-Xmx2048m"
      TZ: America/Vancouver
    working_dir: /usr/src/mymaven
    user: $DOCKER_USER
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "8080:8080"
    links:
      - "juno-test-db:juno-test-db"
      - "juno-selenium-firefox:juno-selenium-firefox"
