.demographic-details-section.demographic-contacts-section{
	.fields {
		.column {
			.title{
				margin-top: 32px;
				margin-bottom: 24px;
			}
		}
	}

	.manage {
		margin-top: 32px;
		width: 56px;
	}
}