.demographic-details-section.demographic-contacts-section{
	.fields {
		.column {
			.title{
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}
		.manage {
				margin-top: 30px;
				display: flex;
  				justify-content: center;
			}
	}
}