.juno-select {

	.select-container {
		position: relative;
		flex: 1 1 0;

		select {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			cursor: pointer;

			width: 100%;
			padding: 0 16px 0 16px;

		}

		// custom drop down arrow
		&:after {
			position: absolute;
			right: 8px;
			top: calc(50% - 8px);

			font-family: icomoon;
			content: "\e934"; //chevron down (is there a better way to do this? can't get @extend .icon-chevron-down to work)
			font-size: 16px;
			pointer-events: none;
		}
	}
}