.juno-select {
	--juno-select-label-padding: 0;
	--juno-select-label-width: unset;

	.label-style {
		padding: var(--juno-select-label-padding);
		width: var(--juno-select-label-width);
	}

	span.required-icon {
		color: var(--color-red-base);
	}

	.select-container {
		@include juno-form-inputs-style(1px, var(--theme-form-field-border-radius));
		@include juno-form-inputs-colors-default();

		position: relative;
		flex: 1 1 0;

		select {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			cursor: pointer;
			background-image: none;
			outline: none;

			width: 100%;
			padding: 0 32px 0 16px;

		}

		.icon {
				position: absolute;
				right: 8px;
				top: calc(50% - 8px);
				font-size: 16px;
				pointer-events: none;
		}
	}
}