.demographic-details-section.care-team-section{
	.fields{

		.select-with-button {
			display: flex;
			justify-content: center;

			.juno-select {
				width: 350px;
			}

			.juno-button {
				margin-left: 4px;
				width: 76px
			}
		}
	}
}