// ============ LABELS ===============

.juno-input-label-top {
	flex: 0 0 100%;
}

.juno-input-label-left {
	margin-right: 16px;
	text-align: right;
}

// ============ STYLES ===============

@mixin styleCommon()
{
	margin-top: 8px;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;

	input,select {
		height: 32px;
		padding: 9px 16px 9px 16px;

		&.field-invalid {
			border-color: $color-red-base;

			&:focus,&:active {
				border-color: $color-red-base;
			}
		}
	}

	button {
		height: 32px;
		box-shadow: none;
		border-radius: 4px;
		padding: 0 4px 0 4px;
	}

	&.juno-check-box {
		button {
			padding: 0;
			border-radius: 3px;

			width: 16px;
			height: 16px;
			font-size: 12px;

			&.un-checked {
				&:hover {
					border-color: $color-blue-light;
				}
			}
		}
	}

	&.juno-divider {
		background-color: $color-neutral-lightest;
		border: 1px solid $color-neutral-lighter-grey;
	}
}

.juno-style-default {
	@include styleCommon;

	@include juno-tab-color-scheme-white;

	input,select {
		@include juno-font-body-smallest;

		border-radius: 4px;
		border: solid 1px $color-neutral-light;
		background-color: $color-neutral-white;
		color: $color-neutral-darker;

		&:focus, &:active {
			outline: none;
			border: solid 1px $color-blue-light;
		}

		&:disabled {
			color: $color-neutral-grey;
			&:active {
				border-color: $color-neutral-light;
			}
		}
	}

	button {
		&.btn-primary {
			border: 1px solid $color-primary-base;
			background-color: $color-primary-base;
			color: $color-neutral-white;
		}

		&.btn-secondary {
			border: 1px solid $color-primary-light;
			background-color: $color-primary-light;
			color: $color-neutral-white;
		}

		&.btn-base {
			border: 1px solid $color-neutral-lighter-grey;
			background-color: $color-neutral-white;
			color: $color-neutral-darker;
		}
	}

	&.juno-check-box {
		button {
			&.un-checked {
				border-color: $color-neutral-light;
				background-color: $color-neutral-white;
			}
		}
	}

	&.juno-divider {
		height: 0;
		border: 1px solid $color-neutral-lighter;
	}
}

.juno-style-grey {
	@include styleCommon;

	@include juno-tab-color-scheme-white;

	input,select {
		@include juno-font-body-smallest;

		border-radius: 8px;
		border: solid 1px $color-neutral-lighter-grey;
		background-color: $color-neutral-lightest;
		color: $color-neutral-darker;

		&:focus, &:active {
			outline: none;
			border: solid 1px $color-blue-light;
		}

		&:disabled {
			color: $color-neutral-grey;
			&:active {
				border-color: $color-neutral-lighter-grey;
			}
		}
	}

	button {
		height: 32px;
		box-shadow: none;
		border-radius: 8px;

		&.btn-primary {
			border: 1px solid $color-primary-base;
			background-color: $color-primary-base;
			color: $color-neutral-white;
		}

		&.btn-secondary {
			border: 1px solid $color-cyan-base;
			background-color: $color-cyan-base;
			color: $color-neutral-white;
		}

		&.btn-base {
			border: 1px solid $color-neutral-lighter-grey;
			background-color: $color-neutral-lightest;
			color: $color-neutral-darker;
		}
	}

	&.juno-check-box {
		button {
			&.un-checked {
				border-color: $color-neutral-lighter-grey;
				background-color: $color-neutral-lightest;
			}
		}
	}
}

.juno-style-dracula {
	@include styleCommon;

	@include juno-tab-color-scheme-dark;

	color: $color-neutral-white;

	input,select {
		@include juno-font-body-smallest;

		border-radius: 8px;
		border: solid 1px $color-neutral-darker;
		background-color: $color-neutral-darkest;
		color: $color-neutral-white;

		&:focus, &:active {
			outline: none;
			border: solid 1px $color-orange-base;
		}

		&:disabled {
			color: $color-neutral-dark;
			&:active {
				border-color: $color-neutral-darker;
			}
		}
	}

	button {
		border-radius: 8px;
		&.btn-primary {
			border: 1px solid $color-primary-base;
			background-color: $color-primary-base;
			color: $color-neutral-white;
		}

		&.btn-secondary {
			border: 1px solid $color-primary-light;
			background-color: $color-primary-light;
			color: $color-neutral-white;
		}

		&.btn-base {
			border: 1px solid $color-neutral-dark;
			background-color: $color-neutral-darkest;
			color: $color-neutral-white;
		}
	}

	&.juno-check-box {
		button {
			&.un-checked {
				border-color: $color-neutral-darker;
				background-color: $color-neutral-darkest;

				&:hover {
					border-color: $color-orange-base;
				}
			}
		}
	}

	&.juno-divider {
		height: 0;
		border: 1px solid $color-neutral-darker;
	}
}
.juno-style-dracula-background {
	background-color: $color-neutral-darkest;
}