
@mixin modal-split-pane-colors($color-left, $left-pane-width, $color-right)
{
	background: linear-gradient(90deg, $color-left $left-pane-width, $color-right 0), no-repeat 100% 100%;
}

@mixin modal-size($modal-width, $modal-height, $header-height: $modal-default-header-height, $footer-height: $modal-default-footer-height)
{
	$modal-body-height: calc(#{$modal-height} - #{$header-height} - #{$footer-height} - #{$modal-border-space});
	$modal-body-no-footer-height: calc(#{$modal-height} - #{$header-height} - #{$modal-border-space});

	.modal-dialog {
		width: $modal-width;
		height: $modal-height;

		juno-modal {
			.modal-header {
				height: $header-height;
			}
			.modal-body {
				height: $modal-body-height;

				&.no-footer {
					height: $modal-body-no-footer-height;
				}
			}
			.modal-footer {
				height: $footer-height;
			}
		}
	}
}

.juno-modal {
	@include modal-size($modal-width, $modal-height);
	&.sml {
		@include modal-size($modal-width-sml, $modal-height-sml, 48px, 48px);
	}
	&.med-sml {
		@include modal-size($modal-width-med-sml, $modal-height-med-sml, 48px, 48px);
	}
	.modal-dialog {
		.modal-content {
			height: 100%;
			display: flex;
			flex-direction: column;

			-webkit-border-radius: 16px !important;
			-moz-border-radius: 16px !important;
			border-radius: 16px !important;
			background: linear-gradient(-45deg, $color-neutral-white 45%, transparent 0) no-repeat 100% 100%,
			linear-gradient(247deg, $color-primary-light, $color-primary-base 30%, $color-primary-base 64%, $color-primary-dark) no-repeat;

			&.double-book {
				background: linear-gradient(-45deg, $color-neutral-white 45%, transparent 0) no-repeat 100% 100%,
				linear-gradient(247deg, $color-yellow-light, $color-yellow-base 30%, $color-yellow-dark 64%, $color-yellow-darker) no-repeat;
			}
			&.double-book-prevented {
				background: linear-gradient(-45deg, $color-neutral-white 45%, transparent 0) no-repeat 100% 100%,
				linear-gradient(247deg, $color-orange-light, $color-orange-base 30%, $color-orange-dark 64%, $color-orange-darker) no-repeat;
			}

			// header counts as modal top border, so don't apply the spacing to main content pane
			padding: 0 $modal-border-space $modal-border-space $modal-border-space;

			juno-modal {
				.modal-header {
					padding: 12px 4px 12px 16px;
					display: flex;
					align-items: center;
					flex-direction: row;
					justify-content: space-between;
					border-bottom: 0;
					.modal-title {
						display: flex;
						flex-grow: 1;
						flex-direction: row;
						align-items: center;

						modal-title {
							display: flex;
							flex-direction: row;
							position: relative;
							align-items: center;
							width: 100%;
							height: 100%;

							.align-baseline {
								display: flex;
								flex-grow: 1;
								flex-direction: row;
								align-items: baseline;
								h4 {
									padding: 0 16px;
								}
							}
						}
					}
					.modal-ctl-buttons {
						padding: 6px;
						align-items: center;
						justify-content: space-between;
						display: flex;

						modal-ctl-buttons {
							display: flex;
							flex-direction: row;
							position: relative;
							align-items: center;
							width: 100%;
							height: 100%;
						}
					}
					.icon-modal-ctl {
						font-size: 16px;
						color: $color-primary-base;
					}
					.icon-modal-header {
						font-size: 32px;
						color: $color-neutral-white;
						margin-right: 8px;
					}
				}

				.modal-body {
					background-color: $color-neutral-white;
					border-radius: 16px 16px 0 0;
					padding: 0;

					modal-body {
						display: inline-block;
						position: relative;
						width: 100%;
						height: 100%;
					}
					
					&.no-footer {
						border-radius: 16px 0 0 16px;
					}
				}

				.modal-footer {
					border-radius: 0 0 16px 16px;
					padding: 0 8px 8px 8px;
					background-color: $color-neutral-white;
					border: 0;

					modal-footer {
						display: inline-block;
						position: relative;
						width: 100%;
						height: 100%;

						.btn {
							width: 112px;
							height: 32px;

							&.btn-primary {
								&.double-book {
									background-color: $color-yellow-base;
									border-color: $color-yellow-dark;
								}
								&.double-book-prevented {
									background-color: $color-orange-base;
									border-color: $color-orange-dark;
								}
							}
						}
					}
				}
				.loading-indicator-container {
					position: absolute;
					right: 0;
					bottom: 0;
					padding-right: $modal-border-space;

					height: 24px;

					.loading-spinner-container {
						width: 24px;
						height: 24px;
					}
					.loading-message {
						font-size: 12px;
						margin: 0;
					}
				}
			}
		}
	}
	label {
		text-align: right;
		padding: 3px 2px;
	}
	select {
		@include juno-select(16px);
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0;

		font-size: 18px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.44;
		letter-spacing: -0.7px;
		color: $color-neutral-white;
	}
	h4 {
		margin-top: 0;
		margin-bottom: 0;

		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.86;
		letter-spacing: -0.6px;
		color: $color-neutral-white;
	}
}