// ============ LABELS ===============

.juno-input-label-top {
	flex: 0 0 100%;
}

.juno-input-label-left {
	margin-right: 16px;
	text-align: right;
}

// ============ STYLES ===============

@mixin styleCommon()
{
	margin-top: 8px;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;

	input,select {
		height: 32px;
		padding: 9px 16px 9px 16px;

		&.field-invalid {
			border-color: $color-red-base;

			&:focus,&:active {
				border-color: $color-red-base;
			}
		}
	}
}

.juno-style-default {
	@include styleCommon;

	input,select {
		@include juno-font-body-smallest;

		border-radius: 4px;
		border: solid 1px $color-neutral-light;
		background-color: white;
		color: $color-neutral-darker;

		&:focus, &:active {
			outline: none;
			border: solid 1px $color-blue-light;
		}

		&:disabled {
			color: $color-neutral-grey;
			&:active {
				border-color: $color-neutral-light;
			}
		}

	}
}

.juno-style-grey {
	@include styleCommon;

	input,select {
		@include juno-font-body-smallest;

		border-radius: 8px;
		border: solid 1px $color-neutral-lighter-grey;
		background-color: $color-neutral-lightest;
		color: $color-neutral-darker;

		&:focus, &:active {
			outline: none;
			border: solid 1px $color-blue-light;
		}

		&:disabled {
			color: $color-neutral-grey;
			&:active {
				border-color: $color-neutral-lighter-grey;
			}
		}
	}
}

.juno-style-dracula {
	@include styleCommon;

	color: $color-neutral-white;

	input,select {
		@include juno-font-body-smallest;

		border-radius: 8px;
		border: solid 1px $color-neutral-darker;
		background-color: $color-neutral-darkest;
		color: $color-neutral-white;

		&:focus, &:active {
			outline: none;
			border: solid 1px $color-orange-base;
		}

		&:disabled {
			color: $color-neutral-dark;
			&:active {
				border-color: $color-neutral-darker;
			}
		}
	}
}
.juno-style-dracula-background {
	background-color: $color-neutral-darkest;
}