.juno-tab {
	.tab {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 144px;
		height: 100%;
	}

	&.juno-tab-swim-lane {
		background-color: transparent !important;
		border-color: transparent !important;
		border-radius: 0 !important;
		overflow: hidden;
	}
}