.juno-tab {
	> .tab {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 144px;
		height: 56px;
	}

	&.juno-tab-swim-lane, &.juno-tab-folder-tab {
		background-color: transparent !important;
		border-color: transparent !important;
		border-radius: 0 !important;
	}

	&.juno-tab-swim-lane {
		overflow: hidden;

		.juno-button {
			--button-height: 24px;
		}
	}
}