.fax-config {
  .fax-config-header {
	padding: 15px;
  }
  .fax-config-body {
	.account-list {
	  padding: 5px;
	  background-color: $white;
	  .account-item {
		background-color: $grey-08;
		border: 2px $grey-05;
		padding: 10px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	  }
	  .glyphicon {
		&.glyphicon-lrg {
		  font-size: 30px;
		}
		&.glyphicon-sml {
		  font-size: 15px;
		}
		&.enabled {
		  color: $semantic-success-base;
		}
		&.disabled {
		  color: $semantic-error-base;
		}
	  }
	}
  }
  .fax-config-footer {

  }
}

//hack to re-center modal for now
.modal-dialog {
  left: auto !important;
}
.faxEditModal {
  .modal-content {
	background-color: $primary;
  }
  .modal-body {
	padding:30px;
	background-color: $white;
	input {
	  &.ng-invalid {
		background-color: $input-color-invalid-background;
		border-color: $input-color-invalid-border;
	  }
	}
	.input-validation {
	  font-size: 10px;
	  color: $input-color-invalid-text;
	}

	.flex-row {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: flex-start;
	  &.content-center {
		justify-content: center;
	  }
	  &.content-end {
		justify-content: flex-end;
	  }
	  &.info-section {
		position: relative;
		.info-icon {
		  position: absolute;
		  font-size: 14px;
		  color: $info-icon-color;
		}
	  }
	  .flex-row-label {
		width: 40%;
		padding: 0 5px;
		text-align: right;
	  }
	  .flex-row-content {
		text-align: left;
	  }
	}
	.glyphicon {
	  font-size: 25px;
	  &.unknown {
		color: $grey-03;
	  }
	  &.success {
		color: $semantic-success-base;
	  }
	  &.failure {
		color: $semantic-error-base;
	  }
	}
  }
  .modal-header {
	color: $white;
  }
  .modal-footer {
	background-color: $grey-07;
	padding-top: 20px;
	padding-bottom: 20px;
  }
}


.fax-send_receive {
  .tabs-heading {
	padding: 5px 5px 0 5px;
  }
  .nav-justified {
	margin-bottom: -1px;
  }
  .nav-tabs {
	li {
	  a {
		color: black;
		background-color: $grey-07;
		&:hover, &:focus {
		  background-color: $grey-04;
		  border-color: transparent;
		}
	  }
	  .active {
		a {
		  color: black;
		  background-color: $white;
		  border-color: black;
		  border-bottom-color:transparent;
		}
	  }
	}
  }
  .search-frame {
	padding: 10px;
	.search-filters {
	  padding: 5px;
	}
	.search-buttons {
	  padding: 5px;
	}
  }
  .table {
	.float-right {
	  float: right;
	}
  }
}