.message {
	.attachment {
		cursor: pointer;
		user-select: none;
		border-radius: 8px;

		&:hover {
			background-color: var(--color-primary-lightest)
		}

		.download-icon {
			font-size: 24px;
			color: var(--color-primary-base);
		}
	}
}