.message {
	.text-grey {
		color: var(--color-neutral-dark-grey);
	}

	.chart-link {
		color: var(--color-primary-base);
		text-decoration: underline;
	}

	&.compact {

		.message-container {
			margin-top: 8px;
		}

		.recipients-container, .subject-container {
			margin-top: 8px;

			> div {
				display: inline-block;
				margin: 0;
			}
		}
	}
}