.page-wrapper {
	min-height: 100%;

	& > .header {
		position: relative;
		@extend %juno-page-header;
	}

	.page-fill-wrapper {
		position: relative;

		& > .body {
			position: absolute;
			inset: 0;

			overflow-y: auto;

			display: flex;
			flex-direction: column;

			// fixes child margin issues. If a child has margin and the parent does not have padding / margin the margin will apply to the parent
			padding-top: 1px;
			margin-top: -1px;
		}
	}
}