.page-wrapper {
	& > .header {
		@extend %juno-page-header;
	}

	& > .body {
		display: flex;
		flex-direction: column;

		// fixes child margin issues. If a child has margin and the parent does not have padding / margin the margin will apply to the parent
		padding-top: 1px;
		margin-top: -1px;
	}

	&.set-height > .body {
		min-height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height});
	}

	&.no-header.set-height > .body {
		min-height: calc(100vh - #{$primary-navbar-height});
	}
}