
@mixin juno-button-colour-scheme($text-color, $background-color, $border-color) {
	color: $text-color;
	background-color: $background-color;
	border-color: $border-color;
}

// color a single button
@mixin juno-button-color($color, $background-color, $border-color,
						$hover-color, $hover-background-color, $hover-border-color,
						$active-color, $active-background-color, $active-border-color) {
	color: $color;
	background-color: $background-color;
	border-color: $border-color;
	--background: $background-color;
	--color-focused: $active-color;
	--color-activated: $active-color;
	--background-activated: $active-border-color;
	--background-focused: $active-background-color;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);

	&:active,
	&:focus,
	&:focus:active {
		color: $active-color;
		background-color: $active-background-color;
		border-color: $active-border-color;
	}

	@media only screen and (min-width: 769px) {
		&:hover {
			color: $hover-color;
			background-color: $hover-background-color;
			border-color: $hover-border-color;
		}
	}
}

@mixin juno-button-pattern($color-base, $color-dark, $color-darker, $color-darkest,
 $text-color-base, $text-color-active: var(--color-neutral-white)) {

	// default pattern
	@include juno-button-color($text-color-base, var(--color-neutral-white), var(--color-neutral-lighter),
			$text-color-active, $color-base, $color-base,
			$text-color-active, $color-dark, $color-dark
	);

	&.colored {
		@include juno-button-color($color-base, var(--color-neutral-white), var(--color-neutral-lighter),
				$text-color-active, $color-base, $color-base,
				$text-color-active, $color-dark, $color-dark
		);
	}

	// same as default pattern but hover state is darker
	&.dark-hover {
		@include juno-button-color($text-color-base, var(--color-neutral-white), var(--color-neutral-light),
				$text-color-active, $color-dark, $color-dark,
				$text-color-active, $color-darker, $color-darker
		);
	}

	// button is coloured with light text, darker hover states
	&.fill {
		@include juno-button-color($text-color-active, $color-base, $color-base,
				$text-color-active, $color-dark, $color-dark,
				$text-color-active, $color-darker, $color-darker
		);
	}

	&.fill-light {
		@include juno-button-color($text-color-active, $color-base, $color-base,
				$text-color-active, $color-dark, $color-dark,
				$text-color-active, $color-darker, $color-darker
		);
	}

	&.fill-dark {
		@include juno-button-color($text-color-active, $color-dark, $color-dark,
				$text-color-active, $color-darker, $color-darker,
				$text-color-active, $color-darkest, $color-darkest
		);
	}

	// only text is visible
	&.transparent {
		@include juno-button-color($color-base, transparent, transparent,
				$color-dark, transparent, transparent,
				$color-darker, transparent, transparent
		);
		box-shadow: none;
		--color-focused: $color-dark;
		--color-activated: $color-darker;
		--background-activated: transparent;
		--background-focused: transparent;
	}

	// button is/appears disabled
	&.disabled,
	&[disabled],
	&.disabledStyle {
		@include juno-button-color(var(--color-neutral-light-grey), var(--color-neutral-lightest), var(--color-neutral-lighter),
				var(--color-neutral-light-grey), var(--color-neutral-lightest), var(--color-neutral-lighter),
				var(--color-neutral-light-grey), var(--color-neutral-lightest), var(--color-neutral-lighter),
		);

		&.transparent {
			border-color: transparent;
			background-color: transparent;
		}

		box-shadow: none;
		--color: var(--color-neutral-grey);

		& > * {
			color: var(--color-neutral-grey);
			--color: var(--color-neutral-grey);
		}
	}

}

@mixin juno-base-color-pattern {

	// default / primary colour scheme
	@include juno-button-pattern(var(--theme-color-primary-base), var(--theme-color-primary-accent), var(--color-primary-darker),
			var(--theme-color-primary-text), var(--theme-color-primary-text));

	&.default {
		@include juno-button-pattern(var(--theme-color-primary-base), var(--theme-color-primary-accent), var(--color-primary-darker),
				var(--theme-color-primary-text), var(--theme-color-primary-text));
	}

	&.greyscale-light {
		@include juno-button-pattern(var(--color-neutral-lightest), var(--color-neutral-lighter), var(--color-neutral-light),
				var(--color-neutral-light-grey), var(--color-neutral-darker), var(--color-neutral-darker));
	}
	&.greyscale-dark {
		@include juno-button-pattern(var(--color-neutral-grey), var(--color-neutral-dark), var(--color-neutral-darker),
				var(--color-neutral-darkest), var(--color-neutral-darker));
	}
	&.greyscale-darkest {
		@include juno-button-pattern(var(--color-neutral-darkest), var(--color-neutral-darker), var(--color-neutral-dark),
			var(--color-neutral-grey), var(--color-neutral-grey));
	}
	&.danger {
		@include juno-button-pattern(var(--color-red-base), var(--color-red-dark), var(--color-red-darker),
				var(--color-red-darkest), var(--color-neutral-darker));
	}
}

.btn {
	@include juno-font-button(12px, 400, 1.3);
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: .6em;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0 2px 2px rgba($color-neutral-black, 0.1);
	&:focus,&:active {
		outline: none !important;
	}
	&.btn-sm {
		padding: 5px 10px;
		line-height: 1.5;
		border-radius: 3px;
	}
	&.btn-xs {
		padding: 1px 5px;
		line-height: 1.5;
		border-radius: 3px;
	}
	&.btn-lg {
		padding: 10px 16px;
		font-size: 18px;
		border-radius: 6px;
	}

	&.btn-default,&.btn-addon {
		@include juno-button-colour-scheme($color-primary-base, $color-neutral-white, $color-neutral-light);
	}
	&.btn-primary {
		@include juno-button-colour-scheme($color-neutral-white, $color-primary-base, $color-primary-base);
	}
	&.btn-primary-inverted {
		@include juno-button-colour-scheme($color-primary-base, $color-neutral-white, $color-neutral-white);
	}
	&.btn-success {
		@include juno-button-colour-scheme($color-neutral-white, $color-lime-base, $color-lime-dark);
	}
	&.btn-warning {
		@include juno-button-colour-scheme($color-neutral-white, $color-yellow-base, $color-yellow-dark);
	}
	&.btn-danger {
		@include juno-button-colour-scheme($color-neutral-white, $color-red-base, $color-red-dark);
	}

	// a button that only is "active" (colored) on mouse over.
	&.btn-active-hover {
		&:not(:hover)
		{
			@include juno-button-colour-scheme($color-neutral-darker, $color-neutral-white, $color-neutral-light);
		}
	}

	// for icon only buttons
	&.btn-icon {
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		border: 0;
		margin: 0;

		-webkit-appearance: none;
		-moz-appearance: none;
		outline: none;

		&:hover,&:focus {
			color: inherit;
		}
	}

	// legacy warning button style (see schedule warning)
	&.btn-warning-static {
		background-color: $btn-warning-bg;
		cursor: default;
		color: $color-neutral-white;

		&:focus,
		&:visited,
		&:hover {
			color: $color-neutral-white;
		}
		&:active {
			-moz-box-shadow:    inset 0 0 0 $btn-warning-bg;
			-webkit-box-shadow: inset 0 0 0 $btn-warning-bg;
			box-shadow:         inset 0 0 0 $btn-warning-bg;
			color: $color-neutral-white;
		}
	}
}

