
// Hides wrapping buttons, allowing for icon buttons
.icon-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: .6em;
	font-size: 13px;
	line-height: 1.3;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.btn-sm {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
	}
	&.btn-xs {
		padding: 1px 5px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
	}

	&.btn-default {
		background-color: $white;
		border-color: $grey-06;
		color: $primary;
	}
	&.btn-success {
		color: $white;
		background-color: $green;
		border-color: $green-hover;
	}
	&.btn-primary {
		color: $white;
		background-color: $primary;
		border-color: $primary-hover;
	}

	&.btn-aside {
		width: $page-header-height;
		height: $page-header-height;
		background-color: #3c5a96;
		border-radius: 0;
		border: 1px solid transparent;
		&:focus {
			outline: 1px solid transparent !important;
		}
		.icon {
			width: 40px;
			height: 40px;
		}
	}
}
.btn-icon {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.btn-warning-static {
	background-color: $btn-warning-bg;
	cursor: default;
	color: $white;

	&:focus,
	&:visited,
	&:hover {
		color: $white;
	}
	&:active {
		-moz-box-shadow:    inset 0 0 0 $btn-warning-bg;
		-webkit-box-shadow: inset 0 0 0 $btn-warning-bg;
		box-shadow:         inset 0 0 0 $btn-warning-bg;
		color: $white;
	}
}