
@mixin juno-button-colour-scheme($text-color, $background-color, $border-color) {
	color: $text-color;
	background-color: $background-color;
	border-color: $border-color;
}

.btn {
	@include juno-font-button(12px, 400, 1.3);
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: .6em;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.btn-sm {
		padding: 5px 10px;
		line-height: 1.5;
		border-radius: 3px;
	}
	&.btn-xs {
		padding: 1px 5px;
		line-height: 1.5;
		border-radius: 3px;
	}
	&.btn-lg {
		padding: 10px 16px;
		font-size: 18px;
		border-radius: 6px;
	}

	&.btn-default,&.btn-addon {
		@include juno-button-colour-scheme($color-primary-base, $color-neutral-white, $color-neutral-light);
	}
	&.btn-primary {
		@include juno-button-colour-scheme($color-neutral-white, $color-primary-base, $color-primary-dark);
	}
	&.btn-primary-inverted {
		@include juno-button-colour-scheme($color-primary-base, $color-neutral-white, $color-neutral-white);
	}
	&.btn-success {
		@include juno-button-colour-scheme($color-neutral-white, $color-lime-base, $color-lime-dark);
	}
	&.btn-warning {
		@include juno-button-colour-scheme($color-neutral-white, $color-yellow-base, $color-yellow-dark);
	}
	&.btn-danger {
		@include juno-button-colour-scheme($color-neutral-white, $color-red-base, $color-red-dark);
	}


	// for icon only buttons
	&.btn-icon {
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		border: 0;
		margin: 0;

		-webkit-appearance: none;
		-moz-appearance: none;
		outline: none;

		&:hover,&:focus {
			color: inherit;
		}
	}

	// legacy warning button style (see schedule warning)
	&.btn-warning-static {
		background-color: $btn-warning-bg;
		cursor: default;
		color: $color-neutral-white;

		&:focus,
		&:visited,
		&:hover {
			color: $color-neutral-white;
		}
		&:active {
			-moz-box-shadow:    inset 0 0 0 $btn-warning-bg;
			-webkit-box-shadow: inset 0 0 0 $btn-warning-bg;
			box-shadow:         inset 0 0 0 $btn-warning-bg;
			color: $color-neutral-white;
		}
	}
}

