
// Colour Palette
$primary: #476bb3;
$primary-hover: #3c5a96;
$secondary: #59ccde;
$secondary-hover: #4fb4c4;
$tiertiary: #363d4d;

$grey-01: #242933;
$grey-02: #353d4c;
$grey-03: #4f5766;
$grey-04: #697080;
$grey-05: #9da4b3;
$grey-06: #bcc3d1;
$grey-07: #dcdfe6;
$grey-08: #edf0f5;
$white: #ffffff;

$green: #8fbf00;
$green-hover: #7ca600;
$yellow: #ffcc00;
$yellow-hover: #e6b800;
$orange: #ff9100;
$orange-hover: #e68300;
$red: #ff1500;
$red-hover: #e61300;
$purple: #7d66ff;
$purple-hover: #705ce6;
$grape: #ac5ce6;
$pink: #e65cba;

// OLD names, use above
$primary-blue: #476bb3;
$secondary-blue: #15417a;
$primary-hover-blue: #3c5a96;
$secondary-hover-blue: #386fc1;
$primary-blue-text: #235ba3;

$primary-white: #fff;
$secondary-white: #ebebeb;
$hover-white: #fff;
$primary-white-text: #fff;

$light-grey: #ededed;
$medium-grey: #c0c0c0;
$dark-grey: #767676;

$modal-color: #996633;

// Imported from Clinicaid (schedule + datepicker stuff)
$color-btn-addon-bg: #FFF;
$color-btn-addon-text: #333;
$color-btn-addon-border: #CCC;

$info-icon-color: rgb(30, 144, 255);
$color-info-box-top-bg: #555;
$color-info-box-top-text: #FFF;
$color-info-box-top-border: #999;
$color-info-box-content-bg: #F5F5F5;
$color-info-box-content-border: #B9B9B9;
$color-info-box-table-header-bg: #F5F5F5;
$color-info-box-table-header-border: #B9B9B9;
$color-info-box-table-bg: #EDEDED;
$color-info-box-table-bg-odd: #E1E1E1;
$color-info-box-table-border: #B9B9B9;

$color-bg-modal-header: #A4A4A4;

$color-timepicker-bg: #DDD;
$color-timepicker-text: #333;
$color-timepicker-border: #CCC;

// fax
$success-green: rgb(153, 226, 120);
$failure-red: rgb(188, 64, 71);

$input-color-invalid-background: #ffefef;
$input-color-invalid-border: #a94442;
$input-color-invalid-text: #a94442;
