
// Colour Palette
$primary: #476bb3;
$primary-hover: #3c5a96;
$primary-50: rgba(71,107,179,.50);
$primary-30: rgba(71,107,179,.30);
$secondary: #59ccde;
$secondary-hover: #4fb4c4;
$secondary-50: rgba(67,174,191,.50);
$secondary-30: rgba(67,174,191,.30);

$grey-01: #303540;
$grey-02: #525866;
$grey-03: #6c7380;
$grey-04: #acb2bf;
$grey-05: #cacfd9;
$grey-06: #dfe3eb;
$grey-07: #e6eaf2;
$grey-08: #f2f5fa;
$white: #ffffff;

$green:         rgba(102, 166, 0, 1);
$green-hover:   rgba(102, 166, 0, 1);
$green-50:      rgba(110, 179, 0, .50);
$green-30:      rgba(110, 179, 0, .30);
$yellow:        rgba(230, 176, 0, 1);
$yellow-hover:  rgba(214, 164, 0, 1);
$yellow-50:     rgba(240, 184, 0, .50);
$yellow-30:     rgba(240, 184, 0, .30);
$orange:        rgba(240, 110, 0, 1);
$orange-hover:  rgba(214, 99, 0, 1);
$orange-50:     rgba(240, 110, 0, .50);
$orange-50:     rgba(240, 110, 0, .30);
$red:           rgba(204, 0, 0, 1);
$red-hover:     rgba(179, 0, 0, 1);
$red-50:        rgba(204, 0, 0, .50);
$red-30:        rgba(204, 0, 0, .30);
$purple:        rgba(100, 55, 222, 1);
$purple-hover:  rgba(92, 51, 204, 1);
$purple-50:     rgba(104, 57, 230, 0.5);
$purple-30:     rgba(104, 57, 230, 0.3);
$grape: #ac32c7;
$grape-hover: #9a2db3;
$grape-50:      rgba(177, 51, 204, 0.5);
$grape-30:      rgba(177, 51, 204, 0.3);
$pink: #cc3367;
$pink-hover: #b32d5a;
$pink-50:       rgba(204, 51, 103, 0.5);
$pink-30:       rgba(204, 51, 103, 0.3);
$brown: #75592f;
$brown-hover: #5c4625;
$brown-50:      rgba(117, 89, 47, 0.5);
$brown-30:      rgba(117, 89, 47, 0.3);
$light-navy-blue: #334c7f;
$elevation:     rgba(10, 24, 51, 0.1);

// OLD names, use above
$primary-blue: #476bb3;
$secondary-blue: #15417a;
$primary-hover-blue: #3c5a96;
$secondary-hover-blue: #386fc1;
$primary-blue-text: #235ba3;

$primary-white: #fff;
$secondary-white: #ebebeb;
$hover-white: #fff;
$primary-white-text: #fff;

$light-grey: #ededed;
$medium-grey: #c0c0c0;
$dark-grey: #767676;

$modal-color: #996633;

// Imported from Clinicaid (schedule + datepicker stuff)
$color-btn-addon-bg: #FFF;
$color-btn-addon-text: #333;
$color-btn-addon-border: #CCC;

$info-icon-color: rgb(30, 144, 255);
$color-info-box-top-bg: #555;
$color-info-box-top-text: #FFF;
$color-info-box-top-border: #999;
$color-info-box-content-bg: #F5F5F5;
$color-info-box-content-border: #B9B9B9;
$color-info-box-table-header-bg: #F5F5F5;
$color-info-box-table-header-border: #B9B9B9;
$color-info-box-table-bg: #EDEDED;
$color-info-box-table-bg-odd: #E1E1E1;
$color-info-box-table-border: #B9B9B9;

$color-bg-modal-header: #A4A4A4;

$color-timepicker-bg: #DDD;
$color-timepicker-text: #333;
$color-timepicker-border: #CCC;

// fax
$success-green: rgb(153, 226, 120);
$failure-red: rgb(188, 64, 71);

$input-color-invalid-background: #ffefef;
$input-color-invalid-border: #a94442;
$input-color-invalid-text: #a94442;
