
.uib-datepicker-inline-wrapper {
	display: inline-block;
	min-height: 187px;
}

.uib-datepicker {

	// custom colors for button styles used in the uib-datepicker

	thead {

		// override btn-default colors to match info-box header colors
		.btn-default {
			@include button-variant($color-info-box-top-text, $color-info-box-top-bg, lighten($color-info-box-top-bg, 10%));
		}

		// match info-box header colors
		th {
			//background-color: $color-info-box-top-bg;
			//color: $color-info-box-top-text;
			background-color: $white;
			color: $grey-06;
		}
	}

	tbody {

		// override btn-default colors
		.btn-default {
			//@include button-variant($color-btn-addon-text, $color-btn-addon-bg, $color-btn-addon-border);
			//background-color: $white;
			//color: $grey-06;
		}

		// override active style to be primary color
		.btn-default:active, .btn-default.active, .btn-default.dropdown-toggle
		{
			background-color: $primary;
			color: $white;
			.text-info { color: $grey-06; }
		}
	}

	// square buttons, including days
	.btn,
	.btn-sm,
	.btn-group-sm > .btn { border-radius: 0 }

	// no focus ring after selecting a day
	.uib-daypicker { outline: none !important; }
}


div.datepicker.datepicker-dropdown
{
	background-color: $white;
	thead
	{
		background-color: $white;
		text-shadow: none;

		color: $grey-03;

		th.prev {
			color: transparent;
			background: url($images-root + 'icon-16-arrow-left.svg') 50% center no-repeat;
		}
		th.next {
			color: transparent;
			background: url($images-root + 'icon-16-arrow-right.svg') 50% center no-repeat;
		}
		th.prev:hover, th.next:hover, th.datepicker-switch:hover {
			background-color: $grey-07;
		}
		th.dow
		{
			margin-bottom: 5px;
			font-size: 10px;
		}
	}
	tbody
	{
		background-color: white;
		td.active, td.active:hover, span.month.active, span.month.active:hover, span.year.active,
		span.year.active:hover
		{
			background-image: none;
			background-color: $primary;
			color: $white;
		}

		td.day
		{
			border-radius: 50%;
			width: 32px;
			height: 32px;
			font-size: 12px;
			color: $grey-02;

			&.today {
				background-color: $secondary;
				background-image: none;
				&:hover {
					background-color: $secondary-hover;
				}
			}
			&.active {
				background-color: $primary;
				color: $white;
				font-weight: bold;
				&:hover {
					background-color: $primary-hover;
				}
			}
			&.old, &.new {
				color: $grey-04;
			}
		}
	}
	tfoot
	{
		tr
		{
			th.active
			{
				background-color: $primary;
				color: $white;
				text-shadow: none;
			}
			th:hover
			{
				background-color: $grey-07;
			}
		}
	}
}
