// global styles
a {
	color: $color-neutral-darker;
	&:hover {
		color: $color-primary-base;
	}
}

body {
	h1 {
		@include juno-font-default-size(32px, bold);
	}

	h2 {
		@include juno-font-default-size(28px, bold);
	}

	h3 {
		@include juno-font-default-size(24px, bold);
	}

	h4 {
		@include juno-font-default-size(22px, bold);
	}

	h5 {
		@include juno-font-default-size(20px, bold);
	}

	h6 {
		@include juno-font-default-size(18px, bold);
	}
}

.body-normal {
	@include juno-font-body;
}

.body-bold {
	@include juno-font-body;
	font-weight: bold;
}

.body-small {
	@include juno-font-body-small();
}

.body-small-bold {
	@include juno-font-body-small();
	font-weight: bold;
}

.body-extra-small-bold {
	@include juno-font-body-smallest();
	font-weight: bold;
}

.body-smallest {
	@include juno-font-body-smallest();
}

.hand-hover {
	cursor: pointer;
}

.hand-hover:hover {
	text-decoration: none;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.align-items-flex-end {
	align-items: flex-end;
}

.justify-content-right {
	justify-content: right;
}

.justify-content-evenly {
	justify-content: space-evenly;
}
.justify-content-between {
	justify-content: space-between;
}

.flex-fill-row {
	flex: 1 1 100%;
}

.p-inline p {
	display: inline-block;
}

// more specific to override bootstrap
body {
	.no-margin-top {
		margin-top: 0;
	}

	.xl-margin-right {
		margin-right: $margin-xl;
	}

	.md-margin-top {
		margin-top: $margin-md;
	}

	.md-margin-right {
		margin-right: $margin-md;
	}

	.sm-margin-right {
		margin-right: $margin-sm;
	}

	.sm-margin-top {
		margin-top: $margin-sm;
	}

	.xl-margin-left {
		margin-left: $margin-xl;
	}

	.lg-margin {
		margin: $margin-lg;
	}

	.lg-margin-left {
		margin-left: $margin-lg;
	}

	.lg-margin-right {
		margin-right: $margin-lg;
	}

	.lg-margin-top {
		margin-top: $margin-lg;
	}

	.lg-margin-bottom {
		margin-bottom: $margin-lg;
	}

	.md-margin-left {
		margin-left: $margin-md;
	}

	.md-margin-top {
		margin-top: $margin-md;
	}

	.md-margin-bottom {
		margin-bottom: $margin-md;
	}
	.sm-margin-left {
		margin-left: $margin-sm;
	}

	.sm-margin-top {
	margin-top: $margin-sm;
}.no-margin-bottom {
		margin-bottom: 0;
	}

	.lg-padding {
		padding: $padding-lg;
	}

	.lg-padding-left {
		padding-left: $padding-lg;
	}

	.lg-padding-right {
		padding-right: $padding-lg;
	}

	.lg-padding-bottom {
		padding-bottom: $padding-lg;
	}

	.md-padding-left {
		padding-left: $padding-md;
	}

	.md-padding-right {
		padding-right: $padding-md;
	}

	.md-padding-bottom {
		padding-bottom: $padding-md;
	}

	.no-padding {
		padding: 0;
	}

	.no-padding-left {
	padding-left: 0;
	}

	.no-margin {
		margin: 0;
	}

	.no-float {
		float: none;
	}

	.float-left {
		float: left;
	}

	.float-right {
		float: right;
	}

	.icon-lg {
		font-size: $icon-lg;
	}

	.icon-md {
		font-size: $icon-md;
	}

	.icon-sm {
		font-size: $icon-sm;
	}
}

// Makes checkbox flush with input (as long as checkbox margin is 0)
.big-checkbox {
	height: 34px;
	width: 34px;
}

.max-width {
	width: 100%;
}

a,.clickable {
	&:hover {
		cursor: pointer;
	}
}

.blue-text {
	color: $color-primary-base;
}

.highlight,
.highlight:hover {
	color: $color-red-base;
}

.refused,
.refused:hover {
	color: #EAACAC;
}

.ineligible,
.ineligible:hover {
	color: $color-yellow-base;
}

.pending,
.pending:hover {
	color: $color-pink-base;
}

.abnormal-prev,
.abnormal-prev:hover {
	color: #FF4D4D;
}

.abnormal,
.abnormal:hover {
	color: $color-red-base;
}

/* page header css. page specific css should extend this */
%juno-page-header {
	height: $page-header-height;
	color: $color-neutral-white;
	background-color: $color-primary-base;
	padding-left: $page-header-height;

	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
}

%juno-content-control {
	color: $color-neutral-darker;
	background-color: $color-neutral-lightest;
}

%juno-primary-view-pane {
	overflow: auto;
	height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height});
}
%juno-primary-view-pane-tabs {
	overflow: auto;
	height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height} - #{$page-tabs-height});
}
%juno-primary-view-pane-tabs-subheader {
	overflow: auto;
	height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height} - #{$page-tabs-height} - #{$page-subheader-height});
}

.height-100 {
	height: 100%;
}

.height-50 {
	height: 50%;
}

.height-33 {
	height: 33%;
}

.height-25 {
	height: 25%;
}

.width-100 {
	width: 100%;
}

.width-80 {
	width: 80%;
}

.width-70 {
	width: 70%;
}

.width-60 {
	width: 60%;
}

.width-50 {
	width: 50%;
}

.width-40 {
	width: 40%;
}

.width-33 {
	width: 33%;
}

.width-25 {
	width: 25%;
}

@media print {
	.noprint {
		display: none !important;
	}
}