// global styles

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3 {
	font-weight: bold;
}


.hand-hover {
	cursor: pointer;
}

.hand-hover:hover {
	text-decoration: none;
}

.vertical-align {
	display: flex;
	align-items: center;
}
.align-items-center {
	align-items: center;
}
.align-items-baseline {
	align-items: baseline;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.flex-grow {
	flex-grow: 1;
}
.overflow-auto {
	overflow: auto;
}

.p-inline p {
	display: inline-block;
}

.no-margin-top {
	margin-top: 0;
}

.md-margin-top {
	margin-top: $margin-md;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

// Makes checkbox flush with input (as long as checkbox margin is 0)
.big-checkbox {
	height: 34px;
	width: 34px;
}

.max-width {
	width: 100%;
}

a,.clickable {
	&:hover {
		cursor: pointer;
	}
}

.blue-text {
	color: $primary-blue-text;
}

.highlight,
.highlight:hover {
	color: $red;
}

.refused,
.refused:hover {
	color: #EAACAC;
}

.ineligible,
.ineligible:hover {
	color: $yellow;
}

.pending,
.pending:hover {
	color: $pink;
}

.abnormal-prev,
.abnormal-prev:hover {
	color: #FF4D4D;
}

.abnormal,
.abnormal:hover {
	color: $red;
}

@media (max-width: 1730px) {
	.hidden-1730 {
		display: none !important;
	}
	.visible-1730 {
		display: block !important;
	}
}

@media (max-width: 1500px) {
	.hidden-1500 {
		display: none !important;
	}
	.visible-1500 {
		display: block !important;
	}
}

/* page header css. page specific css should extend this */
%juno-page-header {
	height: $btn-aside-size;
	color: $white;
	background-color: $primary;
	padding-left: $btn-aside-size;
}