
@import '../fonts/JunoIcons/stylesheet.css';

$images-root: '../images/';

$icon-logo: $images-root + 'logo.svg';
$icon-down-blue: $images-root + 'icon-16-chevron-down-blue.png';
$icon-down-white: $images-root + 'icon-16-chevron-down-white.png';

$image-zero-state-background: $images-root + 'zero-state-background.svg';
$image-zero-state-calendar: $images-root + 'zero-state-calendar.svg';

.icon {
}
.icon-logo {
	background-image: url($icon-logo);
}
.icon-down {
	background-image: url($icon-down-blue);
}

.image-zero-state-background {
	background-image: url($image-zero-state-background);
}
.image-zero-state-calendar {
	background-image: url($image-zero-state-calendar);
}
