
#parent {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*width should be 100%*/
}

#child {
	width: 100px;
	/*min width should give to center the div.*/
	margin: 0 auto;
	/*here it will make center */
}

#navbarlogo {
	height: $primary-navbar-height;
	padding: 10px;
}

li.cpp-note-list {
	background: $color-neutral-white;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 10px;
	cursor: pointer;
}

li.cpp-note-list:last-child {
	border-bottom: none;
}


#index-header {

	height: $primary-navbar-height;
	@include juno-tab-md($primary-navbar-height);
	@include juno-tab-color-scheme-dark;
	@include juno-font-tab;

	@include juno-breakpoints($screen-nav-lg, $screen-nav-md, 870px);

	.btn-icon {
		width: $primary-navbar-height;
		height: $primary-navbar-height;
		.icon-logo {
			width: 48px;
			height: 16px;
		}
	}

	.navbar-left {
		.patient-search-form {
			height: $primary-navbar-height;
			padding: 0 24px;

			.form-group {
				margin-bottom: 0;
				padding: 0 4px;

				$input-size: 32px;
				.form-control {
					height: $input-size;
					width: 304px;
					background-color: $color-neutral-white;
					border: 1px solid $color-neutral-light;
				}
				.btn {
					height: $input-size;
					padding-top: 0;
					padding-bottom: 0;
					color: $color-neutral-darker;
				}
				.btn-visible {
					height: $input-size;
					width: $input-size;
					background-color: $color-neutral-white;
					border: 1px solid $color-neutral-light;
					.icon {
						font-size: 20px;
						color: $color-neutral-darker;
					}
				}
			}

		}
	}
	.navbar-right-menu {
		height: $primary-navbar-height;

		.btn-icon {
			width: 24px;
			height: 24px;
		}
		.icon {
			font-size: 18px;
			color: $color-neutral-white;
		}

		span {
			padding: 2px;
		}
		.dropdown-toggle {
			color: $color-neutral-white;
		}
		.dropdown-menu {
			@include juno-tab-sm(24px);
			left: initial;
			right: 16px;
			top: $primary-navbar-height;
		}
	}
}
#index-content {
	height: calc(100vh - #{$primary-navbar-height});

	#content-left-pane {
		&.expanded {
			width: $left-aside-width;
			min-width: $left-aside-width;
		}
		&.collapsed {
			width: $left-aside-width-collapsed;
		}
	}
	#content-center-pane {
	}
	#content-right-pane {
		&.expanded {
			width: $right-aside-width;
			min-width: $right-aside-width;
		}
		&.collapsed {
			width: 0;
		}
	}
}