
#parent {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*width should be 100%*/
}

#child {
	width: 100px;
	/*min width should give to center the div.*/
	margin: 0 auto;
	/*here it will make center */
}

#navbarlogo {
	height: $primary-navbar-height;
	padding: 10px;
}

li.cpp-note-list {
	background: $color-neutral-white;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 10px;
	cursor: pointer;
}

li.cpp-note-list:last-child {
	border-bottom: none;
}


#index-content {
	height: calc(100vh - #{$primary-navbar-height});

	#content-left-pane {
		&.expanded {
			width: $left-aside-width;
			min-width: $left-aside-width;
		}
		&.collapsed {
			width: $left-aside-width-collapsed;
		}
	}
	#content-center-pane {
	}
	#content-right-pane {
		&.expanded {
			width: $right-aside-width;
			min-width: $right-aside-width;
		}
		&.collapsed {
			width: 0;
		}
	}
}

.toast-alert-area {
	position: absolute;
	top: calc(#{$primary-navbar-height} + #{$page-header-height});
	left: 0;
	right: 0;

	z-index: 2000;
	pointer-events: none;
}