
.juno-modal {
	.modal-dialog {
		width: $modal-width;
		height: $modal-height;
		.modal-content {
			height: 100%;
			display: flex;
			flex-direction: column;

			-webkit-border-radius: 16px !important;
			-moz-border-radius: 16px !important;
			border-radius: 16px !important;
			background: linear-gradient(-45deg, $color-neutral-white 50%, transparent 0) no-repeat 100% 100%,
			linear-gradient(247deg, #5c8be8, $color-primary-base 30%, $color-primary-base 64%, #355085) no-repeat;

			&.double-book {
				background: linear-gradient(-45deg, $color-neutral-white 50%, transparent 0) no-repeat 100% 100%,
				linear-gradient(247deg, $color-yellow-base, $color-yellow-base 30%, $color-yellow-dark 64%, $color-yellow-dark) no-repeat;
			}
			&.double-book-prevented {
				background: linear-gradient(-45deg, $color-neutral-white 50%, transparent 0) no-repeat 100% 100%,
				linear-gradient(247deg, $color-orange-base, $color-orange-base 30%, $color-orange-dark 64%, $color-orange-dark) no-repeat;
			}

			// header counts as modal top border, so don't apply the spacing to main content pane
			padding: 0 $modal-border-space $modal-border-space $modal-border-space;
			.modal-header {
				height: $modal-header-height;
				padding: 12px 0;
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
				border-bottom: 0;
				.modal-title , modal-title {
					display: flex;
					flex-grow: 1;
					flex-direction: row;
					align-items: center;
					.align-baseline {
						display: flex;
						flex-grow: 1;
						flex-direction: row;
						align-items: baseline;
						h4 {
							padding: 0 16px;
						}
					}
				}
				.modal-ctl-buttons {
					padding: 6px;
					align-items: center;
					justify-content: space-between;
					display: flex;

					.modal-patient-links {
						margin-right: 20px;
						.btn {
							width: 28px;
						}
					}
				}
				.icon-modal-ctl {
					font-size: 24px;
					color: $color-primary-base;
				}
				.icon-modal-header {
					font-size: 40px;
					color: $color-neutral-white;
				}
			}
			.modal-body {
				height: $modal-body-height;
				background-color: $color-neutral-white;
				border-radius: 16px 16px 0 0;
				padding: 0;
			}
			.modal-footer {
				height: $modal-footer-height;
				border-radius: 0 0 16px 16px;
				background-color: $color-neutral-white;
				border: 0;
				.btn {
					width: 112px;
					height: 32px;

					&.btn-primary {
						&.double-book {
							background-color: $color-yellow-base;
							border-color: $color-yellow-dark;
						}
						&.double-book-prevented {
							background-color: $color-orange-base;
							border-color: $color-orange-dark;
						}
					}
				}
			}

			.form-control-static {
				min-height: 10px;
			}
		}
	}
	label {
		text-align: right;
		padding: 3px 2px;
	}
	select {
		@include juno-select(16px);
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0;

		font-size: 18px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.44;
		letter-spacing: -0.7px;
		color: $color-neutral-white;
	}
	h4 {
		margin-top: 0;
		margin-bottom: 0;

		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.86;
		letter-spacing: -0.6px;
		color: $color-neutral-white;
	}
}

//juno-modal {
//	display: flex;
//	flex-direction: column;
//	flex-grow: 1;
//
//	.modal-header {
//		display: flex;
//		align-items: center;
//		flex-direction: row;
//		justify-content: space-between;
//		border-bottom: 0;
//
//		.modal-title {
//			display: flex;
//			flex-grow: 1;
//			flex-direction: row;
//			align-items: center;
//			.align-baseline {
//				display: flex;
//				flex-grow: 1;
//				flex-direction: row;
//				align-items: baseline;
//				h4 {
//					padding: 0 16px;
//				}
//			}
//		}
//		.modal-ctl-buttons {
//			padding: 6px;
//			align-items: center;
//			justify-content: space-between;
//			display: flex;
//
//			.modal-patient-links {
//				margin-right: 20px;
//				.btn {
//					width: 28px;
//				}
//			}
//		}
//		.icon-modal-ctl {
//			font-size: 24px;
//			color: $color-primary-base;
//		}
//		.icon-modal-header {
//			font-size: 40px;
//			color: $color-neutral-white;
//		}
//	}
//	.modal-body {
//		.form-horizontal {
//			padding: 0 $modal-border-space $modal-border-space $modal-border-space;
//		}
//	}
//}
