
//@media (min-width: $screen-md-min) {
//	.modal-wide {
//		width: 1200px;
//	}
//}
//
//@media (min-width: 1000px) and (max-width: $screen-md-min)  {
//	.modal-wide {
//		width: 900px;
//	}
//}
//
//@media (min-width: 600px)  and (max-width: 1000px){
//	.modal-wide {
//		width: 654px;
//	}
//}

//.modal-header {
//	background-color: $color-bg-modal-header;
//
//	.close {
//		margin-top: 2px;
//	}
//
//	.form-inline .form-control {
//		margin-right: 15px;
//	}
//}

//.modal-content {
//	border-radius: 0;
//}

//.modal-title {
//	color: white;
//	//@include text-shadow(0 0 0.5px #888);
//}

//.close {
//	opacity: 0.3;
//}

.juno-modal {
	.modal-dialog {
		width: 960px;
		height: 584px;
		.modal-content {
			height: 100%;
			display: flex;
			flex-direction: column;

			-webkit-border-radius: 16px !important;
			-moz-border-radius: 16px !important;
			border-radius: 16px !important;
			background: linear-gradient(-45deg, $white 50%, transparent 0) no-repeat 100% 100%,
			linear-gradient(247deg, #5c8be8, $primary 30%, $primary 64%, #355085) no-repeat;

			&.alert-color {
				background: linear-gradient(-45deg, $white 50%, transparent 0) no-repeat 100% 100%,
				linear-gradient(247deg, $yellow, $yellow 30%, $yellow-hover 64%, $yellow-hover) no-repeat;
			}

			padding: 0 16px 16px 16px;
			.modal-header {
				padding: 12px 0;
			}
			.modal-body {
				background-color: $white;
				border-radius: 16px 16px 0 0;
				padding: 0;
				flex-grow: 1;
			}
			.modal-footer {
				border-radius: 0 0 16px 16px;
				background-color: $white;
				border: 0;
				.btn {
					color: $primary;
					background-color: $white;
					border: solid 1px $grey-07;
					font-weight: bold;
					width: 128px;
					height: 40px;

					&.btn-success {
						color: $white;
						background-color: $green;
						border: solid 1px $green-hover;
					}
					&.btn-primary {
						color: $white;
						background-color: $primary;
						border: solid 1px $primary-hover;
					}
				}
			}

			.form-control-static {
				min-height: 10px;
			}
		}
	}
	label {
		font-family: "Arial", "Helvetica", sans-serif;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: $grey-04;
		padding: 3px 2px;
	}
	select, input, textarea {
		border-radius: 8px;
		border: solid 1px $grey-07;
		background-color: $white;
		padding: 8px;

		font-family: "Arial", "Helvetica", sans-serif;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $grey-05;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0;

		font-family: "Arial", "Helvetica", sans-serif;
		font-size: 18px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.44;
		letter-spacing: -0.7px;
		color: $white;
	}
	h4 {
		margin-top: 0;
		margin-bottom: 0;

		font-family: "Arial", "Helvetica", sans-serif;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.86;
		letter-spacing: -0.6px;
		color: $white;
	}
}
