// LESS variables for global use, imported first so can be referenced in bootstrap customization

// Margins
$margin-xl: 24px;
$margin-lg: 16px;
$margin-md: 8px;
$margin-sm: 4px;

// Padding
$padding-xl: 24px;
$padding-lg: 16px;
$padding-md: 8px;
$padding-sm: 4px;

// icon sizes
$icon-lg: 60px;
$icon-md: 40px;
$icon-sm: 30px;

// Other
$left-aside-width: 400px;
$left-aside-width-collapsed: 0;

$right-aside-width: 400px;
$right-aside-width-collapsed: 0;

$primary-navbar-height: 56px;
$page-header-height: 48px;
$page-tabs-height: 40px;
$page-tabs-height-alt: 32px;
$page-subheader-height: 56px;

$modal-height: 512px;
$modal-width: 800px;
$modal-height-sml: 256px;
$modal-width-sml: 512px;
$modal-height-med-sml: 356px;
$modal-width-med-sml: 456px;

$modal-default-header-height: 48px;
$modal-default-footer-height: 64px;

$modal-border-space: 8px;


$form-input-height: 32px;

// Media queries breakpoints
// $screen-nav-lg-max: 1305px;
$screen-nav-lg: 1540px;
$screen-nav-md: 1290px;
$screen-nav-sm: 768px; //matches the angular.js mobile check size, probably should not be changed
