// Less Variables
@import "variables";
@import "colorPalette";
@import "imageVariables";
@import "mixins/junoFonts";
@import "mixins/junoSelect";
@import "mixins/junoTab";
@import "mixins/junoPageSizing";
// Custom Bootstrap
@import "bootstrap/bootstrap_variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap/dropdown";
@import "bootstrap/badges";
// UIB overrides
@import "directives/uib-datepicker";
// bootstrap-timepicker does not provide a CSS file so compile as SCSS
@import "bootstrap-timepicker/timepicker";
// Global stuff
@import "global";
// TODO: pre-existing CSS files, need to be reorganized
@import "navbar-fixed-top";
@import "forms";
@import "buttons";
@import "index";
@import "directives/date_picker";
@import "directives/time_picker";
@import "directives/toggle-switch";
@import "directives/juno-checkbox";
@import "directives/juno-select";
@import "directives/juno-typeahead";
@import "directives/juno-loading";
@import "../src/common/components/modal";
// Section-specific things
@import "../src/layout/primaryNav";
@import "../src/layout/leftAside";
@import "../src/help/support";
@import "../src/schedule/schedule";
@import "../src/dashboard/dashboard";
@import "../src/patient/patient";
@import "../src/patient/demographicCard";
@import "../src/report/reports";
@import "../src/record/record";
@import "../src/record/details/details";
@import "../src/record/details/swipecard";
@import "../src/record/summary/summary";
@import "../src/record/summary/summaryModule";
@import "../src/record/summary/encounterNoteList";
@import "../src/settings/settings";
@import "../src/tickler/tickler";
@import "../src/consults/consults";
@import "../src/admin/integration/know2act/Know2act";
@import "../src/admin/integration/fax/fax";
@import "../src/record/forms/forms";
@import "../src/record/forms/components/groupSelector/groupSelector";
@import "../src/record/forms/components/modeSelector/modeSelector";
@import "../src/record/forms/components/formView/formView";