// Less Variables
@import "variables";
@import "colorPalette";
@import "imageVariables";
@import "mixins/junoCheckbox";
@import "mixins/junoFonts";
@import "mixins/junoFormInputs";
@import "mixins/junoSelect";
@import "mixins/junoTab";
@import "mixins/junoTable";
@import "mixins/junoPageSizing";
@import "mixins/junoToggle";
@import "themes/junoThemeBase";

// Custom Bootstrap
@import "bootstrap/bootstrap_variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap/dropdown";
@import "bootstrap/badges";
// UIB overrides
@import "directives/uib-datepicker";
// bootstrap-timepicker does not provide a CSS file so compile as SCSS
@import "bootstrap-timepicker/timepicker";
// Global stuff
@import "global";
// TODO-legacy: pre-existing CSS files, need to be reorganized
@import "navbar-fixed-top";
@import "forms";
@import "buttons";
@import "index";
@import "directives/date_picker";
@import "directives/time_picker";
@import "directives/juno-toggle";
@import "directives/juno-radio";
@import "directives/juno-select";
@import "directives/juno-typeahead";
@import "../src/common/directives/clinicaid/ca_field";
@import "../src/common/components/junoLoadingIndicator";
@import "../src/common/components/modal";
@import "../src/common/components/filterPanel/filterPanel";
@import "../src/common/components/junoButton/junoButton";
@import "../src/common/components/junoRoundButton/junoRoundButton";
@import "../src/common/components/junoCheckBox/junoCheckBox";
@import "../src/common/components/junoFileChooser/junoFileChooser";
@import "../src/common/components/junoInput/junoInput";
@import "../src/common/components/junoInputSave/junoInputSave";
@import "../src/common/components/junoListItemSelector/junoListItemSelector";
@import "../src/common/components/junoPatientSelect/junoPatientSelect";
@import "../src/common/components/junoProgressBar/junoProgressBar";
@import "../src/common/components/junoSelect/junoSelect";
@import "../src/common/components/junoTab/junoTab";
@import "../src/common/components/junoTab/components/swimLaneTab/swimLaneTab";
@import "../src/common/components/junoToggle/junoToggle";
@import "../src/common/components/junoDateSelect/junoDateSelect";
@import "../src/common/components/junoTimeSelect/junoTimeSelect";
@import "../src/common/components/junoTypeahead/junoTypeahead";
@import "../src/common/components/junoDivider/junoDivider";
@import "../src/common/components/junoComponentStyles";
@import "../src/common/components/zeroStateDisplay";
@import "../src/common/components/accordionList/accordionList";
@import "../src/common/components/iconCard/iconCard";
@import "../src/common/components/panel/_panel.scss";
@import "../src/common/modals/junoAlert/junoAlert";
@import "../src/common/modals/junoInputModal/junoInputModal";
@import "../src/common/modals/junoProgressModal/junoProgressModal";
@import "../src/common/modals/junoSimpleModal/junoSimpleModal";
@import "../src/common/modals/mhaPatientDetailsModal/mhaPatientDetailsModal";
@import "../src/common/modals/appointmentQueueModal/appointmentQueueModal";
@import "../src/common/modals/bookAppointmentModal/bookAppointmentModal";
@import "../src/common/modals/appointmentQueueModal/components/availabilitySettings/availabilitySettings";

// Section-specific things
@import "../src/layout/primaryNav";
@import "../src/layout/leftAside";
@import "../src/layout/components/appointmentQueue/appointmentQueue";
@import "../src/layout/components/appointmentQueue/components/appointmentCard/appointmentCard";
@import "../src/layout/components/appointmentQueue/modals/addQueuedAppointmentModal/addQueuedAppointmentModal";
@import "../src/help/support";
@import "../src/schedule/schedule";
@import "../src/schedule/eventModal";
@import "../src/schedule/scheduleSearchModal";
@import "../src/dashboard/dashboard";
@import "../src/decisionSupport/rules/dsRuleEditModal";
@import "../src/decisionSupport/rules/dsRuleBuilder";
@import "../src/patient/addDemographicModal/addDemographicModal";
@import "../src/patient/demographicCard";
@import "../src/patient/search/patientSearch";
@import "../src/report/reports";
@import "../src/flowsheet/flowsheetEdit";
@import "../src/flowsheet/components/flowsheetItemGroup";
@import "../src/flowsheet/components/flowsheetEditItem";
@import "../src/flowsheet/components/flowsheetItemRule";

// patient record
@import "../src/record/record";
@import "../src/record/details/details";
@import "../src/record/details/swipecard";
@import "../src/record/details/components/mhaPatientConnection/mhaPatientConnection";
@import "../src/record/details/components/sectionCommon";
@import "../src/record/details/components/demographicSection/demographicSection";
@import "../src/record/details/components/contactSection/contactSection";
@import "../src/record/details/components/healthInsuranceSection/healthInsuranceSection";
@import "../src/record/details/components/careTeamSection/careTeamSection";
@import "../src/record/details/components/additionalInformationSection/additionalInformationSection";
@import "../src/record/details/components/patientInviteConfirmModal/mhaPatientInviteConfirmModal";
@import "../src/record/details/components/rosteredHistory/rosteredHistoryModal";
@import "../src/record/flowsheet/flowsheet";
@import "../src/record/flowsheet/components/flowsheetItem";
@import "../src/record/forms/forms";
@import "../src/record/forms/components/groupSelector/groupSelector";
@import "../src/record/forms/components/modeSelector/modeSelector";
@import "../src/record/forms/components/formView/formView";
@import "../src/record/summary/summary";
@import "../src/record/summary/summaryModule";
@import "../src/record/summary/encounterNoteList";
@import "../src/record/tracker/healthTracker";

@import "../src/settings/settings";
@import "../src/tickler/tickler";
@import "../src/consults/consults";

// admin
@import "../src/admin/admin";
@import "../src/admin/systemProperties/scss/common";
@import "../src/admin/systemProperties/components/junoSelectSave/junoSelectSave";
@import "../src/admin/section/know2act/Know2act";
@import "../src/admin/section/fax/fax";
@import "../src/admin/section/landingPage/landingPage";
@import "../src/admin/section/integrationModules/integrationModules";
@import "../src/admin/section/panelManagement/panelManagement";
@import "../src/admin/section/securityRole/securityRoleConfig";
@import "../src/admin/section/iceFall/iceFall";
@import "../src/admin/section/iceFall/settings/iceFallAdminSettings";
@import "../src/admin/section/iceFall/activity/iceFallAdminActivity";
@import "../src/admin/section/editProviderPage/editProviderAdmin";
@import "../src/admin/section/dataManagement/demographicImport/demographicImport";
@import "../src/admin/section/dataManagement/demographicExport/demographicExport";
@import "../src/admin/section/manageUserPage/manageUserAdmin";
@import "../src/admin/section/manageAppointmentQueuesPage/manageAppointmentQueues";
@import "../src/admin/section/imdHealth/imdHealthAdmin";
@import "../src/admin/section/imdHealth/imdHealthLanding";
@import "../src/admin/section/rosterStatus/modals/editRosterStatusModal";
@import "../src/admin/section/frameContent/frameContent";
