<div id="nc\${index}" style="display:block;" class="note">

    <div id="n\${note.noteId}">

        <div id="wrapper\${note.noteId}" style="color:#FFFFFF;background-color:\${colour};color:white;font-size:10px;">

            <div id="txt\${note.noteId}" style="display:inline-block;overflow-wrap:break-word;word-wrap:break-word;max-width:60%;">
                \${note.note}
            </div>
            <div id="observation671898" style="display:inline-block;font-size: 11px; float: right; margin-right: 3px;">
                Encounter Date:&nbsp;
                <span id="obs">\${formattedObservationDate}</span>
                &nbsp;
                {{if note.revision}}
                Rev

                <a style="color:#ddddff;" href="#" onclick="return junoEncounter.showHistory('\${note.noteId}', event);">\${note.revision}</a>
                {{/if}}
                {{if note.eformData || note.encounterForm || note.}}
                <a class="links" title="View eForm" id="viewEFORM122582" href="#"
                   onclick="\${onClickString};return false;"
                   style="float: right; margin-right: 5px; font-size: 10px;"> View </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
