{{! ============================================================================== }}
{{! NOTE: This template is duplicated in junoEncounter.jsp and any                 }}
{{!       modifications will need to be done in both places.  This should be       }}
{{!       changed at some point to share a template.                               }}
{{! ============================================================================== }}
<li class="encounterNote \${rowClass}">
    {{if showExpand }}
    <a href="#" class="expandCasemgmtSidebar" onclick="junoEncounter.getSectionRemote('\${sectionName}', true, false); return false;" title="\${remainingNotes} more items">
        <img id="imgpreventions5" src="\${contextPath}/oscarEncounter/graphics/expand.gif" />&nbsp;&nbsp;
    </a>
    {{else showCollapse }}
    <a href="#" class="expandCasemgmtSidebar" onclick="junoEncounter.getSectionRemote('\${sectionName}', false, false); return false;" title="\${remainingNotes} more items">
        <img id="imgpreventions5" src="\${contextPath}/oscarMessenger/img/collapse.gif" />&nbsp;&nbsp;
    </a>
    {{else}}
    <a border="0" class="expandCasemgmtSidebar">
        <img id="img\${sectionName}1" src="\${contextPath}/images/clear.gif" />&nbsp;&nbsp;
    </a>
    {{/if}}
    <span class="encounterNoteTitle">
					<a
                            class="links"
                            style="color: \${colour};"
                            onmouseover="this.className='linkhover'"
                            onmouseout="this.className='links'"
                            href="#"
                            onclick="\${onClick};return false;"
                            title="\${title}"
                    >
						\${text}
					</a>
				</span>
    <span class="encounterNoteDate \${rowClass}">
					{{if updateDateFormatted}}...{{/if}}<a
            class="links"
            style="margin-right: 2px; color: \${colour};"
            onmouseover="this.className='linkhover'"
            onmouseout="this.className='links'"
            href="#"
            onclick="\${onClick};return false;"
            title="\${title}"
    >
						\${value}
						\${updateDateFormatted}
					</a>
				</span>
</li>
