/old
/out
/target
/eclipse-target
/override.properties
/override_log4j.xml
/deploy.sh
/foo.sh
/bin
/oscar.properties
/myoscar_client_override.xml
/velocity.log
oscar.iml
database/database.iml
src/main/java/org/caisi/caisi.iml
src/main/main.iml
src/test/test.iml
utils/tasks/tasks.iml
.idea
/override_config.xml
/oscar_data_dir
src/main/resources/uiResources_*.properties
*.DS_Store
.classpath
.vscode/*
.jsbeautifyrc
/oscarhost_setup_files*
.project
.settings/
database/database.iml
src/main/java/org/caisi/caisi.iml
src/main/main.iml
src/test/test.iml
utils/tasks/tasks.iml
classpath.txt
src/main/webapp/web/
run_embedded.sh
id_file
