
#patient-list-template {

	.tab-content {
		height: 100%;
		overflow: hidden;
	}

	.appt-aside-container {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.btn-aside-container {
		position:absolute;
		left: 0;
		z-index: 1000;

		.btn-aside {
			width: $page-header-height;
			height: $page-header-height;
			background-color: #3c5a96;
			border-radius: 0;
			border: 1px solid transparent;
			&:focus {
				outline: 1px solid transparent !important;
			}
			.icon {
				font-size: 32px;
				color: $color-neutral-white;
			}
		}
	}

	.container-telehealth {
		position: absolute;
		top: 35%;
		left: 48%;
		z-index: 2000;
	}

	.icon-video {
		font-size: 20px;
		object-fit: contain;
	}

	.patient-list-header {
		@extend %juno-page-header;
		border-right: $color-primary-dark 8px solid;
		.form-control {
			@include juno-form-colour-scheme-blue;
		}
	}

	.patient-list-content {
		height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height});

		.patient-list-nav {
			$margin-height: 4px;
			@include juno-tab-md(calc(#{$page-tabs-height} - #{$margin-height}));
			@include juno-tab-color-scheme-primary;
			@include juno-font-tab;
			border-right: $color-primary-dark 8px solid !important;
			li a {
				margin-top: $margin-height;
				margin-left: $margin-height;
				margin-right: $margin-height;
			}
		}

		.content-controller {
			@extend %juno-content-control;
			height: $page-subheader-height;
			border-right: $color-neutral-lighter 8px solid;
			.form-control {
				background-color: $color-neutral-white;
			}

			$input-height: $form-input-height;
			.btn-icon {
				width: $input-height;
				height: $input-height;
				&.visible {
					background-color: $color-neutral-white;
				}
				.icon {
					font-size: 16px;
					color: $color-primary-base;
				}
			}
			.form-inline {
				button:focus {
					outline: none;
				}
				.form-group {
					margin-left: 8px;
				}
				.form-group:first-child {
					margin-left: 0
				}
			}
		}
		.content-display {
			@extend %juno-primary-view-pane-tabs-subheader;
			border-right: $color-neutral-lighter 8px solid;

			.list-group {
				.list-group-item {
					padding: 0;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-bottom: 2px solid $color-neutral-lightest;

					.list-group-clickable {
						padding: 10px 15px;
					}
				}
			}
		}

		.patient-list-no-access {
			@extend %juno-primary-view-pane;
			border-right: $color-neutral-lighter 8px solid;
		}
	}

	.patient-name-aside {
		font-size: 14px;
		font-weight: bold;
	}
}

#left-aside-hidden {
	position: fixed;
	top: $primary-navbar-height;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	padding-left: 0;
	padding-right: 0;
	background-color: $color-neutral-lighter;
	width: $left-aside-width-collapsed;
}