
#patient-list-template {

	.btn-aside-container {
		position:absolute;
		left: 0;
		z-index: 1000;
	}

	.patient-list-header {
		@extend %juno-page-header;
		border-right: $primary-hover 8px solid;
	}

	.patient-list-content {
		height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height});

		#patient-list-nav {
			$margin-height: 4px;
			@include juno-tab-md(calc(#{$page-tabs-height} - #{$margin-height}));
			@include juno-tab-color-scheme-primary;
			@include juno-font-tab;
			border-right: $primary-hover 8px solid !important;
			li a {
				margin-top: $margin-height;
				margin-left: $margin-height;
				margin-right: $margin-height;
			}
		}

		.content-controller {
			@extend %juno-content-control;
			height: $page-header-height;
			border-right: $grey-07 8px solid;
			.form-control {
				background-color: $white;
			}

			$input-height: $form-input-height;
			.btn-icon {
				width: $input-height;
				height: $input-height;
				&.visible {
					background-color: $white;
				}
				.icon {
					width: 20px;
					height: 20px;
				}
			}
			.form-inline {
				button:focus {
					outline: none;
				}
				.form-group {
					margin-left: 8px;
				}
				.form-group:first-child {
					margin-left: 0
				}
			}
		}
		.content-display {
			border-right: $grey-07 8px solid;

			.list-group {
				.list-group-item {
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-bottom: 2px solid $grey-08;
				}
			}
		}
	}
}




#left-aside {
	position: fixed;
	top: $primary-navbar-height;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $light-grey;
	padding-left: 0;
	padding-right: 0;
	li {
		color: $secondary-white;
	}
	.list-group-item {
		border-right: 0;
	}
	#left-aside-header {
		background-color: $secondary-blue;
		margin-right: 0;
		h1 {
			margin: 0;
		}
		a {
			color: $secondary-white;
			&:hover {
				color: $hover-white;
			}
		}
		#left-pane-header-title {
			text-align: center;
			font-size: 20px;
			color: $secondary-white;
		}
	}
	#patient-search {
		padding: 20px;
	}
}

.toggle-patient-list-button {
	height: $page-header-height;
	width: $left-aside-width-collapsed;
	background-color: $secondary-blue;
	border-style: solid;
	border-width: 1px;
	border-color: $primary-blue;
	border-bottom: 0;
	border-top: 0;
	border-left: 0;
	&:hover {
		background-color: $secondary-hover-blue;
	}
	.glyphicon-chevron-left {
		color: $secondary-white;
	}
	.glyphicon-chevron-right {
		color: $secondary-white;
	}
}
#left-aside-hidden {
	position: fixed;
	top: $primary-navbar-height;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	padding-left: 0;
	padding-right: 0;
	background-color: $light-grey;
	width: $left-aside-width-collapsed;
}