/**
 * custom css for the field-toggle-juno directive
 */

.juno-checkbox {

	$check-size: 16px;
	$input-height: $form-input-height;
	$vertical-margin: calc((#{$input-height} - #{$check-size})/2);

	display: flex;
	align-items: center;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-top: 0;
	padding-bottom: 0;

	/* Hide default HTML checkbox */
	input {
		position: absolute;
		display: none;

		/* When the checkbox is checked, add a background */
		&:checked + .checkmark {
			display: flex;
			align-items: center;
			justify-content: center;
			background-size: 100%;
			border: solid 1px $color-primary-dark;
			background-color: $color-primary-base;
			.icon {
				color: $color-neutral-white;
			}
		}
		&:disabled + .checkmark {
			background-color: $color-neutral-lightest;
			border-color: $color-neutral-grey;
		}
	}
	/* style a custom checkbox */
	.checkmark {
		height: $check-size;
		width: $check-size;
		min-width: $check-size;
		min-height: $check-size;
		background-color: $color-neutral-white;
		border: solid 1px $color-primary-light;
		border-radius: 4px;
		cursor: pointer;
		margin: $vertical-margin 0 $vertical-margin;
		padding: 0;
		.icon {
			font-size: 12px;
			color: transparent;
		}
	}
}

