
// scss for the custom select dropdown directives
.directive-appt-status-select {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 4px;

	select {
		@include juno-select(16px);
		height: $form-input-height;
		border: 0;
		border-radius: 0;
		box-shadow: transparent 0 0 0 0;
		color: $white;
	}

	$icon-padding: 5px;
	$icon-size: calc(#{$form-input-height} - (#{$icon-padding} * 2));
	.icon-wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 $icon-padding;

		.icon {
			width: $icon-size;
			height: $icon-size;
		}
	}
}
