/**
 * custom css for the field-toggle-juno directive
 */

.juno-radio {
	display: flex;
	align-items: center;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-top: 0;
	padding-bottom: 0;

	/* Hide default HTML checkbox */
	input {
		position: absolute;
		display: none;

		/* When the checkbox is checked, add a background */
		&:checked + .radio {
			display: flex;
			align-items: center;
			justify-content: center;
			background-size: 100%;
			border: solid 1px $color-primary-dark;

			// create the selected 'dot'
			&:after {
				content: "";
				top: 50%;
				left: 50%;
				width: 40%;
				height: 40%;
				border-radius: 50%;
				background: $color-primary-base;
			}
		}
	}
	/* style a custom checkbox */
	.radio {
		height: 16px;
		width: 16px;
		background-color: $color-neutral-white;
		border: solid 1px $color-primary-light;
		border-radius: 50%;
		cursor: pointer;
		margin: 0;
		padding: 0;
	}
}

