/**
 * custom css for the field-toggle-juno directive
 */

.juno-checkbox {
	display: flex;
	align-items: center;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-top: 0;
	padding-bottom: 0;

	/* Hide default HTML checkbox */
	input {
		position: absolute;
		display: none;

		/* When the checkbox is checked, add a background */
		&:checked + .checkmark {
			display: flex;
			align-items: center;
			justify-content: center;
			background-size: 100%;
			border: solid 1px $color-primary-dark;
			background-color: $color-primary-base;
			.icon {
				color: $color-neutral-white;
			}
		}
	}
	/* style a custom checkbox */
	.checkmark {
		height: 20px;
		width: 20px;
		background-color: $color-neutral-white;
		border: solid 1px $color-neutral-lighter;
		border-radius: 4px;
		cursor: pointer;
		margin: 0;
		padding: 0;
		.icon {
			font-size: 20px;
			color: transparent;
		}
	}
}

