// Date picker overrides
.uib-datepicker-popup {
	background-color: $white;
	padding: 10px;
	.uib-daypicker {
		&:focus {
			outline: none;
		}
		background-color: $white;
		table {
			border: none;
		}
	}
	.dropdown-menu {
		background-color: $white;
	}
	.btn-info {
		&.active {
			.text-info {
				color: $white;
			}
		}
		.text-info {
			color: $primary-hover;
		}
		background-color: $primary;
	}
	.uib-button-bar {
		.uib-datepicker-current {
			border-color: $primary;
		}
	}
}

.datepicker-wrapper {
	margin: 0;
}