// global styles
.vertical-align {
	display: flex;
	align-items: center;
}

.p-inline p {
	display: inline-block;
}

.margin-bottom {
	margin-bottom: 20px;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.blue-text {
	color: $primary-blue-text;
}