// global styles
.vertical-align {
    display: flex;
    align-items: center;
}

.p-inline p {
    display: inline-block;
}

.margin-bottom {
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}