// global styles
.vertical-align {
	display: flex;
	align-items: center;
}

.p-inline p {
	display: inline-block;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-top {
	margin-top: 20px;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.max-width {
	width: 100%;
}

.blue-text {
	color: $primary-blue-text;
}

a {
	&:hover {
		cursor: pointer;
	}
}

@media (max-width: 1730px) {
	.hidden-1730 {
		display: none !important;
	}
	.visible-1730 {
		display: block !important;
	}
}

@media (max-width: 1500px) {
	.hidden-1500 {
		display: none !important;
	}
	.visible-1500 {
		display: block !important;
	}
}