// global styles
.vertical-align {
	display: flex;
	align-items: center;
}

.p-inline p {
	display: inline-block;
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

// Displays a red asterisk next to form labels if they are marked as required
.form-group {
	.required:after {
		content: "*";
		color: red;
	}
}

// Hides wrapping buttons, allowing for icon buttons
.icon-button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
}

// Makes checkbox flush with input (as long as checkbox margin is 0)
.big-checkbox {
	height: 34px;
	width: 34px;
}

.max-width {
	width: 100%;
}

.blue-text {
	color: $primary-blue-text;
}

.clickable {
	&:hover {
		cursor: pointer;
	}
}

a {
	&:hover {
		cursor: pointer;
	}
}

.btn-warning-static {
	background-color: $btn-warning-bg;
	cursor: default;
	color: #fff;
}
.btn-warning-static:focus,
.btn-warning-static:visited,
.btn-warning-static:hover
{
	color: #fff;
}

.btn-warning-static:active {
	-moz-box-shadow:    inset 0 0 0px $btn-warning-bg;
	-webkit-box-shadow: inset 0 0 0px $btn-warning-bg;
	box-shadow:         inset 0 0 0px $btn-warning-bg;
	color: #fff;
}

@media (max-width: 1730px) {
	.hidden-1730 {
		display: none !important;
	}
	.visible-1730 {
		display: block !important;
	}
}

@media (max-width: 1500px) {
	.hidden-1500 {
		display: none !important;
	}
	.visible-1500 {
		display: block !important;
	}
}