body {
	// padding: 70px 0 0 0;
	padding-top: 50px;
}

.hand-hover {
	cursor: pointer;
	cursor: hand;
}

.hand-hover:hover {
	text-decoration: none;
}

#parent {
	position: fixed;
	bottom: 0px;
	width: 100%;
	/*width should be 100%*/
}

#child {
	width: 100px;
	/*min width should give to center the div.*/
	margin: 0px auto;
	/*here it will make center */
}

#navbarlogo {
	height: 50px;
	padding: 10px;
}

li.cpp-note-list {
	background: #fff;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 10px;
	cursor: pointer;
}

li.cpp-note-list:last-child {
	border-bottom: none;
}

.highlight,
.highlight:hover {
	color: #FF0000;
}

.refused,
.refused:hover {
	color: #EAACAC;
}

.ineligible,
.ineligible:hover {
	color: #FFCC24;
}

.pending,
.pending:hover {
	color: #FF00FF;
}

.abnormal-prev,
.abnormal-prev:hover {
	color: #FF4D4D;
}

.abnormal,
.abnormal:hover {
	color: red;
}

#main-nav {
	height: 50px;
	.navbar-right-menu {
		.fa {
			color: $primary-white-text;
		}
	}
}

#patient-list-template {
	#left-pane {
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: $light-grey;
		padding-left: 0;
		padding-right: 0;
		li {
			color: $secondary-white;
		}
		.list-group-item {
			border-right: 0;
		}
		#left-pane-header {
			background-color: $secondary-blue;
			margin-right: 0px;
			h1 {
				margin: 0;
			}
			a {
				color: $secondary-white;
				&:hover {
					color: $hover-white;
				}
			}
			#left-pane-header-title {
				text-align: center;
				font-size: 20px;
				color: $secondary-white;
			}
		}
		#patient-search {
			padding: 20px;
		}
	}
	#right-pane {
		margin-top: $margin-sm;
	}
	.toggle-patient-list-button {
		height: 90px;
		width: $toggle-patient-list-btn-width;
		background-color: $secondary-blue;
		border-style: solid;
		border-width: 1px;
		border-color: $primary-blue;
		border-bottom: 0;
		border-top: 0;
		border-left: 0;
		&:hover {
			background-color: $secondary-hover-blue;
		}
		.glyphicon-chevron-left {
			color: $secondary-white;
		}
		.glyphicon-chevron-right {
			color: $secondary-white;
		}
	}
	#left-pane-hidden {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		background-color: $light-grey;
		width: $toggle-patient-list-btn-width;
	} // When the left-pane is hidden we need to account for the fixed toggle button
	.right-pane-padded {
		padding-left: $toggle-patient-list-btn-width + 10px;
	}
}

@media (max-width: 991px) {
	#left-pane .list-group-item {
		border-right: 1px solid #dddddd;
	}
	#left-pane-header-title {
		font-size: 18px;
	}
}