#note-editor-container {
	display: flex;
	justify-content: center;
	#note-editor,
	#note-editor-minimized {
		position: fixed;
		bottom: 0;
		top: auto !important; // Using !important to override the JqueryUI styling
		z-index: 1040;
	}

	#note-editor-minimized {
		background-color: $secondary-blue;
		padding: 0;
		color: $primary-white-text;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}

	#note-editor {
		background-color: $light-grey;
		/* pre-emptively set the left edge due to a weird jqueryui bug 
		in which the left edge is not set if the user resizes the element from the right before doing any other resizing actions.
		This causes the element to expand from both sides when resizing to the right*/
		left: 30%;
		#note-editor-header {
			color: $primary-white-text;
			background-color: $secondary-blue;
			margin-bottom: $margin-md;
			#note-editor-minimize-button {
				&:hover {
					span {
						color: $secondary-hover-blue;
					}
				}
			}
		}
		.row {
			margin-bottom: $margin-sm;
		}
		.note-editor-textarea {
			resize: none;
		}
		#note-editor-enc-date {
			padding-right: 0;
			p {
				margin: 0;
			}
		}
	}
}

// #note-editor ul.dropdown-menu {
// 	max-height: 220px;
// 	overflow-y: auto;
// 	overflow-x: none;
// }