#noteInput,
#noteInput2 {
	position: fixed;
	bottom: 0;
	font-family: sans-serif;
	margin-bottom: 0px;
	font-weight: bold;
	bottom: 0;
	z-index: 999;
}

#noteInput {
	line-height: 2;
	font-size: 30px;
	/*text-shadow: 0 1px 0 #84BAFF;
    //box-shadow: 0 0 15px #00214B
    //background: #ccccFF;
    //text-align: center;
    //color: #042E64;
    */
}

#noteInput ul.dropdown-menu {
	max-height: 220px;
	overflow-y: auto;
	overflow-x: none;
}

pre.noteInEdit {
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}