// LESS variables for global use, imported first so can be referenced in bootstrap customization
// Colours
$primary-blue: #235ba3;
$secondary-blue: #15417a;
$primary-hover-blue: #1b4883;
$secondary-hover-blue: #386fc1;
$primary-blue-text: #235ba3;

$primary-white: #fff;
$secondary-white: #ebebeb;
$hover-white: #fff;
$primary-white-text: #fff;

$light-grey: #ededed;
$medium-grey: #c0c0c0;

// Margins
$margin-lg: 30px;
$margin-md: 20px;
$margin-sm: 10px;

// Other
$toggle-patient-list-btn-width: 25px;

// Media queries breakpoints
// $screen-nav-lg-max: 1305px;
$screen-nav-lg: 1357px;
$screen-nav-md: 1130px;
$screen-nav-sm: 768px;