// LESS variables for global use, imported first so can be referenced in bootstrap customization
// Colours
$primary-blue: #2569d0;
$hover-blue: #1c56af;
$primary-blue-text: #3a69b2;
$primary-white: #fff;
$hover-white: #fff;
$primary-white-text: #ebebeb;
$marin-lg: 30px;
$margin-md: 20px;
$margin-sm: 10px;
$toggle-patient-list-btn-width: 25px;