.juno-simple-modal-window {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden !important;

	$modal-border-radius: 8px;
	--juno-simple-modal-width: 480px;
	--juno-simple-modal-height: 248px;

	.modal-content {
		-webkit-border-radius: $modal-border-radius !important;
		-moz-border-radius: $modal-border-radius !important;
		border-radius: $modal-border-radius !important;
		border: none;
	}

	.modal-dialog, .modal-content {
		width: var(--juno-simple-modal-width);
		height: var(--juno-simple-modal-height);
	}

	.juno-simple-modal {
		padding: 8px;

		$modal-border-radius: 8px;
		--juno-simple-modal-width: 400px;
		--juno-simple-modal-height: 400px;

		-webkit-border-radius: $modal-border-radius !important;
		-moz-border-radius: $modal-border-radius !important;
		border-radius: $modal-border-radius !important;

		.inner-container {
			padding: 16px 8px 8px 8px;

			&.grey {
				border: 1px solid var(--color-neutral-light-grey);
				border-radius: $modal-border-radius;
				background-color: var(--color-neutral-lightest);
			}

			.close-btn {
				position: absolute;
				top: 0;
				right: 0;

				.juno-button {
					margin: 8px 8px 0 0;
					height: 24px;

					i {
						font-size: 16px;
					}
				}
			}
		}
	}
}