.form-group {
	.required-field-marker {
		color: $color-red-base;
	}

	select.form-control{
		background-color: white;

		&.select:focus {
			background-color: white;
		}
	}

	input.form-control {
		background-color: white;

		&.input:focus {
			background-color: white;
		}
	}

	/**
    * custom css for the field-toggle-juno directive
    */
	.juno-checkbox {
		@include juno-checkbox;
	}
}