#patient-details-page {

	#profile-fields {
		margin-left: 10px;
	}

	#details-dob-year {
		width: 65px;
	}

	#details-dob-month {
		width: 45px;
	}

	#details-dob-day {
		width: 45px;
	}

	.input-group {
		.phone-num {
			width: 70%;
		}
		.phone-ext {
			width: 30%;
		}
	}

	#photo {
		height: 150px;
		width: auto;
		cursor: pointer;
	}

	.add-status-menu {
		right: 55px;
		top: 0px;
		z-index: 1;
		background-color: #EEEEEE;
		padding: 5px;
	}

	.add-status-menu button {
		margin-top: 10px;
	}

	.form-heading {
		color: $color-primary-base;
	}

	.sub-nav .dropdown-toggle {
		color: #333333;
	}


	#save-button {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#save-button-top {
		width: 100%;
		//margin-left: 20px;
	}


	#alert-text-box {
		height: 55px;
		width: 100%;
		color: #df4646;
	}

	#notes-text-box {
		height: 55px;
		width: 100%;
	}

	.form-divider {
		margin-top: $margin-lg;
	}

	.popover {
		min-width: 400px;
		border-color: $color-primary-light;
		background-color: $color-primary-lighter;

		.popover-content {
			white-space: pre-wrap;
			color: white;
			background-color: $color-primary-lighter;
		}
		.arrow {
			border-bottom-color: $color-primary-light;
		}
		.arrow:after {
			border-bottom-color: $color-primary-lighter;
		}
	}

	.demographic-details-section.demographic-section {
		margin-top: 32px;
	}
}
.special-indent {
	@include juno-font-body-small();
	margin-left: 18px;
}

.special-indent-extra {
	margin-left: 22px;
}

.special-indent-extra2 {
	@include juno-font-body-smallest();
	margin: 0px 0px 16px 22px;
}

.manage-button-wrapper2 {
	width: 60px;
	padding: .6em .5em;
}

@media (max-width: 768px) {
	#save-button-top {
		margin-top: $margin-md;
	}
}