juno-button {

	// customization variables.
	--border-radius: 4px;

	flex-grow: 1;

	button {
		@include juno-base-color-pattern();

		@include juno-font-button(12px, 400, 1.3);
		display: inline-block;
		margin-bottom: 0;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border-width: 1px;
		border-style: solid;
		border-radius: var(--border-radius);
		padding: 0 4px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		height: 100%;
		flex: 1 1 0;
	}

	ng-transclude {
		width: 100%;
	}

}