#forms-page {
  @include juno-font-default-size(12px);

  .form-library-title {
    color: $color-primary-dark;
    margin-bottom: 20px;
  }

  .left-button-group {
    margin-top: 20px;

    .btn {
      margin-left: 8px;
    }
  }

  a {
    font-weight: bold;
  }

  a:hover {
    color: $color-primary-base;
  }

  h4 {
    margin: 0;
  }

  .list-item-selected {
    a {
      color: $color-primary-base;
    }

    i {
      float:right;
    }
  }

  .list-item-not-selected {
    background-color: inherit;
  }

  @include juno-tab-md(16px);
  @include juno-tab-color-scheme-white;
}