.message-list {
	border-right: solid 1px var(--color-neutral-light-grey);
	overflow-y: auto;

	.message-container {
		border-bottom: solid 1px var(--color-neutral-light-grey);
	}

	.zero-state-text {
		color: var(--color-neutral-dark-grey);
	}
}