.messageable-search {
	position: relative;

	.juno-typeahead {
		--input-padding-right: 32px;
	}

	.high-confidence-checkmark {
		cursor: help;

		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		bottom: 7px;
		right: 8px;

		width: 1.2em;
		height: 1.2em;

		font-size: 16px;

		background-color: var(--color-lime-base);
		border-radius: 100%;

		color: var(--color-neutral-white);
	}
}