<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	">


	<!-- ========================================================================================-->
	<!-- Settings for the OAuth web services -->
	<!-- ========================================================================================-->
	<!--<bean id="restLoggingInInterceptor" class="org.oscarehr.ws.rest.util.RestLoggingInInterceptor" parent="abstractLoggingInterceptor"/>-->
	<!--<bean id="restLoggingOutInterceptor" class="org.oscarehr.ws.rest.util.RestLoggingOutInterceptor" parent="abstractLoggingInterceptor"/>-->

	<bean id="oauthProvider" class="oscar.login.OscarOAuthDataProvider" autowire="byName"/>

	<bean id="requestTokenService" class="oscar.login.OscarRequestTokenService">
		<property name="dataProvider" ref="oauthProvider"/>
	</bean>

	<bean id="oAuthFilter" class="org.apache.cxf.rs.security.oauth.filters.OAuthRequestFilter">
		<property name="dataProvider" ref="oauthProvider"/>
		<property name="useUserSubject" value="true"/>
		<property name="supportUnknownParameters" value="true"/>
	</bean>

	<bean id="authorizationService" class="org.apache.cxf.rs.security.oauth.services.AuthorizationRequestService">
		<property name="dataProvider" ref="oauthProvider"/>
	</bean>

	<bean id="dispatchProvider" class="org.apache.cxf.jaxrs.provider.RequestDispatcherProvider">
		<property name="resourcePath" value="/login/3rdpartyLogin.jsp"/>
	</bean>

	<bean id="accessTokenService" class="org.apache.cxf.rs.security.oauth.services.AccessTokenService">
		<property name="dataProvider" ref="oauthProvider"/>
	</bean>

	<bean id="validationExceptionMapper"            class="org.oscarehr.ws.rest.exceptionMapping.ValidationExceptionMapper"/>
	<bean id="constraintViolationExceptionMapper"   class="org.oscarehr.ws.rest.exceptionMapping.ConstraintViolationExceptionExceptionMapper"/>
	<bean id="generalExceptionMapper"               class="org.oscarehr.ws.rest.exceptionMapping.GeneralExceptionMapper"/>
	<bean id="invalidFormatExceptionMapper"         class="org.oscarehr.ws.rest.exceptionMapping.InvalidFormatExceptionMapper"/>
	<bean id="jsonParseExceptionMapper"             class="org.oscarehr.ws.rest.exceptionMapping.JsonParseExceptionMapper"/>
	<bean id="securityExceptionMapper"              class="org.oscarehr.ws.rest.exceptionMapping.SecurityExceptionMapper"/>
	<bean id="missingArgumentExceptionMapper"       class="org.oscarehr.ws.rest.exceptionMapping.MissingArgumentExceptionMapper"/>
	<bean id="rateLimitExceptionMapper"             class="org.oscarehr.ws.rest.exceptionMapping.RateLimitExceptionMapper"/>

	<bean id="objectMapperProvider" class="org.oscarehr.ws.spring.contextResolver.ObjectMapperContextResolver"/>
	<bean id="localDateConverterProvider" class="org.oscarehr.ws.spring.paramConverter.LocalDateConverterProvider"/>
	<bean id="localDateTimeConverterProvider" class="org.oscarehr.ws.spring.paramConverter.LocalDateTimeConverterProvider"/>

	<jaxrs:server id="oauthService" address="/oauth">

		<jaxrs:serviceBeans>
			<ref bean="requestTokenService"/>
			<ref bean="authorizationService"/>
			<ref bean="accessTokenService"/>
		</jaxrs:serviceBeans>

		<jaxrs:providers>
			<ref bean="dispatchProvider"/>
		</jaxrs:providers>

		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml"/>
		</jaxrs:extensionMappings>

	</jaxrs:server>




	<!-- ========================================================================================-->
	<!-- Settings for the Juno external rest services -->
	<!-- ========================================================================================-->

	<!--
					EXTERNAL REST SERVICES
	!-->
	<jaxrs:server id="restServicesV1" address="/services/v1">

		<jaxrs:inInterceptors>
			<ref bean="validationInInterceptor"/>
		</jaxrs:inInterceptors>

		<jaxrs:outInterceptors>
			<ref bean="validationOutInterceptor"/>
		</jaxrs:outInterceptors>

		<jaxrs:inFaultInterceptors>
		</jaxrs:inFaultInterceptors>

		<jaxrs:outFaultInterceptors>
		</jaxrs:outFaultInterceptors>

		<!-- define which services are externally available -->
		<jaxrs:serviceBeans>
			<bean class="org.oscarehr.ws.external.rest.v1.DemographicWs" autowire="byName"/>
			<bean class="org.oscarehr.ws.external.rest.v1.DemographicsWs" autowire="byName"/>
			<bean class="org.oscarehr.ws.external.rest.v1.DocumentWs" autowire="byName"/>
			<bean class="org.oscarehr.ws.external.rest.v1.ProviderWs" autowire="byName"/>
			<bean class="org.oscarehr.ws.external.rest.v1.ProvidersWs" autowire="byName"/>
			<bean class="org.oscarehr.ws.external.rest.v1.TicklerWs" autowire="byName"/>
		</jaxrs:serviceBeans>

		<jaxrs:providers>
			<ref bean="oAuthFilter"/>
			<ref bean="jaxb"/> <!-- Defined in spring_ws.xml -->

			<!-- Switch to Jackson 2 from the cxf default of Jettison.  Also depends on the cxf -->
			<!-- bus setting "skip.default.json.provider.registration" which is set in -->
			<!-- spring_ws.xml -->
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>

			<!-- Juno exception mappers.  Add more of these as new exceptions are thrown. -->
			<bean class="org.oscarehr.ws.rest.exceptionMapping.GeneralExceptionMapper"/>
			<bean class="org.oscarehr.ws.rest.exceptionMapping.InvalidFormatExceptionMapper"/>
			<bean class="org.oscarehr.ws.rest.exceptionMapping.JsonParseExceptionMapper"/>
			<bean class="org.oscarehr.ws.rest.exceptionMapping.MissingArgumentExceptionMapper"/>
			<bean class="org.oscarehr.ws.rest.exceptionMapping.RateLimitExceptionMapper"/>
			<bean class="org.oscarehr.ws.rest.exceptionMapping.SecurityExceptionMapper"/>
			<bean class="org.oscarehr.ws.rest.exceptionMapping.ValidationExceptionMapper"/>

			<!-- Juno filters. -->
			<ref bean="constraintViolationExceptionMapper"/>
			<ref bean="objectMapperProvider"/>
			<bean class="org.oscarehr.ws.rest.filter.LoggingFilterExternal"/>
			<bean class="org.oscarehr.ws.rest.filter.RateLimitFilter"/>
			<bean class="org.oscarehr.ws.rest.filter.IPRestrictionFilter"/>

			<!-- Custom ContextResolver to apply settings to the Jackson ObjectMapper -->
			<bean class="org.oscarehr.ws.spring.contextResolver.ObjectMapperContextResolver"/>
			<bean class="org.oscarehr.ws.spring.paramConverter.LocalDateConverterProvider"/>
			<bean class="org.oscarehr.ws.spring.paramConverter.LocalDateTimeConverterProvider"/>

		</jaxrs:providers>

		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml"/>
			<entry key="json" value="application/json"/>
		</jaxrs:extensionMappings>
	</jaxrs:server>
</beans>
