<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2018. CloudPractice Inc. All Rights Reserved.
  ~ This software is published under the GPL GNU General Public License.
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
  ~
  ~ This software was written for
  ~ CloudPractice Inc.
  ~ Victoria, British Columbia
  ~ Canada
  -->

<configuration>
	<appender name="Console"
			  class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
			</Pattern>
		</layout>
	</appender>

	<logger name="org.oscarehr" level="INFO"/>
	<logger name="org.oscarehr.common.io.PDFFile" level="WARN"/>
	<logger name="org.apache.cxf.transport.https.HttpsURLConnectionFactory" level="WARN"/>
	<logger name="org.apache.cxf.interceptor.LoggingOutInterceptor" level="WARN"/>
	<logger name="org.apache.cxf.interceptor.LoggingInInterceptor" level="WARN"/>
	<logger name="org.apache.cxf.bus.spring.BusApplicationContext" level="WARN"/>
	<logger name="org.apache.cxf.service.factory.ReflectionServiceFactoryBean" level="WARN"/>
	<logger name="org.hibernate.cfg" level="WARN"/>
	<logger name="org.hibernate.ejb.Ejb3Configuration" level="WARN"/>
	<logger name="org.apache.jasper.compiler" level="INFO"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.oscarehr.integration.born" level="DEBUG"/>
	<logger name="ca.uhn.hl7v2.model.v26.segment.UAC" level="FATAL"/>

	<root level="info">
		<appender-ref ref="Console" />
	</root>
</configuration>