@mixin overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin overflow-ellipsis-nowrap {
	@include overflow-ellipsis();
	white-space: nowrap;
}

.schedule-page-header {
	@extend %juno-page-header;
	//@include juno-font-label;

	select {
		@include juno-select(16px);
		background-image: url($icon-down-white);
	}

	.schedule-options {
		padding: 6px;

		$input-height: $form-input-height;

		.form-inline {
			.btn {
				height: $input-height;
				font-weight: bold;

				&.btn-addon {
					@include juno-button-colour-scheme($white, $primary-hover, $primary-hover);
				}
				&.btn-primary {
					@include juno-button-colour-scheme($white, $grey-01, $grey-01);
				}
				&.btn-icon {
					width: $input-height;
					background-color: $primary-hover;
					.icon {
						width: 16px;
						height: 16px;
					}
				}
			}
			.divider-vertical {
				background-color: $primary-hover;
				width: 2px;
				height: calc(#{$input-height} * 0.75);
			}
			.form-control {
				@include juno-form-colour-scheme-dark;
			}

			//input,select {
				//font-weight: bold;
			//}
			label {
				margin-right: 5px;
			}
			button:focus {
				outline: none;
			}
			.form-group {
				margin-left: 4px;
			}
			.form-group:first-child {
				margin-left: 0
			}
			.cal-step-button-group {
				.form-group {
					margin-left: 4px;
				}
			}
		}
		select, input, textarea {
			min-width: 200px;
		}
		@include clearfix;
	}
}


.schedule-page-content {
	@extend %juno-primary-view-pane;
	@include juno-page-margin-none;
	position: relative;
	overflow-y: hidden;
	overflow-x: auto;

	.info-message-container {
		.alert {
			margin: 0;
			padding: 6px;
		}
	}
	.calendar-loading
	{
		position: absolute;
		right: 50%;
		top: 65px;
	}
	.calendar {
		.fc-toolbar {
			h2 {
				font-size: 1.571em;
			}
			margin-bottom: 0.5em;
		}

		.fc-view-container {
			.fc-view.fc-agendaDay-view.fc-agendaDay-view
			{
				width: 100%;
			}

			.fc-view.fc-agendaTwoDay-view.fc-agenda-view {
				width: 100%;
			}

			// hide the highlight area selection. hidden so that it does not look like a draggable appointment can be made
			// remove if the start time/end time go back to relying on the selected area
			.fc-highlight {
				background: transparent;
			}
			// adjust style for left hand time column
			.fc-time {
				@include juno-font-label;
				background-color: $grey-08;
				color: $grey-01;
				span {
					padding-right: 4px;
				}
			}

			$scheduleCodeWidth: 16px;
			.fc-event-container {
				margin-left: $scheduleCodeWidth;

				/* styling for normal events */
				.fc-event {
					cursor: pointer;
					background-color: $grey-04; // shows for invalid color codes
					border: 1px solid $white !important;
					border-radius: 8px;
					display: flex;
					align-items: center;

					// remove white opacity filter on events
					.fc-bg {
						background: transparent;
						opacity: 1;
					}
					// resize/style the grabable resize bar on the bottom of events
					.fc-resizer {
						height: 3px;
					}
					.fc-content {
						width: 100%;

						.schedule-event {
							display: flex;
							padding: 0;
							margin: 0;
							font-size: 12px;
							font-weight: normal;
							color: $grey-01;

							$button-size: 16px;

							.btn-event-link {
								background: transparent;
								border: 0;
								width: $button-size;
								min-width: $button-size;
								height: $button-size;
								color: $grey-01;
								padding: 0;
								&:hover {
									background-color: rgba(255, 255, 255, 0.2);
									border-radius: 50%;
								}
							}
							.event-blk {
								display: flex;
								align-items: start;
								justify-content: flex-start;
							}
							.event-blk-label {
								flex-grow: 1;
								font-weight: bold;
							}
							.btn-icon {
								width: $button-size;
								height: $button-size;
								.icon {
									width: $button-size;
									height: $button-size;
								}
								&:hover {
									background-color: rgba(255, 255, 255, 0.2);
									border-radius: 50%;
								}
							}
							.event-status {
								margin-left: 8px;
							}
							.event-tags {
								display: inline-block;
								text-align: center;
								margin: 0 4px;
							}
							.event-label, .event-details {
								margin-left: 3px;
							}
							.self-book-indicator.visible {
								width: 12px;
								height: 12px;
								background-color: $white;
								border-radius: 50%;
								margin: 2px;
							}
						}
					}
				}
			}
			/* background event custom styling */
			.fc-bgevent {
				opacity: 1;
				display: flex;
				justify-content: center;
				.schedule-background-event {
					flex-grow: 1;
					display: flex;
					.background-event-schedulecode {
						@include juno-font-label;
						text-align: center;
						font-weight: bold;
						float: right;
						width: $scheduleCodeWidth;
						height: 100%;
						color: $grey-01;
						background-color: $grey-06;
						padding: 2px 0;

						&.hour-marker {
							border-top: 1px solid $grey-05;
						}
					}
					.background-event-body {
						flex-grow: 1;
						background-color: $white;
						border-top: 1px solid $grey-07;

						&.hour-marker {
							border-top: 1px solid $grey-05;
						}
					}
				}
			}
			/* Remove that awful yellow color from today */
			.fc-today {
				background-color: transparent;
			}
			.fc-head-container {
				border: 0;
				/* styling for the resource view column-control headers */
				.fc-resource-cell {
					border-left: 0;
					border-right: 0;

					.column-ctl-root {
						@include juno-font-tab;
						font-weight: bold;
						background-color: $white;
						display: flex;
						height: $page-tabs-height-alt;
						padding: 0 10px;

						.column-ctl {
							display: flex;
							align-items: center;
							justify-content: space-evenly;
						}
						.icon {
							width: 16px;
							height: 16px;
							margin: 8px;
						}
					}
				}
				/* styling for the day/week/month view column-control headers */
				.fc-day-header {
					@include juno-font-tab;
					font-weight: bold;
					height: $page-tabs-height-alt;
					vertical-align: middle;
				}
			}
			.fc-axis {
				width: $page-header-height !important;
				padding: 0;
			}
			/* solid border lines separating empty cells */
			.fc-time-grid .fc-slats .fc-minor td {
				border-top: 1px solid $grey-07;
			}
			.calendar-background {
				background-color: $white;
			}
		}
	}
	.zero-state-message {
		text-align: center;
		position: absolute;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: $white;
	}
	.loading-screen {
		position: absolute;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.1);
	}
	&.no-scroll {
		overflow: hidden;
	}
}

/* schedule specific modal styling */
.schedule-modal {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.modal-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 0;

		.modal-title {
			display: flex;
			flex-grow: 1;
			flex-direction: row;
			align-items: center;
			.align-baseline {
				display: flex;
				flex-grow: 1;
				flex-direction: row;
				align-items: baseline;
				h4 {
					padding: 0 16px;
				}
			}
		}
		.modal-ctl-buttons {
			padding: 6px;
			align-items: center;
			justify-content: space-between;
			display: flex;

			.modal-patient-links {
				margin-right: 20px;
				.btn {
					width: 28px;
				}
			}
		}
		.icon-modal-ctl {
			width: 16px;
			height: 16px;
		}
		.icon-modal-add-appt {
			width: 40px;
			height: 40px;
		}
	}

	.modal-body {

		$tabs-height: $page-tabs-height;
		$alert-container-height: 40px;
		@include juno-tab-lg($tabs-height);
		@include juno-tab-color-scheme-light;
		@include juno-font-tab;

		.form-group {
			display: flex;
			align-items: center;

			&.label-top {
				align-items: flex-start;
				& > label {
					margin-top: 8px;
				}
			}
		}
		.alert-container {
			height: $alert-container-height;
		}
		.alert-message {
			color: $red;
			@include juno-font-label;
		}
		.info-frame-container {
			height: 160px;
			.demographic-info-frame {
				height: 144px;
				margin-bottom: 12px;
				background-color: $grey-08;
				border: solid 1px $grey-07;
				border-radius: 8px;
				padding: 14px;

				.form-group {
					margin: 0;

					label {
						font-size: 9px;
						color: $grey-03;
					}
					span {
						@include juno-font-label;
						color: $grey-02;
					}
				}
			}
		}
		.tab-pane {
			padding: 0 $modal-border-space $modal-border-space $modal-border-space;
			overflow: auto;
			height: calc(#{$modal-body-height} - #{$tabs-height} - #{$alert-container-height});

			.tab-bar-inputs {
				position: absolute;
				right: 0;
				top: 0;
				height: $tabs-height;
				width: 40%;
				display: flex;
				align-items: center;
				.form-group {
					margin-bottom: 0;
				}
			}

			.edit-history-header {
				background-color: $grey-08;
				padding: 12px;
			}

			.directive-juno-typeahead {
				@include juno-tab-lg(56px);
			}
		}
	}
}
