@mixin overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin overflow-ellipsis-nowrap {
	@include overflow-ellipsis();
	white-space: nowrap;
}

.schedule-page-header {
	@extend %juno-page-header;

	select {
		@include juno-select(16px);
		background-image: url($icon-down-white);
	}

	.schedule-options {
		padding: 6px;

		$input-height: $form-input-height;

		.form-inline {
			.btn {
				height: $input-height;
				font-weight: bold;

				&.btn-addon {
					@include juno-button-colour-scheme($color-neutral-white, $color-primary-dark, $color-primary-dark);
				}
				&.btn-primary {
					@include juno-button-colour-scheme($color-neutral-white, $color-neutral-darker, $color-neutral-darker);
				}
				&.btn-icon {
					width: $input-height;
					background-color: $color-primary-dark;
					.icon {
						font-size: 16px;
						color: $color-neutral-white;
					}
				}
			}
			.divider-vertical {
				background-color: $color-primary-dark;
				width: 2px;
				height: calc(#{$input-height} * 0.75);
			}
			.form-control {
				@include juno-form-colour-scheme-blue;
			}
			label {
				margin-right: 5px;
			}
			button:focus {
				outline: none;
			}
			.form-group {
				margin-left: 4px;
			}
			.form-group:first-child {
				margin-left: 0
			}
			.cal-step-button-group {
				.form-group {
					margin-left: 4px;
				}
			}
		}
		select, input, textarea {
			min-width: 200px;
		}
		@include clearfix;
	}
}


.schedule-page-content {
	@extend %juno-primary-view-pane;
	@include juno-page-margin-none;
	position: relative;
	overflow-y: hidden;
	overflow-x: auto;

	.info-message-container {
		.alert {
			margin: 0;
			padding: 6px;
		}
	}
	.calendar-loading
	{
		position: absolute;
		right: 50%;
		top: 65px;
	}
	.calendar {
		.fc-toolbar {
			h2 {
				font-size: 1.571em;
			}
			margin-bottom: 0.5em;
		}

		.fc-view-container {
			.fc-view.fc-agendaDay-view.fc-agendaDay-view
			{
				width: 100%;
			}

			.fc-view.fc-agendaTwoDay-view.fc-agenda-view {
				width: 100%;
			}

			// hide the highlight area selection. hidden so that it does not look like a draggable appointment can be made
			// remove if the start time/end time go back to relying on the selected area
			.fc-highlight {
				background: transparent;
			}
			// adjust style for left hand time column
			.fc-time {
				@include juno-font-label;
				background-color: $color-neutral-lightest;
				color: $color-neutral-darkest;
				span {
					padding-right: 4px;
				}
			}

			$scheduleCodeWidth: 16px;
			.fc-event-container {
				margin-left: $scheduleCodeWidth;

				/* styling for normal events */
				.fc-event {
					cursor: pointer;
					background-color: $color-neutral-grey; // shows for invalid color codes
					border: 1px solid $color-neutral-white !important;
					border-radius: 8px;
					display: flex;
					align-items: center;

					// remove white opacity filter on events
					.fc-bg {
						background: transparent;
						opacity: 1;
					}
					// resize/style the grabable resize bar on the bottom of events
					.fc-resizer {
						height: 3px;
					}
					.fc-content {
						width: 100%;
						height: 100%;

						.schedule-event {
							display: flex;
							padding: 0;
							margin: 0;
							font-size: 12px;
							font-weight: normal;
							color: $color-neutral-darkest;

							$button-size: 16px;

							.event-block {
								display: inline-block;
								vertical-align: top;
								overflow: hidden;
								margin-right: 4px;

								.inline-flex {
									display: inline-flex;
									align-items: baseline;
									flex-wrap: wrap;
								}

								.event-item {
									display: inline-block;
								}
								.event-blk-label {
									height: $button-size;
									&.event-form-link {
										margin-left: 2px;
									}
									.bold {
										font-weight: bold;
									}
									.event-label {
										margin-left: 3px;
										height: $button-size;
										display: inline-block;
									}
								}
								.btn-event-link {
									background: transparent;
									border: 0;
									width: $button-size;
									min-width: $button-size;
									height: $button-size;
									color: $color-neutral-darkest;
									padding: 0;
									&:hover {
										background-color: rgba(255, 255, 255, 0.2);
										border-radius: 50%;
									}
								}
								.event-status {
									margin-left: 8px;
									align-self: center;
								}

								.event-critical {
									align-self: center;
								}

								.btn-icon {
									width: $button-size;
									height: $button-size;

									.icon {
										font-size: $button-size;
									}
									&:hover {
										background-color: rgba(255, 255, 255, 0.2);
										border-radius: 50%;
									}
								}
							}

							.book-status-container {
								display: flex;
								justify-content: flex-end;
								height: 100%;
								flex-grow: 1;
								margin: 2px 4px 2px 2px;
								visibility: hidden;

								&.visible {
									visibility: visible;
								}

								.booking-status-box {
									background-color: $color-neutral-white;
									border-radius: 4px;
									padding-top: 2px;
									min-width: 16px;
									max-width: 16px;
									min-height: 14px;

									display: flex;
									flex-direction: row;
									flex-wrap: wrap;
									justify-content: space-around;
								}

								.booking-circle {
									width: 6px;
									height: 6px;
									border-radius: 6px;
									background-color: $color-neutral-darker;
									visibility: hidden;

									&.visible {
										visibility: visible;
									}
								}
							}
						}
					}
				}
			}
			/* background event custom styling */
			.fc-bgevent {
				opacity: 1;
				display: flex;
				justify-content: center;
				.schedule-background-event {
					flex-grow: 1;
					display: flex;
					.background-event-schedulecode {
						@include juno-font-label;
						text-align: center;
						font-weight: bold;
						float: right;
						width: $scheduleCodeWidth;
						height: 100%;
						color: $color-neutral-darkest;
						background-color: $color-neutral-light;
						padding: 2px 0;

						&.hour-marker {
							border-top: 1px solid $color-neutral-light-grey;
						}
						&.code-visible:after {
							position: absolute;
							top: 0;
							left: 0;
							width: $scheduleCodeWidth;
							height: 100%;
							content: " ";
							background-color: $color-neutral-black;
							opacity: 0.1;
						}
					}
					.background-event-body {
						flex-grow: 1;
						background-color: $color-neutral-white;
						border-top: 1px solid $color-neutral-lighter;

						&.hour-marker {
							border-top: 1px solid $color-neutral-light-grey;
						}
					}
				}
			}
			/* Remove that awful yellow color from today */
			.fc-today {
				background-color: transparent;
			}
			.fc-head-container {
				border: 0;
				/* styling for the resource view column-control headers */
				.fc-resource-cell {
					border-left: 0;
					border-right: 0;

					.column-ctl-root {
						@include juno-font-tab;
						font-weight: bold;
						background-color: $color-neutral-white;
						display: flex;
						height: $page-tabs-height-alt;
						padding: 0 10px;

						.column-ctl {
							display: flex;
							align-items: center;
							justify-content: space-evenly;
						}
						.icon {
							font-size: 18px;
							color: $color-primary-base;
							&:hover {
								cursor: pointer;
							}
						}
					}
				}
				/* styling for the day/week/month view column-control headers */
				.fc-day-header {
					@include juno-font-tab;
					font-weight: bold;
					height: $page-tabs-height-alt;
					vertical-align: middle;
				}
			}
			.fc-axis {
				width: $page-header-height !important;
				padding: 0;
			}
			/* solid border lines separating empty cells */
			.fc-time-grid .fc-slats .fc-minor td {
				border-top: 1px solid $color-neutral-lighter;
			}
			.calendar-background {
				background-color: $color-neutral-white;
			}
		}
	}
	.zero-state-message {
		text-align: center;
		position: absolute;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: $color-neutral-white;
	}
	.loading-screen {
		position: absolute;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.1);
	}
	.loading-screen-small {
		position: absolute;
		right: 16px;
		bottom: 0;
		z-index: 8;
	}
	&.no-scroll {
		overflow: hidden;
	}
}

