@mixin overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin overflow-ellipsis-nowrap {
	@include overflow-ellipsis();
	white-space: nowrap;
}

.calendar-loading
{
	position: absolute;
	right: 50%;
	top: 65px;
}

#calendar-container
{
  //border: 2px solid blue;
  //height: 1000px;
	/*
        position: fixed;
        top: 100px;
        left: 100px;
        right: 200px;
        bottom: 200px;
    */
}

.fc-view-container {
	background: #f6f6f6;
	overflow-x: scroll;
}

.fc-view.fc-agendaDay-view.fc-agendaDay-view
{
    width: 100%;
}

.fc-view.fc-agendaTwoDay-view.fc-agenda-view {
	width: 100%;
}

.calendar
{
	font-family: "Arial", "Helvetica", sans-serif;
	.fc-toolbar
	{
		h2 { font-size: 1.571em; }
		margin-bottom: 0.5em;
	}

	.fc-view-container
	{
		@extend %juno-primary-view-pane;
		@include juno-page-margin-none;

		background: #f6f6f6;
		overflow-x: auto;

		// hide the vertical scrollbar when the schedule is too tall
		.fc-scroller {
			overflow: visible !important;
		}
		// hide the highlight area selection. hidden so that it does not look like a draggable appointment can be made
		// remove if the start time/end time go back to relying on the selected area
		.fc-highlight {
			background: transparent;
		}

		$scheduleCodeWidth: 16px;
		/* styling for normal events */
		.fc-event {
			cursor: hand;
			margin-left: $scheduleCodeWidth;

			// remove white opacity filter on events
			.fc-bg {
				background: transparent;
				opacity: 1;
			}

			.schedule-event {
				display: flex;
				padding: 0;
				margin: 0;
				font-size: 12px;
				font-weight: normal;
				color: $white;
				.btn-event-link {
					background: transparent;
					border: 0;
					width: 24px;
					font-weight: bold;
					color: $white;
				}
				.event-blk {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
				.event-blk-label {
					flex-grow: 1;
				}
				.icon {
					width: 24px;
					height: 24px;
				}
				.icon-down {
					width: 16px;
					height: 16px;
					margin: 4px;
				}
			}

			.fc-time
			{
				display: none;
			}

			.event-tags
			{
				display: inline-block;
				text-align: center;
				margin: 0 4px;
			}
			.event-details
			{
				margin-left: 3px;
			}
		}
	  	/* background event custom styling */
		.fc-bgevent {
			opacity: 1;
			display: flex;
			justify-content: center;
			.schedule-background-event {
				flex-grow: 1;
				display: flex;
			    .background-event-schedulecode {
				    background-color: $grey-06;
				    float: right;
				    width: $scheduleCodeWidth;
				    height: 100%;
				    text-align: center;
				    font-weight: bold;
				    font-style: normal;
				    font-stretch: normal;
				    color: $white;
				    line-height: normal;
				    letter-spacing: normal;
				    padding: 0;

				    &.hour-marker {
					    border-top: 1px solid $grey-05;
				    }
			    }
			    .background-event-body {
				    flex-grow: 1;
				    background-color: $white;
				    border-top: 1px solid $grey-07;

				    &.hour-marker {
					    border-top: 1px solid $grey-05;
				    }
			    }
			}
		}
		/* Remove that awful yellow color from today */
		.fc-today {
		  opacity: 0;
		}
		.fc-head-container {
			border: 0;
			/* styling for the resource view column-control headers */
			.fc-resource-cell {
				border-left: 0;
				border-right: 0;

				.column-ctl-root {
					@include juno-font-tab;
					background-color: $white;
					display: flex;
					height: $page-tabs-height;
					padding: 0 10px;

					.column-ctl {
						display: flex;
						align-items: center;
						justify-content: space-evenly;
					}
					.icon {
						width: 16px;
						height: 16px;
						margin: 8px;
					}
				}
			}
			/* styling for the day/week/month view column-control headers */
			.fc-day-header {
				height: $page-tabs-height;
			}
		}
		/* custom stying for the time column*/
		.fc-time {
			background-color: $grey-08;
		}
		.fc-axis {
			width: $page-header-height !important;
			padding: 0;
		}

		/* solid border lines separating empty cells */
		.fc-time-grid .fc-slats .fc-minor td {
			border-top: 1px solid $grey-07;
		}
		.calendar-background {
			background-color: $white;
		}
	}
}

.schedule-page-header {
	@extend %juno-page-header;

	select {
		@include juno-select(16px);
	}

	.schedule-options {
		padding: 12px;

		$input-height: $form-input-height;
		.btn-icon {
			width: $input-height;
			height: $input-height;
			background-color: $grey-08;
			.icon {
				width: 16px;
				height: 16px;
			}
		}
		.divider-vertical {
			background-color: $grey-06;
			width: 2px;
			height: calc(#{$input-height} * 0.75);
		}

		.form-inline {
			label {
				margin-right: 5px;
			}
			button:focus {
				outline: none;
			}
			.form-group {
				margin-left: 20px;
			}
			.form-group:first-child {
				margin-left: 0
			}
			.cal-step-button-group {
				.form-group {
					margin-left: 10px;
				}
			}
		}
		select, input, textarea {
			min-width: 200px;
		}
		@include clearfix;
	}
}

/* schedule specific modal styling */
.schedule-modal {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.modal-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 0;

		.modal-title {
			display: flex;
			flex-grow: 1;
			flex-direction: row;
			align-items: center;
			.align-baseline {
				display: flex;
				flex-grow: 1;
				flex-direction: row;
				align-items: baseline;
				h4 {
					padding: 0 16px;
				}
			}
		}
		.modal-ctl-buttons {
			//width: 80px;
			padding: 6px;
			align-items: center;
			justify-content: space-between;
			display: flex;
		}
		.icon-modal-ctl {
			width: 16px;
			height: 16px;
		}
		.icon-modal-add-appt {
			width: 40px;
			height: 40px;
		}
	}

	.modal-body {

		$tabs-height: 48px;
		$alert-container-height: 40px;
		@include juno-tab-lg($tabs-height);
		@include juno-tab-color-scheme-light;

		.form-group {
			margin-bottom: 8px;
			display: flex;
			align-items: center;

			&.label-top {
				align-items: flex-start;
				& > label {
					margin-top: 8px;
				}
			}
		}
		.alert-container {
			height: $alert-container-height;
		}
		.alert-message {
			color: $red;
			@include juno-font-label;
		}
		.info-frame-container {
			height: 160px;
			.demographic-info-frame {
				height: 144px;
				margin-bottom: 12px;
				background-color: $grey-08;
				border: solid 1px $grey-07;
				border-radius: 8px;

				.form-group {
					margin: 0;

					label {
						font-size: 9px;
						color: $grey-03;
					}
					span {
						@include juno-font-label;
						color: $grey-02;
					}
				}
			}
		}
		.tab-pane {
			padding: 0 $modal-border-space $modal-border-space $modal-border-space;
			overflow: auto;
			height: calc(#{$modal-body-height} - #{$tabs-height} - #{$alert-container-height});

			.tab-bar-inputs {
				position: absolute;
				right: 0;
				top: 0;
				height: $tabs-height;
				width: 40%;
				display: flex;
				align-items: center;
				.form-group {
					margin-bottom: 0;
				}
			}

			.edit-history-header {
				background-color: $grey-08;
				padding: 12px;
			}
		}
	}
}


.schedule-daysheet {

	table {

		font-size: 0.929em;

		@media print {
			font-size: 0.643em;
		}

		thead tr th,
		tbody tr td {

			&.time, &.status, &.patient {
				width: 1px;
				white-space: nowrap;
			}

			&.text {
				@include overflow-ellipsis;
				max-width: 1px;

				&.text-truncated {
					@include overflow-ellipsis-nowrap;
				}
			}
		}
	}
}
