@mixin overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin overflow-ellipsis-nowrap {
	@include overflow-ellipsis();
	white-space: nowrap;
}


.calendar-loading
{
	position: absolute;
	right: 50%;
	top: 65px;
}

#calendar-container
{
  //border: 2px solid blue;
  //height: 1000px;
	/*
        position: fixed;
        top: 100px;
        left: 100px;
        right: 200px;
        bottom: 200px;
    */
}

.fc-view-container {
	background: #f6f6f6;
	overflow-x: scroll;
}

.fc-view.fc-agendaDay-view.fc-agendaDay-view
{
    width: 100%;
}

.fc-view.fc-agendaTwoDay-view.fc-agenda-view{
    width: 100%;
}

.calendar
{
	font-family: "Arial", "Helvetica", sans-serif;
	.fc-toolbar
	{
		h2 { font-size: 1.571em; }
		margin-bottom: 0.5em;
	}

	.fc-view-container
	{
		background: #f6f6f6;
		overflow-x: scroll;

		.text-light
		{
			color: #fff;
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
		}

		.text-dark
		{
			color: #000;
			text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);
		}

		.fc-event
		{
			cursor: hand;

			.fc-time
			{
				display: none;
			}

			span.event-status, span.event-encounter, span.event-invoice, span.event-demographic, span.event-rx
			{
				display: inline-block;
				width: 18px;
				text-align: center;
			}

			span.event-status.rotate, span.event-encounter, span.event-invoice, span.event-demographic, span.event-rx
			{
				background-color: #EEE;
				color: #000;
				text-shadow: none;
			}

			.event-invoice
			{
				margin: 0 2px 0 2px;
			}

			.event-demographic
			{
				margin: 0 2px 0 0;
			}

			.event-rx
			{
				margin: 0 2px 0 0;
			}

			.event-note
			{
				margin: 0 4px 0 0;
			}

			.event-tags
			{
				display: inline-block;
				text-align: center;
				margin: 0 4px;
			}

			.event-details
			{
				margin-left: 3px;
			}
		}
	  	/* background event custom styling */
		.fc-bgevent {
		  	opacity: 1;
		  	display: flex;
		  	justify-content: center;
		  	.schedule-event {
			  	flex-grow: 1;
			  	display: flex;
				.schedule-code {
				  	background-color: $white;
					float: right;
				  	width: 16px;
				  	height: 100%;
				  	text-align: center;
				  	border-left: 1px solid $grey-07;
				  	border-top: 1px solid $grey-07;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
				  	padding: 0;
				}
				.schedule-body {
				  flex-grow: 1;
				  background-color: $white;
				  border-top: 1px solid $grey-07;
				}
			}
		}
		/* Remove that awful yellow color from today */
		.fc-today {
		  opacity: 0;
		}
	  	/* custom stying for the time column*/
	  	.fc-time {
		  background-color: $grey-08;
		}

	  .fc-resource-cell {
		.column-ctl-root {
		  background-color: $white;
		  display: flex;
		  padding: 10px;
		  .column-ctl {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding: 5px;
		  }
		  .ctl-container-label {
			flex-grow: 4;
		  }
		  .ctl-container-icon {
			flex-grow: 1;
		  }
		  .icon {
			display:inline-block;
			width: 18px;
			height: 18px;
		  }
		  .icon-daysheet {
			background: url($images-root + 'cal-daysheetblue.svg') no-repeat;
		  }
		  .icon-search {
			background: url($images-root + 'cal-searchblue.svg') no-repeat;
		  }
		  .icon-week-view {
			background: url($images-root + 'cal-weekblue.svg') no-repeat;
		  }
		  .icon-month-view {
			background: url($images-root + 'cal-monthblue.svg') no-repeat;
		  }
		}
	  }

	}
	.flexV {
	  display: flex;
	  flex-direction: column;
	}
	.flexH {
	  display: flex;
	  flex-direction: row;
	}
	.flexGrow {
	  flex-grow: 1;
	}
}

.schedule-options
{
	@include clearfix;
	margin-bottom: 15px;

	.form-inline {
		label { margin-right: 5px; }
		button:focus { outline: none; }
		#schedule-select { width: 220px; }
		.form-group { margin-left: 20px; }
		.form-group:first-child { margin-left: 0 }
	}

}

.schedule-modal {

	.panel { overflow-x: auto; }

	.event-color {
		width: 20px;
		height: 20px;
		display: inline-block;
	}

	&.legend {
		.event-color {
			float: left;
			margin-right: 15px;
		}
	}

	&.event {

		.schedule-header {
			@include clearfix;
			border-bottom: 1px solid #CCC;
			padding-bottom: 4px;
			margin-bottom: 5px;

			h4.schedule-title {
				font-size: 1.571em;
				margin: 0;
			}

			button { margin-left: 4px; }
			.label { margin-left: 4px; }
		}

		.event-color {
			position: relative;
			top: 5px;
		}

		.time-wrapper { padding-left: 0 }

		.availability {
			@include clearfix;
			margin-top: 5px;

			.color { width: 30px; }
			.info { width: 230px; }
			.availability-detail { display: inline-block; }
		}

		.patient-image {

			img { width: 120px; height: 120px; }

			.upload-text {
				position: absolute;
				bottom: 0;
				left: 33px;
			}
		}

		.patient-health-number {
			margin-right: 10px;
		}

		.modal-body .bootstrap-timepicker button {
			height: 34px;
		}
	}
}

.schedule-daysheet {

	table {

		font-size: 0.929em;

		@media print {
			font-size: 0.643em;
		}

		thead tr th,
		tbody tr td {

			&.time, &.status, &.patient {
				width: 1px;
				white-space: nowrap;
			}

			&.text {
				@include overflow-ellipsis;
				max-width: 1px;

				&.text-truncated {
					@include overflow-ellipsis-nowrap;
				}
			}
		}
	}
}
