.juno-date-picker {

  .picker-input {
    @include juno-form-inputs-style(1px, var(--theme-form-field-border-radius));
    @include juno-form-inputs-colors-default();

    position: relative;
    display: inline-block;

    input {
      padding-right: 40px; // extra space for icon
    }

    .icon {
      font-size: 24px;

      position: absolute;
      top: calc(50% - 12px);
      right: 8px;
      cursor: pointer;
    }
  }
}