.mha-patient-connection-details {
	@include juno-font-body-smallest();
	color: var(--color-neutral-darkest);

	padding-top: 20px;

	.text-grey {
		color: var(--color-neutral-grey);
	}

	.connection-status-grid-layout {
		display: grid;
		grid-template-columns: 152px 1fr 160px;
		grid-auto-flow: row;
		align-items: center;
	}
}