.juno-select-save {
  .left {
    width: 80%;
    display: inline-block;
    float: left;
    overflow: hidden;
  }
  .right {
    width:20%;
    display: inline-block;
    float: left;
    overflow: hidden;
  }
  .juno-select {
    width: 100%;
    height: 100%;
  }
  .juno-button {
    width: 100%;
    height:100%;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}