.flowsheet-edit-item {
	margin: 4px 0;
	border: 1px solid var(--color-neutral-lighter);
	border-radius: 4px;
	padding: 8px;
	background-color: var(--color-neutral-lightest);

	.row-padding {
		padding: 0 2px;
	}
	.add-button-wrapper {
		width: 128px;
	}
}