@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?9bcdrt');
  src:  url('icomoon.eot?9bcdrt#iefix') format('embedded-opentype'),
    url('icomoon.ttf?9bcdrt') format('truetype'),
    url('icomoon.woff?9bcdrt') format('woff'),
    url('icomoon.svg?9bcdrt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-center:before {
  content: "\e901";
}
.icon-align-justified:before {
  content: "\e906";
}
.icon-align-left:before {
  content: "\e9b9";
}
.icon-align-right:before {
  content: "\e9bc";
}
.icon-bold:before {
  content: "\e9bd";
}
.icon-check-circle:before {
  content: "\e9be";
}
.icon-contacts:before {
  content: "\e9bf";
}
.icon-erlenmeyer-flask:before {
  content: "\e9c0";
}
.icon-horizontal-rule:before {
  content: "\e9c1";
}
.icon-indent-less:before {
  content: "\e9c2";
}
.icon-indent:before {
  content: "\e9c3";
}
.icon-italic:before {
  content: "\e9c4";
}
.icon-list-bullet:before {
  content: "\e9c5";
}
.icon-list-numbers:before {
  content: "\e9c6";
}
.icon-long-arrow-down:before {
  content: "\e9c7";
}
.icon-long-arrow-left:before {
  content: "\e9c8";
}
.icon-long-arrow-right:before {
  content: "\e9c9";
}
.icon-long-arrow-up:before {
  content: "\e9ca";
}
.icon-minus:before {
  content: "\e9cb";
}
.icon-smart-code:before {
  content: "\e9cc";
}
.icon-strikethrough:before {
  content: "\e9cd";
}
.icon-subscript:before {
  content: "\e9ce";
}
.icon-superscript:before {
  content: "\e9cf";
}
.icon-table:before {
  content: "\e9d0";
}
.icon-tag:before {
  content: "\e9d1";
}
.icon-tags:before {
  content: "\e9d2";
}
.icon-underline:before {
  content: "\e9d3";
}
.icon-clipboard:before {
  content: "\e9ba";
}
.icon-clock:before {
  content: "\e9bb";
}
.icon-pause-circle:before {
  content: "\e900";
}
.icon-critical:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-duplicate:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-prescription-add:before {
  content: "\e907";
}
.icon-prescription-check:before {
  content: "\e908";
}
.icon-prescription-d-i:before {
  content: "\e909";
}
.icon-prescription-d-ii:before {
  content: "\e90a";
}
.icon-prescription-d-iii:before {
  content: "\e90b";
}
.icon-prescription-d-iv:before {
  content: "\e90c";
}
.icon-prescription-d-v:before {
  content: "\e90d";
}
.icon-prescription-d:before {
  content: "\e90e";
}
.icon-prescription-ethical:before {
  content: "\e90f";
}
.icon-prescription-g-i:before {
  content: "\e910";
}
.icon-prescription-g-ii:before {
  content: "\e911";
}
.icon-prescription-g-iii:before {
  content: "\e912";
}
.icon-prescription-g-iv:before {
  content: "\e913";
}
.icon-prescription-g-v:before {
  content: "\e914";
}
.icon-prescription-g:before {
  content: "\e915";
}
.icon-prescription-homeopathic:before {
  content: "\e916";
}
.icon-prescription-narc-i:before {
  content: "\e917";
}
.icon-prescription-narc-ii:before {
  content: "\e918";
}
.icon-prescription-narc-iii:before {
  content: "\e919";
}
.icon-prescription-narc-iv:before {
  content: "\e91a";
}
.icon-prescription-narc-v:before {
  content: "\e91b";
}
.icon-prescription-narc:before {
  content: "\e91c";
}
.icon-prescription-no:before {
  content: "\e91d";
}
.icon-prescription-otc:before {
  content: "\e91e";
}
.icon-prescription-search:before {
  content: "\e91f";
}
.icon-prescription-send:before {
  content: "\e920";
}
.icon-prescription:before {
  content: "\e921";
}
.icon-star-outline:before {
  content: "\e922";
}
.icon-1:before {
  content: "\e923";
}
.icon-2:before {
  content: "\e924";
}
.icon-3:before {
  content: "\e925";
}
.icon-4:before {
  content: "\e926";
}
.icon-5:before {
  content: "\e927";
}
.icon-6:before {
  content: "\e928";
}
.icon-7:before {
  content: "\e929";
}
.icon-8:before {
  content: "\e92a";
}
.icon-9:before {
  content: "\e92b";
}
.icon-10:before {
  content: "\e92c";
}
.icon-11:before {
  content: "\e92d";
}
.icon-12:before {
  content: "\e92e";
}
.icon-13:before {
  content: "\e92f";
}
.icon-14:before {
  content: "\e930";
}
.icon-15:before {
  content: "\e931";
}
.icon-16:before {
  content: "\e932";
}
.icon-17:before {
  content: "\e933";
}
.icon-18:before {
  content: "\e934";
}
.icon-19:before {
  content: "\e935";
}
.icon-20:before {
  content: "\e936";
}
.icon-21:before {
  content: "\e937";
}
.icon-22:before {
  content: "\e938";
}
.icon-23:before {
  content: "\e939";
}
.icon-24:before {
  content: "\e93a";
}
.icon-account:before {
  content: "\e93b";
}
.icon-add:before {
  content: "\e93c";
}
.icon-alarm-off:before {
  content: "\e93d";
}
.icon-alarm:before {
  content: "\e93e";
}
.icon-archive:before {
  content: "\e93f";
}
.icon-arrow-down:before {
  content: "\e940";
}
.icon-arrow-left:before {
  content: "\e941";
}
.icon-arrow-right:before {
  content: "\e942";
}
.icon-arrow-up:before {
  content: "\e943";
}
.icon-aside-closed:before {
  content: "\e944";
}
.icon-aside-open:before {
  content: "\e945";
}
.icon-asterisk:before {
  content: "\e946";
}
.icon-bars:before {
  content: "\e947";
}
.icon-billed:before {
  content: "\e948";
}
.icon-billing:before {
  content: "\e949";
}
.icon-blood:before {
  content: "\e94a";
}
.icon-bloodpressure:before {
  content: "\e94b";
}
.icon-bookmark:before {
  content: "\e94c";
}
.icon-breathing:before {
  content: "\e94d";
}
.icon-briefcase:before {
  content: "\e94e";
}
.icon-calendar-add:before {
  content: "\e94f";
}
.icon-calendar-search:before {
  content: "\e950";
}
.icon-calendar-week:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e952";
}
.icon-cancel:before {
  content: "\e953";
}
.icon-cancer:before {
  content: "\e954";
}
.icon-chat:before {
  content: "\e955";
}
.icon-check:before {
  content: "\e956";
}
.icon-chevron-down:before {
  content: "\e957";
}
.icon-chevron-left:before {
  content: "\e958";
}
.icon-chevron-right:before {
  content: "\e959";
}
.icon-chevron-up:before {
  content: "\e95a";
}
.icon-clinic:before {
  content: "\e95b";
}
.icon-close:before {
  content: "\e95c";
}
.icon-cloud-download:before {
  content: "\e95d";
}
.icon-cloud-upload:before {
  content: "\e95e";
}
.icon-cloud:before {
  content: "\e95f";
}
.icon-comment:before {
  content: "\e960";
}
.icon-cpx:before {
  content: "\e961";
}
.icon-day-sheet:before {
  content: "\e962";
}
.icon-delete:before {
  content: "\e963";
}
.icon-dot:before {
  content: "\e964";
}
.icon-ellipsis-h:before {
  content: "\e965";
}
.icon-ellipsis-v:before {
  content: "\e966";
}
.icon-empty:before {
  content: "\e967";
}
.icon-exclamation:before {
  content: "\e968";
}
.icon-external-link:before {
  content: "\e969";
}
.icon-fax:before {
  content: "\e96a";
}
.icon-file-2:before {
  content: "\e96b";
}
.icon-file:before {
  content: "\e96c";
}
.icon-filter:before {
  content: "\e96d";
}
.icon-find-a-clinic:before {
  content: "\e96e";
}
.icon-flag:before {
  content: "\e96f";
}
.icon-flip:before {
  content: "\e970";
}
.icon-gear:before {
  content: "\e971";
}
.icon-gears:before {
  content: "\e972";
}
.icon-genetics:before {
  content: "\e973";
}
.icon-health-data:before {
  content: "\e974";
}
.icon-health-tracker:before {
  content: "\e975";
}
.icon-healthcare-2:before {
  content: "\e976";
}
.icon-healthcare:before {
  content: "\e977";
}
.icon-here:before {
  content: "\e978";
}
.icon-info-circle:before {
  content: "\e979";
}
.icon-linux:before {
  content: "\e97a";
}
.icon-list:before {
  content: "\e97b";
}
.icon-location-arrow:before {
  content: "\e97c";
}
.icon-lock-open:before {
  content: "\e97d";
}
.icon-lock:before {
  content: "\e97e";
}
.icon-login:before {
  content: "\e97f";
}
.icon-logout:before {
  content: "\e980";
}
.icon-mail:before {
  content: "\e981";
}
.icon-map-marker:before {
  content: "\e982";
}
.icon-mha:before {
  content: "\e983";
}
.icon-minimize:before {
  content: "\e984";
}
.icon-mobile-app:before {
  content: "\e985";
}
.icon-money:before {
  content: "\e986";
}
.icon-nbox:before {
  content: "\e987";
}
.icon-noshow:before {
  content: "\e988";
}
.icon-picked:before {
  content: "\e989";
}
.icon-play-circle:before {
  content: "\e98a";
}
.icon-plus-circle:before {
  content: "\e98b";
}
.icon-plus:before {
  content: "\e98c";
}
.icon-print:before {
  content: "\e98d";
}
.icon-private:before {
  content: "\e98e";
}
.icon-question:before {
  content: "\e98f";
}
.icon-refresh:before {
  content: "\e990";
}
.icon-reply-all:before {
  content: "\e991";
}
.icon-reply:before {
  content: "\e992";
}
.icon-resize-max:before {
  content: "\e993";
}
.icon-resize-min:before {
  content: "\e994";
}
.icon-rotate:before {
  content: "\e995";
}
.icon-search:before {
  content: "\e996";
}
.icon-send-round:before {
  content: "\e997";
}
.icon-send:before {
  content: "\e998";
}
.icon-share:before {
  content: "\e999";
}
.icon-sort-down:before {
  content: "\e99a";
}
.icon-sort-up:before {
  content: "\e99b";
}
.icon-sorted:before {
  content: "\e99c";
}
.icon-star:before {
  content: "\e99d";
}
.icon-starbill-1:before {
  content: "\e99e";
}
.icon-starbill:before {
  content: "\e99f";
}
.icon-stop:before {
  content: "\e9a0";
}
.icon-support:before {
  content: "\e9a1";
}
.icon-tele-call:before {
  content: "\e9a2";
}
.icon-tele-camera-flip:before {
  content: "\e9a3";
}
.icon-tele-camera:before {
  content: "\e9a4";
}
.icon-tele-doc:before {
  content: "\e9a5";
}
.icon-tele-hangup:before {
  content: "\e9a6";
}
.icon-tele-volume-down:before {
  content: "\e9a7";
}
.icon-tele-volume-mute:before {
  content: "\e9a8";
}
.icon-tele-volume-off:before {
  content: "\e9a9";
}
.icon-tele-volume-up:before {
  content: "\e9aa";
}
.icon-temperature:before {
  content: "\e9ab";
}
.icon-todo:before {
  content: "\e9ac";
}
.icon-tooth:before {
  content: "\e9ad";
}
.icon-user-add:before {
  content: "\e9ae";
}
.icon-user-group:before {
  content: "\e9af";
}
.icon-user-md:before {
  content: "\e9b0";
}
.icon-user-search:before {
  content: "\e9b1";
}
.icon-user:before {
  content: "\e9b2";
}
.icon-video-2:before {
  content: "\e9b3";
}
.icon-video:before {
  content: "\e9b4";
}
.icon-view-off:before {
  content: "\e9b5";
}
.icon-view:before {
  content: "\e9b6";
}
.icon-weight:before {
  content: "\e9b7";
}
.icon-write:before {
  content: "\e9b8";
}