#add-demographic-modal {
	@include juno-font-default();

	label {
		text-align: left;
		margin-top: 8px;
	}

	/* Make the one ClinicAid component on the page space properly */
	#dob.form-group {
		margin-bottom: 0;

		label.control-label {
			padding: 0;
			margin-bottom: 4px;
		}

		.invalid-field {
			input, select{
				border: 1px solid $color-red-base;
			}
		}
	}

	#create-another {
		display: inline-block;
		button {
			height: 16px;
			width: 16px;
		}
	}

	.add-demographic-button {
		max-width: 112px;
	}

	.add-demographic-content {
		padding: 10px;

		.column-container {
			flex: 0 0 40%;
		}
		.hin-fields {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: end;

			.hin {
				flex: 0 0 80%;
			}

			.ver {
				flex: 1 1 20%;
			}
		}
	}
}