.add-queued-appointment-modal {

	.content {
		min-height: 152px;
	}

	h5 {
		margin-top: 0;
	}

	.juno-divider {
		margin: 8px 0 8px 0;
	}

	.center-options {
		juno-button {
			max-width: 140px;
			&:not(last-child) {
				margin-right: 8px;
			}
		}

		juno-typeahead {
			flex-grow: 1;
		}
	}

	.site-select {
		display: flex;
		justify-content: flex-end;

		.juno-select {
			margin-top: 8px;
			width: 405px;
		}
	}

	.buttons {
		display: flex;
		justify-content: flex-end;

		juno-button {
			max-width: 160px;
			.juno-button {
				margin-top: 0;
				button {
					height: 40px;
				}
			}

			&:first-child {
				margin-right: 8px;
			}
		}
	}
}