#hrm-admin {
  .tab-container {
    display: flex;
  }

  .summary-container {

    .summary-step {
      height: 32px;
      margin: 8px 0;

      &.ok {
        background: $semantic-success-base;
      }

      .status {
        @include juno-font-button(16px, bold, normal);

        width: 192px;
        text-align: center;
        color: $color-neutral-white;
        border-radius: 4px;
        padding: 4px;
        margin-right: 24px;

        &.ok {
          background: var(--color-lime-base)
        }

        &.warn {
          background: var(--color-yellow-base);
        }

        &.error {
          background: var(--color-red-base);
        }
      }

      .status-text {
        white-space: pre-line;
      }
    }

    .summary-footer {
      p {
        @include juno-font-body-smallest;
        margin: 4px 0 0 0;
        padding: 0;
      }

    }
  }

  .fetch-container {
    width: 256px;
  }

  .details-container
  {
    .header {
      font-weight: bold;
      margin-bottom: 12px;
    }

    .section {
      margin-top: 24px;

      .row-title {
        width: 128px;
        display: inline-block;
        font-weight: bold;
        margin-left: 32px;
      }

      h5 {
        margin: 0;
      }

      p {
        @include juno-font-body-small;
        white-space: pre-line;
      }
    }
  }
}