.juno-divider {

	// Customization variables
	--divider-color: var(--color-neutral-lightest);
	--divider-margin: 24px;// margin to both the left & right of the divider or top & bottom depending on orientation

	height: 4px;
	width: 100%;

	&.slim {
		height: 1px;
		border-top-width: 0 !important;
	}

	&.horizontal {
		height: 100%;
		width: 4px;

		&.slim {
			width: 1px;
			border-top-width: 0 !important;
		}
	}
}

div {
	&.juno-divider {
		margin: var(--divider-margin) 0 var(--divider-margin) 0;

		&.horizontal {
			margin: 0 var(--divider-margin) 0 var(--divider-margin);
		}
	}
}