.juno-progress-modal {
	@extend .juno-modal;
	@include juno-font-body-small();
	padding: 8px 8px 16px 8px;

	.modal-dialog {
		width: 60%;
		max-width: 1024px;
		min-width: 600px;
		height: 128px;
		margin-top: 30vh;

		.modal-content {
			background: var(--color-neutral-white) none;
		}
	}
}