#integration-modules-page {
	@include juno-font-default();

	.page-header {
		margin-top: 0;
	}

    .integration-modules:not(:first-child) {
      margin-top: 64px;
    }

	.integration-list {
		flex-wrap: wrap;

		.integration-item {
			flex: 0 0 100%;
			justify-content: center;
			align-items: center;
			margin-bottom: 8px;

			.switch {
				margin: 0;
				display: inline-block;
				@include juno-toggle-switch(32px, 4px, .4s);
			}

			.switch-label {
				padding-right: 12px;
				margin: 0;
				min-width: 200px;
				@include juno-font-default-size(20px);
			}

			.integration-check {
				margin-left: 12px;
				color: $color-primary-dark;
				font-size: 30px;
				min-width: 30px;
			}
		}
	}
}