.availability-settings {
	$time-table-min-width: 620px;
	overflow-y: auto;

	.panel-header {
		.queues-header {
			display:flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
	.panel-body {
		padding: 0;

		.availability-wrapper {
			display: flex;
			flex-flow: row wrap;

			.time-selection {
				flex-grow: 1;
				padding: 8px 12px;

				.time-selection-row {
					padding: 4px 0;
					display: flex;
					flex-direction: row;
					align-items: center;
					min-width: $time-table-min-width;

					.col-time-selection-enabled {
						width: 10%;
					}
					.col-time-selection-label {
						width: 15%;
					}
					.col-time-selection-start {
						width: 35%;
					}
					.col-time-selection-end {
						width: 35%;
						margin-left: 5%;
					}

					label {
						min-width: 0;
					}
				}
			}
		}
	}
}