.manage-appointment-queues-page-admin {
	.queues-table-panel {
		.panel-header {
			.juno-button {
				width: 128px;
				float: right;
			}
		}

		.panel-body {
			padding: 0;
			table {
				margin-bottom: 0;

				.actions-column {
					width: 256px;
				}
			}
		}
	}
	.on-demand-settings-panel {
		.panel-body {
			padding: 0;

			.queue-selection-row {
				padding: 12px;
			}
			.time-selection-row {
				padding: 4px 0;
				display: flex;
				align-items: center;
			}
		}
	}

}