.demographic-details-section {
	@include juno-font-default();

	$field-width: 430px;

	.title {
		margin: 0 0 8px 0;
		color: $color-primary-base;
	}

	.fields {
		max-width: 950px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		label {
			text-align: right;
			width: 128px;
		}

		.juno-input-label-left {
			margin-right: unset;
		}
		.juno-input {
			margin-top: 8px;
			width: $field-width;
			gap: 8px;
		}

		.juno-select {
			margin-top: 8px;
			width: $field-width;
          	gap: 8px;
		}
		.juno-date-select {
			margin-top: 8px;
			width: $field-width;
			gap: 8px;
		}

		.juno-date-select >*:nth-child(2) {
			justify-content: unset;
		}

		.juno-typeahead {
			margin-top: 8px;
			width: $field-width;
			gap: 8px;
		}
		.mha-patient-connection {
			margin-top: 8px;
			width: $field-width;
			gap: 8px;
		}

		.juno-button,
		.juno-check-box {
			margin-top: 8px;
			gap: 8px;
		}
	}
}