.demographic-details-section {
	@include juno-font-default();

	$field-width: 440px;

	.title {
		margin: 0 0 8px 0;
		color: $color-primary-base;
	}

	.body {
		max-width: 950px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		label {
			text-align: right;
			margin-left: 10px;
			width: 128px;
		}
		.juno-input {
			margin-top: 8px;
			width: $field-width;
		}
		.juno-select {
			margin-top: 8px;
			width: $field-width;
		}
		.juno-date-select {
			margin-top: 8px;
			width: $field-width;
		}
		.juno-typeahead {
			margin-top: 8px;
			width: $field-width;
		}
		.mha-patient-connection {
				margin-top: 8px;
				width: $field-width;
		}

		.juno-button,
		.juno-check-box {
			margin-top: 8px;
		}
	}
}