.demographic-details-section {
	@include juno-font-default();

	$field-width: 420px;

	.title {
		margin: 0 0 8px 0;
		color: $color-primary-base;
	}

	.body {
		max-width: 900px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		label {
			text-align: right;
			margin-left: 24px;
			width: 108px;
		}
		.juno-input {
			margin-top: 8px;
			width: $field-width;
		}
		.juno-select {
			margin-top: 8px;
			width: $field-width;
		}
		.juno-date-select {
			margin-top: 8px;
			width: $field-width;
		}
		.juno-typeahead {
			margin-top: 8px;
			width: $field-width;
		}
		.mha-patient-connection {
				margin-top: 8px;
				width: $field-width;
		}

		.juno-button,
		.juno-check-box {
			margin-top: 8px;
		}
	}

	.fields {
		display: flex;
		flex-wrap: wrap;

		.divider {
			flex: 1 1 0;
			max-width: 84px;
		}

		.column {
			.juno-input {
				margin-top: 8px;
				width: $field-width;
			}
			.juno-select {
				margin-top: 8px;
				width: $field-width;
			}
			.juno-date-select {
				margin-top: 8px;
				width: $field-width;
			}
			.juno-typeahead {
				margin-top: 8px;
				width: $field-width;
			}

			.juno-button,
			.juno-check-box {
				margin-top: 8px;
			}

			label {
				min-width: 128px;
				margin-right: 8px;
			}
		}
	}
}