#new-patient-page {

	#new-patient-dob-month,
	#new-patient-dob-day {
		width: 25%;
	}

	#new-patient-dob-year {
		width: 50%;
	}
}

#patient-search-page {
	#patient-search-table {
		tr {
			cursor: pointer;
		}
	}
}
