.panel-component {
	@include juno-font-body-small();

	.panel-header {
		background-color: $color-neutral-lightest;
		border-color: $color-neutral-lightest;
		border-width: 1px;
		border-radius: 8px;
		border-style: solid;

		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		padding: 8px;
		padding-right: 16px;
		padding-left: 16px;
	}

	.panel-body {
		background-color: $color-neutral-lightest;
		border-color: $color-neutral-lightest;
		border-width: 1px;
		border-radius: 8px;
		border-style: solid;

		border-top-width: 0;

		border-top-left-radius: 0;
		border-top-right-radius: 0;

		padding: 8px;
	}

}