
.juno-panel {
	display: block !important;

	.panel-header {
		background-color: $color-neutral-lighter;
		border-color: $color-neutral-lighter;
		border-width: 4px;
		border-radius: 8px;
		border-style: solid;

		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		padding: 4px;
		padding-right: 16px;
		padding-left: 16px;
	}

	.panel-body {
		background-color: white;
		border-color: $color-neutral-lighter;
		border-width: 4px;
		border-radius: 8px;
		border-style: solid;

		border-top-width: 0;

		border-top-left-radius: 0;
		border-top-right-radius: 0;

		padding: 16px;

		&.no-header {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			border-top-width: 4px;
		}
	}

}