#edit-provider-admin {
	@include juno-font-default();
	@include juno-tab-md(16px);
	@include juno-tab-color-scheme-white;

	h1 {
		margin-top: 0;
	}

	.user-role-list {
		padding-right: 0;

		ul {
			list-style-type: none;

			hr {
				margin-top: $margin-sm;
				margin-bottom: $margin-sm;
			}

			i {
				color: $color-red-base;
			}
		}
	}

	.edit-provider-fields {
		panel {
			margin-top: $margin-xl;
		}
	}
}