.fax-configuration-edit-modal {

	.fax-configuration-edit-modal-content {
		padding: 30px;
		background-color: var(--color-neutral-white);
		overflow: auto;
		height: 100%;

		.input-fieldset {
			margin: 0;
			max-width: 480px;
		}
		.input-group,
		.label-custom-style {
			--juno-form-label-width: 150px;
			--juno-input-label-width: 150px;
			--juno-select-label-width: 150px;
			--juno-button-label-width: 150px;
		}

		.icon-badge {
			--icon-font-size: 18px;
			--icon-color: var(--color-neutral-white);
		}
		.connection-status-success {
			.icon-badge {
				--badge-color: var(--color-green-base);
			}
		}
		.connection-status-failure {
			.icon-badge {
				--badge-color: var(--color-red-base);
			}
		}
		.connection-status-unknown {
			.icon-badge {
				--badge-color: var(--color-neutral-grey);
			}
		}

		.info-badge {
			i {
				font-size: 10px;
			}
		}
	}
}