
.fax-configuration-edit-modal {

	.fax-configuration-edit-modal-content {
		padding: 30px;
		background-color: var(--color-neutral-white);
		overflow: auto;
		height: 100%;

		.input-fieldset {
			margin: 0 20%;
		}
		.input-group {
			--juno-input-label-width: 30%;
		}

		.icon-badge {
			--icon-font-size: 14px;
			--icon-color: var(--color-neutral-white);
		}
		.connection-status-success {
			.icon-badge {
				--badge-color: var(--color-green-base);
			}
		}
		.connection-status-failure {
			.icon-badge {
				--badge-color: var(--color-red-base);
			}
		}
		.connection-status-unknown {
			.icon-badge {
				--badge-color: var(--color-neutral-grey);
			}
		}

		//input {
		//	&.ng-invalid {
		//		background-color: $input-color-invalid-background;
		//		border-color: $input-color-invalid-border;
		//	}
		//}
		//
		//.input-validation {
		//	font-size: 10px;
		//	color: $input-color-invalid-text;
		//}

		//.flex-row {
		//	display: flex;
		//	flex-direction: row;
		//	align-items: center;
		//	justify-content: flex-start;
		//
		//	&.content-center {
		//		justify-content: center;
		//	}
		//
		//	&.content-end {
		//		justify-content: flex-end;
		//	}
		//
		//	&.info-section {
		//		position: relative;
		//
		//		.info-icon {
		//			position: absolute;
		//			font-size: 14px;
		//			color: $color-blue-light;
		//		}
		//	}
		//
		//	.flex-row-label {
		//		width: 40%;
		//		padding: 0 5px;
		//		text-align: right;
		//	}
		//
		//	.flex-row-content {
		//		text-align: left;
		//	}
		//}
	}
}