#patient-details-page {
	#dob-year {
		width: 65px;
	}

	#dob-month {
		width: 45px;
	}

	#dob-day {
		width: 45px;
	}

	.input-group {
		.phone-num {
			width: 70%;
		}
		.phone-ext {
			width: 30%;
		}
	}

	#photo {
		height: 150px;
		width: auto;
		cursor: pointer;
	}

	.add-status-menu {
		right: 55px;
		top: 0px;
		z-index: 1;
		background-color: #EEEEEE;
		padding: 5px;
	}

	.add-status-menu button {
		margin-top: 10px;
	}

	.form-heading {
		color: $primary-blue-text;
	}

	.sub-nav .dropdown-toggle {
		color: #333333;
	}


	#save-button {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
	}


	#alert-text-box {
		height: 55px;
		width: 100%;
		color: #df4646;
	}

	#notes-text-box {
		height: 55px;
		width: 100%;
	}

	.form-divider {
		margin-top: $margin-lg;
	}
}