.care-tracker-container {
	max-width: 1024px;

	.filter-wrapper {
		padding-bottom: 8px;
	}

	.care-tracker-header {
		color: var(--color-primary-base);
	}

	.item-divider {
		// use border so it shows up when printing
		border-top: 2px solid var(--color-neutral-light);
		margin-top: 16px;
	}

	.tracker-footer {
		margin: 8px 0 24px 0;

		.footer-button-wrapper {
			width: 128px;
		}
	}
}