#group-selector-component {
	nav {
		overflow-y: auto;
		max-height: 350px;
	}

	.section-heading {
		color: $color-primary-dark
	}

	h3 {
		margin-top: 0px;
	}

	.group-list-item {
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.user-groups-section {
		margin-left: 16px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	.selected {
		background-color: $color-neutral-lighter;
	}
}