#group-selector-component {
  h3 {
    margin-top: 0px;
  }

  .group-list-item {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .user-groups-section {
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}