#settings-page {
	#summary-items {
		margin-bottom: $margin-lg;
	}
	.settings-header {
		@extend %juno-page-header;
	}

	.settings-nav {
		$border-bottom-size: 4px;
		@include juno-tab-md(calc(#{$page-tabs-height} - #{$border-bottom-size}));
		@include juno-tab-color-scheme-white($border-bottom-size);
		@include juno-font-tab;
	}
	.primary-content-window {
		@extend %juno-primary-view-pane-tabs;
		@include juno-page-padding-default;
	}

	.settings-footer {
		margin-top: $margin-md;
		margin-bottom: $margin-md;
	}
}