.mha-patient-details-modal {
	@include juno-font-body-small();
	color: var(--color-neutral-darkest);

	.patient-details-container {
		display: grid;
		grid-template-columns: 448px 1fr;

		background-color: var(--color-neutral-white);
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

		border: solid 1px var(--color-neutral-light-grey);
		border-radius: 8px;

		flex-grow: 1;
		padding:8px;

		> div {
			background-color: var(--color-neutral-lightest);

			border: solid 1px var(--color-neutral-light-grey);
			border-radius: 8px;
		}
	}

	.patient-details-button-row {
		min-height: 40px;
	}

	.cancel-reject-button {
		width: 200px;
	}
}