// style variable defaults
:root {
	--juno-collapse-area-label-left-indent: 0px;
}

.juno-collapse-area {
	.header {
		margin-left: var(--juno-collapse-area-label-left-indent);
		cursor: pointer;
	}

	.icon {
		font-size: 16px;
	}
}
