<h4 class="ng-scope">Summary Items - Left Side</h4>
<table class="table table-hover table-condensed ng-scope">
	<tbody>
	<tr>
		<td class="col-xs-4">
			Ongoing Concerns
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-10">
					<input name="radios-enc-10" id="radios-enc-10" ng-model="$ctrl.pref.cppDisplayOngoingConcerns"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-11">
					<input name="radios-enc-11" id="radios-enc-11" ng-model="$ctrl.pref.cppDisplayOngoingConcerns"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>

				<br>
				<!-- ngIf: pref.cppDisplayOngoingConcerns -->
				<small ng-if="$ctrl.pref.cppDisplayOngoingConcerns" class="ng-scope">
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-7" id="check-enc-7"
							   ng-model="$ctrl.pref.cppOngoingConcernsStartDate" value="true" class="ng-pristine ng-valid">
						Show Start Date
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-8" id="check-enc-8"
							   ng-model="$ctrl.pref.cppOngoingConcernsResDate" value="true" class="ng-pristine ng-valid"> Show
						Resolution Date
					</label>

					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-9" id="check-enc-9"
							   ng-model="$ctrl.pref.cppOngoingConcernsProblemStatus" value="true"
							   class="ng-pristine ng-valid"> Show Problem Status
					</label>
				</small><!-- end ngIf: pref.cppDisplayOngoingConcerns -->
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Medical History
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-8">
					<input name="radios-enc-8" id="radios-enc-8" ng-model="$ctrl.pref.cppDisplayMedHx" ng-value="true"
						   type="radio" class="ng-valid ng-dirty" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-9">
					<input name="radios-enc-9" id="radios-enc-9" ng-model="$ctrl.pref.cppDisplayMedHx" ng-value="false"
						   type="radio" class="ng-valid ng-dirty" value="false">
					Disable
				</label>

				<br>
				<!-- ngIf: pref.cppDisplayMedHx -->
				<small ng-if="$ctrl.pref.cppDisplayMedHx" class="ng-scope">
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-3" id="check-enc-3" ng-model="$ctrl.pref.cppMedHxStartDate"
							   value="true" class="ng-pristine ng-valid"> Show Start Date
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-4" id="check-enc-4" ng-model="$ctrl.pref.cppMedHxResDate"
							   value="true" class="ng-pristine ng-valid"> Show Resolution Date
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-5" id="check-enc-5" ng-model="$ctrl.pref.cppMedHxTreatment"
							   value="true" class="ng-pristine ng-valid"> Show Treatment
					</label>
					<br>
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-6" id="check-enc-6" ng-model="$ctrl.pref.cppMedHxProcedureDate"
							   value="true" class="ng-pristine ng-valid"> Show Procedure Date
					</label>
				</small><!-- end ngIf: pref.cppDisplayMedHx -->
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Social History
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-6">
					<input name="radios-enc-6" id="radios-enc-6" ng-model="$ctrl.pref.cppDisplaySocialHx" ng-value="true"
						   type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-7">
					<input name="radios-enc-7" id="radios-enc-7" ng-model="$ctrl.pref.cppDisplaySocialHx" ng-value="false"
						   type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>

				<br>
				<!-- ngIf: pref.cppDisplaySocialHx -->
				<small ng-if="$ctrl.pref.cppDisplaySocialHx" class="ng-scope">
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-1" id="check-enc-1" ng-model="$ctrl.pref.cppSocialHxStartDate"
							   value="true" class="ng-pristine ng-valid"> Show Start Date
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="check-enc-2" id="check-enc-2" ng-model="$ctrl.pref.cppSocialHxResDate"
							   value="true" class="ng-pristine ng-valid"> Show Resolution Date
					</label>
				</small><!-- end ngIf: pref.cppDisplaySocialHx -->
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Reminders
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-12">
					<input name="radios-enc-12" id="radios-enc-12" ng-model="$ctrl.pref.cppDisplayReminders" ng-value="true"
						   type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-13">
					<input name="radios-enc-13" id="radios-enc-13" ng-model="$ctrl.pref.cppDisplayReminders" ng-value="false"
						   type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>

				<br>

				<small ng-if="$ctrl.pref.cppDisplayReminders" class="ng-scope">
					<label class="checkbox-inline">
						<input type="checkbox"
							   name="check-enc-10"
							   id="check-enc-10"
							   ng-model="$ctrl.pref.cppRemindersStartDate"
							   value="true"
							   class="ng-pristine ng-valid">
						Show Start Date
					</label>
					<label class="checkbox-inline">
						<input type="checkbox"
							   name="check-enc-11"
							   id="check-enc-11"
							   ng-model="$ctrl.pref.cppRemindersResDate"
							   value="true"
							   class="ng-pristine ng-valid">
						Show Resolution Date
					</label>
				</small>
			</div>
		</td>
	</tr><!-- CPP Display -->
	<tr><!-- Summary Items -->
		<td>
			Preventions
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-14">
					<input name="radios-enc-14" id="radios-enc-14" ng-model="$ctrl.pref.summaryItemDisplayPreventions"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-15">
					<input name="radios-enc-15" id="radios-enc-15" ng-model="$ctrl.pref.summaryItemDisplayPreventions"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Family History
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-32">
					<input name="radios-enc-32" id="radios-enc-32" ng-model="$ctrl.pref.summaryItemDisplayFamHx"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-33">
					<input name="radios-enc-33" id="radios-enc-33" ng-model="$ctrl.pref.summaryItemDisplayFamHx"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Risk Factors
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-30">
					<input name="radios-enc-30" id="radios-enc-30" ng-model="$ctrl.pref.summaryItemDisplayRiskFactors"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-31">
					<input name="radios-enc-31" id="radios-enc-31" ng-model="$ctrl.pref.summaryItemDisplayRiskFactors"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Allergies
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-28">
					<input name="radios-enc-28" id="radios-enc-28" ng-model="$ctrl.pref.summaryItemDisplayAllergies"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-29">
					<input name="radios-enc-29" id="radios-enc-29" ng-model="$ctrl.pref.summaryItemDisplayAllergies"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Medications
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-16">
					<input name="radios-enc-16" id="radios-enc-16" ng-model="$ctrl.pref.summaryItemDisplayMeds"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-17">
					<input name="radios-enc-17" id="radios-enc-17" ng-model="$ctrl.pref.summaryItemDisplayMeds"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Other Medications
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-18">
					<input name="radios-enc-18" id="radios-enc-18" ng-model="$ctrl.pref.summaryItemDisplayOtherMeds"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-19">
					<input name="radios-enc-19" id="radios-enc-19" ng-model="$ctrl.pref.summaryItemDisplayOtherMeds"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Assessments
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-20">
					<input name="radios-enc-20" id="radios-enc-20" ng-model="$ctrl.pref.summaryItemDisplayAssessments"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-21">
					<input name="radios-enc-21" id="radios-enc-21" ng-model="$ctrl.pref.summaryItemDisplayAssessments"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	</tbody>
</table>

<h4 class="ng-scope">Summary Items - Right Side</h4>
<table class="table table-hover table-condensed ng-scope">
	<tbody>
	<tr>
		<td class="col-xs-4">
			Incoming
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-24">
					<input name="radios-enc-24" id="radios-enc-24" ng-model="$ctrl.pref.summaryItemDisplayIncoming"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-25">
					<input name="radios-enc-25" id="radios-enc-25" ng-model="$ctrl.pref.summaryItemDisplayIncoming"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			Decision Support
		</td>
		<td>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<label class="radio-inline" for="radios-enc-26">
					<input name="radios-enc-26" id="radios-enc-26" ng-model="$ctrl.pref.summaryItemDisplayDsSupport"
						   ng-value="true" type="radio" class="ng-pristine ng-valid" value="true">
					Enable
				</label>
				<label class="radio-inline" for="radios-enc-27">
					<input name="radios-enc-27" id="radios-enc-27" ng-model="$ctrl.pref.summaryItemDisplayDsSupport"
						   ng-value="false" type="radio" class="ng-pristine ng-valid" value="false">
					Disable
				</label>
			</div>
		</td>
	</tr>
	</tbody>
</table>