juno-input {
	.juno-input {
		@include juno-form-inputs-style(1px, var(--theme-form-field-boarder-radius));
		@include juno-form-inputs-colors-default();

		div {
			flex: 1 1 0;
			min-width: 24px;
			position: relative;

			.character-display {
				position: absolute;
				top: 1px;
				right: 8px;

				@include juno-font-body-smallest();
				color: var(--color-neutral-grey);
			}
		}

		input {
			width: 100%;

			&.uppercase {
				text-transform: uppercase;
			}

			&.field-no-border {
				border: none;
				background-color: transparent;
				padding: 0;

				&:active, &:focus {
					border: none;
				}
			}
		}
	}
}