juno-input {
	.juno-input {

		@include juno-form-inputs-style();
		@include juno-form-inputs-colors-default;
		&.juno-style-grey {
			@include juno-form-inputs-colors-grey;
		}
		&.juno-style-dracula {
			@include juno-form-inputs-colors-dracula;
		}

		input {
			flex: 1 1 0;
			min-width: 24px;

			&.uppercase {
				text-transform: uppercase;
			}

			&.field-no-border {
				border: none;
				background-color: transparent;
				padding: 0;

				&:active, &:focus {
					border: none;
				}
			}
		}
	}
}