juno-input {
	.juno-input {
		@include juno-form-inputs-style(1px, var(--theme-form-field-border-radius));
		@include juno-form-inputs-colors-default();

		div {
			flex: 1 1 0;
			min-width: 24px;
			position: relative;

			.character-display {
				position: absolute;
				top: 1px;
				right: 8px;

				@include juno-font-body-smallest();
				color: var(--color-neutral-grey);
			}
		}

		.icon {
			font-size: 16px;

			position: absolute;
			top: calc(50% - 8px);
			left: 8px;
		}

		input {
			width: 100%;

			&.uppercase {
				text-transform: uppercase;
			}

			&.field-no-border {
				border: none;
				background-color: transparent !important;
				padding: 0;

				&:active, &:focus {
					border: none;
				}
			}

			&.field-disabled {
				cursor: not-allowed;
			}

			&.shift-right-for-icon {
				padding-left: 32px;
			}
		}
	}
}