.flowsheet-manager {
	@include juno-table-default;

	.button-wrapper {
		width: 128px;
	}

	.action-buttons {
		width: 312px;
	}
}

.flowsheet-edit {
	.add-button-wrapper {
		padding: 8px;
		width: 256px;
		i {
			font-size: 12px;
		}
	}
}