#admin-page {
  @include juno-font-default;

  #admin-page-header {
    @extend %juno-page-header;
    padding-left: 63px;

    h5 {
      color: $color-neutral-white;
    }
    h5, p {
      margin: 0;
    }

    h6 {
      display: inline-block;
    }

    a  {
      all: unset;
      cursor: pointer;
    }
  }

  .add-role-button {
    height: 40px;
  }

  #admin-page-body {
    margin: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .admin-subpage-view {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 0;
      flex: 1 1;
    }

    .admin-side-nav {
      flex: 0 0 300px;
    }
  }
}