#admin-page {
  @include juno-font-default;

  #admin-page-header {
    @extend %juno-page-header;
    padding-left: 63px;

    //margin-bottom: $margin-md;
    h3 {
      color: $color-neutral-white;
    }
    h3, p {
      margin: 0;
    }
  }

  #admin-page-body {

    .admin-subpage-view {
      margin-top: 30px;
      margin-right: 10px;
    }

  }
}