#admin-page {
  @include juno-font-default;

  #admin-page-header {
    @extend %juno-page-header;
    padding-left: 63px;

    h3 {
      color: $color-neutral-white;
    }
    h3, p {
      margin: 0;
    }

    a  {
      all: unset;
      cursor: pointer;
    }
  }

  #admin-page-body {
    margin: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .admin-subpage-view {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      flex: 1 1;
    }

    .admin-side-nav {
      flex: 0 0 300px;
    }
  }
}