.juno-check-box {

	// customization variables.
	--box-shadow: 0 2px 2px rgba(var(--color-neutral-black-alpha), 0.1);

	> button {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0;
		border-radius: 4px;
		box-shadow: var(--box-shadow);

		width: 16px;
		height: 16px;
		font-size: 12px;

		&.un-checked {
			color: var(--theme-color-form-field-text);
			border-color: var(--theme-color-form-field-border);
			background-color: var(--theme-color-form-field-background);

			&:hover {
				color: var(--theme-color-form-field-text-hover);
				border-color: var(--theme-color-form-field-border-hover);
				background-color: var(--theme-color-form-field-background-hover);
			}
		}
		&.checked {
			color: var(--color-neutral-white);
			border-color: var(--color-primary-dark);
			background-color: var(--color-primary-base);
		}
	}
}