#patient-record-page {
	.patient-record-header {
		@extend %juno-page-header;

		.patient-header-name,.patient-header-info {
			margin: 0;
			padding: 0 6px;
		}
		.icon {
			width: 20px;
			height: 20px;
			background-color: $white;
			align-self: flex-end;
			margin-bottom: 2px;
		}
	}
	#record-nav {

		$border-bottom-size: 4px;
		@include juno-tab-md(calc(#{$page-tabs-height} - #{$border-bottom-size}));
		@include juno-tab-color-scheme-white($border-bottom-size);
		@include juno-font-tab;
	}

	.primary-content-window {
		@extend %juno-primary-view-pane-tabs;
		@include juno-page-padding-default;
	}

	.sub-nav {
		.dropdown-menu {
			background-color: #fff;
			li {
				a {
					color: #636363;
				}
				a:hover {
					background-color: #ebebeb;
				}
			}
		}
	}

	@media (max-width: 1320px) {

		.patient-header-name {
			font-size: 26px
		}
	}

	@media print {
		.noprint {
			display: none;
		}
		.patient-header-name {
			font-size: 16px;
		}
	}

	@media (min-width: 992px) {
		.no-margin-left-md {
			margin-left: 0;
		}
	}
}
#note-editor-container {
	display: flex;
	justify-content: center;
	#note-editor,
	#note-editor-minimized {
		position: fixed;
		bottom: 0; // top: auto !important; // Using !important to override the JqueryUI styling
		z-index: 1040;
	}

	#note-editor-minimized {
		background-color: $secondary-blue;
		padding: 0;
		color: $primary-white-text;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}

	#note-editor {
		background-color: $light-grey;
		/* pre-emptively set the left edge due to a weird jqueryui bug
		in which the left edge is not set if the user resizes the element from the right before doing any other resizing actions.
		This causes the element to expand from both sides when resizing to the right*/
		left: 30%;
		position: fixed;
		top: auto !important;
		bottom: 0;
		#note-editor-header {
			color: $primary-white-text;
			background-color: $secondary-blue;
			margin-bottom: $margin-md;
			#note-editor-minimize-button {
				&:hover {
					span {
						color: $secondary-hover-blue;
					}
				}
			}
		}
		.row {
			margin-bottom: $margin-sm;
		}
		.note-editor-textarea {
			resize: none;
			min-height: 50px;
		}
		#note-editor-enc-date {
			padding-right: 0;
			p {
				margin: 0;
			}
		}
	}

	[uib-typeahead-popup].dropdown-menu {
		/* Needs to be !important in order to override the inline styles set with ng-style.
    	   We need to do this override to allow for dropup menuys */
		top: auto !important;
	}
}