#patient-record-page {
	margin-top: -$margin-sm;
	.patient-header-name {
		color: $primary-blue-text;
		margin: 15px 0;
	} // for patient header
	.patient-header-label {
		color: $primary-blue-text;
	}

	.patient-header-info {
		margin-bottom: -$margin-sm;
	}

	.sub-nav {
		.dropdown-menu {
			background-color: #fff;
			li {
				a {
					color: #636363;
				}
				a:hover {
					background-color: #ebebeb;
				}
			}
		}
	}

	@media (max-width: 1320px) {

		.patient-header-name {
			font-size: 26px
		}
	}

	@media print {
		.noprint {
			display: none;
		}
		.patient-header-name {
			font-size: 16px;
		}
	}

	@media (min-width: 992px) {
		.no-margin-left-md {
			margin-left: 0;
		}
	}
}