.roster-status-edit-modal {
  .roster-status-input {
    display: flex;
    margin: 5px;
  }

  .roster-status-checkbox-container {
    display: flex;
    margin: 5px;
  }

  .roster-status-footer {
    display: flex;
  }
}
