.roster-status-edit-modal {
  .roster-status-input {
    display: flex;
    margin: 5px;
  }

  .roster-status-footer {
    display: flex;
  }
  .roster-status-system-managed {
    margin-left: 10px;
  }
}
