.juno-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.switch,.switch {

    $switch-height: 34px;
    $slider-padding: 4px;
    $transition-time: .4s;

    $switch-width: calc((#{$switch-height} * 2) - (2 * #{$slider-padding}));
    $translate-px: calc(#{$switch-height} - (2 * #{$slider-padding}));

    position: relative;
    display: inline-block;
    width: $switch-width;
    min-width: $switch-width;
    height: $switch-height;
    min-height: $switch-height;

    /* Hide default HTML checkbox */
    input {
      display: none;

      &:checked + .slider {
        background-color: var(--theme-color-primary-base);  /* Background when enabled */
      }
      &:focus + .slider {
        box-shadow: 0 0 1px var(--theme-color-primary-accent);
      }
      &:checked + .slider:before {
        -webkit-transform: translateX($translate-px);
        -ms-transform: translateX($translate-px);
        transform: translateX($translate-px);
      }
      &:disabled + .slider {
        background-color: var(--theme-color-form-field-text-disabled);
      }
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--theme-color-form-field-text-disabled);     /* Background color when off */
      -webkit-transition: $transition-time;
      transition: $transition-time;

      &:before {
        position: absolute;
        content: "";
        height: $translate-px;
        width: $translate-px;
        left: $slider-padding;
        bottom: $slider-padding;
        background-color: var(--theme-color-form-field-background);   /* Switch color */
        -webkit-transition: $transition-time;
        transition: $transition-time;
      }
      /* Rounded sliders */
      &.round {
        border-radius: $switch-height;
        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}

