.demographic-details-section.roster-section {
  .fields {

    .juno-typeahead {

      label {
        width: 136px;
      }
    }

    .rostered-history-button {
      display:flex;
      margin-left: 138px;
    }
  }
}