
.demographic-card {
	height: 144px;
	background-color: $color-neutral-lightest;
	border: solid 1px $color-neutral-lighter;
	border-radius: 8px;
	padding: 14px;

	.form-group {
		margin: 0;

		label {
			font-size: 9px;
			color: $color-neutral-dark;
		}
		span {
			@include juno-font-label;
			color: $color-neutral-darker;
		}
	}
}