#new-patient-page {

	#new-patient-dob-month,
	#new-patient-dob-day {
		width: 25%;
	}

	#new-patient-dob-year {
		width: 50%;
	}
}

#patient-search-page {
	#patient-search-table {
		tr {
			cursor: pointer;
		}
	}

	#search-form {
		.search-filters>div {
			margin-bottom: $margin-sm;
		}
		.search-buttons {
			margin-bottom: $margin-md;
			margin-top: $margin-md;
		}
		.demo-search-options {
			padding-left: 0;
			.dropdown-toggle {
				border: 1px solid #ccc;
				line-height: 1.42857;
				color: #555555;
				webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			}
		}
	}
}
