.inbox-header-bar {
	height: 56px;

	background-color: var(--color-neutral-lightest);
	border: solid 1px var(--color-neutral-light-grey);
	
	.item-divider {
		height: 32px;
		.juno-divider {
			//--divider-color: red;
		}
	}

	.unread-checkbox {
		min-width: 78px;
	}

	.checkbox-no-drop-shadow {
		.juno-check-box {
			--box-shadow: none;
		}
	}

	.search-input {
		width: 344px;
		min-width: 128px;
	}

	.header-button {
		flex-grow: 0;

		.icon {
			font-size: 24px;

			&.icon-blue {
				color: var(--color-primary-base);
			}
		}
	}

	.loading-indicator {
		.loading-spinner-container {
			width: 2em;
			height: 2em;
		}
	}

	@media only screen and (max-width: 1100px) {
		.left-buttons {
			> .header-button {
				margin-left: 0;
			}
		}
	}

	@media only screen and (max-width: 900px) {
		flex-wrap: wrap;
		height: auto;

		.right-buttons {
			justify-content: flex-start;
		}

		.search-input {
			width: 256px;
		}

		.inbox-title {
			width: auto;
		}
	}
}