.attachment-list {

	.text-grey {
		color: var(--color-neutral-dark-grey);
	}

	.single-column {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.attachment {
		cursor: pointer;
		user-select: none;
		border-radius: 8px;
		max-width: max-content;

		&:hover {
			background-color: var(--color-neutral-lightest);
		}

		.download-icon {
			font-size: 24px;
			color: var(--color-primary-base);
		}
	}

	.remove-button, .attach-button {
		.juno-button {
			.icon {
				font-size: 20px;
			}
		}
	}
}