.k2a-config {
  .small {
	font-size: smaller;
  }
}
.k2a-notification {
  .small {
	font-size: smaller;
  }
  h2 {
	margin-left:5px
  }
}
.k2a-report-template {
  .no-pad {
	padding: 0;
  }
  .italic {
	font-style: italic;
  }
}