.care-tracker-item-data {
	position: relative;
	width: 128px;

	border: 2px solid var(--color-neutral-light-grey);
	border-radius: 8px;
	padding: 4px;

	.display-date {
		@include juno-font-body-smallest;
	}
	.display-value {
		@include juno-font-body;
		font-weight: bold;
		padding-top: 4px;
	}
	i {
		position: absolute;
		top: 4px;
		right: 4px;
		font-size: 16px;
		color: var(--color-primary-base);
	}
}