
.consult-page-header {
	@extend %juno-page-header;
}

.consult-page {
	@include juno-page-padding-default;
}

#consult-request-section,
#consult-response-section {
	.consult-request-form {
		input[type="checkbox"] {
			margin: 0;
		}
	}
	.info-add-buttons {
		button {
			margin-bottom: $margin-sm;
		}
	}
  	.appointment-date-time-select {
	  display: flex;
	  flex-flow: row nowrap;
	  justify-content: start;

	  .check-wrapper {
		padding: 2px;
	  }
	  .date-select-wrapper{
		width: 40%;
		padding: 2px;
	  }
	  .time-select-wrapper {
		width: 40%;
		padding: 2px;
		.time-select {
		  display: flex;
		  align-items: center;
		}
	  }
	}
}

#search-form {
	.search-filters>div {
		margin-bottom: $margin-sm;
	}
	.search-buttons {
		margin-bottom: $margin-md;
		margin-top: $margin-md;
	}
	.consultation-search-filter>div{
		margin-top: $margin-sm;
	}
	.consultation-search-filter {
		display:flex;
		flex-wrap:wrap;
	}
}