.juno-modal {
	.mha-patient-details-modal {
		@include juno-font-body-small();

		.modal-ctl-buttons {
			.icon-modal-ctl {
				cursor: pointer;
			}
		}

		.modal-title {
			.patient-title {
				display: flex;
				align-items: baseline !important;
				color: $color-neutral-white;
				font-size: 14px;

				.header-start {
					display: flex;
					align-items: baseline;
					margin-right: 12px;

					h3 {
						font-size: 20px;
					}

					h4 {
						font-size: 18px;
					}
				}

				h5 {
					font-weight: normal;
					font-size: 14px;
					margin: 0 8px 0 8px;
				}
			}
		}

		.modal-body {
			.patient-modal-body {
				padding: 8px;

				display: flex !important;
				flex-direction: column;

				.juno-tab {
					margin-top: 0;
					margin-bottom: 24px;
				}

				// fight style leakage (we need to aggressively scope styles to components or this stuff happens!!!)
				.juno-input {
					margin: 16px 0 0 16px;
					label {
						text-align: inherit;
						padding: inherit;
					}
				}

				.content-area {
					flex: 1 1 100%;
					display: flex;

					.left-content {
						flex: 1 1 100%;
						display: flex;
						flex-direction: column;
						height: 100%;

						.top-content {
							flex: 1 0 100px;
						}

						.panel-content {
							display: flex;

							.panel-left {
								flex: 0 0 180px;
								display: flex;
								flex-direction: column;
							}

							.panel-right {
								flex: 1 1 100%;
								display: flex;
								flex-wrap: wrap;

								juno-input {
									flex: 1 0 104px;
									width: 104px;

									&.small {
										flex: 0 0 84px;
										width: 84px;
									}
								}
							}

							.juno-input {
								margin: 0 0 24px 0;
							}

							.no-margin {
								.juno-input {
									margin: 0 !important;
								}
							}
						}
					}

					.right-content {
						flex: 1 0 303px;
						height: 100%;
					}
				}
			}

			.juno-divider {
				margin: 0 8px 0 8px;
			}
		}

		.modal-footer {
			.juno-panel {
				margin-top: 0;
				.panel-body {
					padding: 12px 8px 12px 8px;
				}
			}
		}
	}
}