.attachment-select {
	@include juno-font-body-smallest();
	color: var(--color-neutral-darkest);

	.layout-grid {
		display: grid;
		grid-template-columns: 192px 8px minmax(0, 1fr);
		grid-template-rows: 32px 8px minmax(0, 1fr) 30px 70px 8px 34px;

		.grid-item {

			&.source-select,
			&.file-list,
			&.file-list-header,
			&.selected-attachments {
				border: solid 1px var(--color-neutral-light-grey);
				border-radius: 8px;
				background-color: var(--color-neutral-lightest);
			}

			&.source-select {
				grid-area: 1 / 1 / 6 / 2;
			}

			&.attach-from-computer {
				grid-area: 7 / 1 / 8 / 2;
			}

			&.file-list {
				grid-area: 3 / 3 / 4 / 4;
			}

			&.selected-attachments-header {
				grid-area: 4 / 3 / 5 / 4;
			}

			&.selected-attachments {
				grid-area: 5 / 3 / 6 / 4;
			}

			&.buttons {
				grid-area: 7 / 3 / 8 / 4;
			}

			&.file-list-header {
				grid-area: 1 / 3 / 2 / 4;

				.header-item {
					display: flex;
					align-items: center;

					height: 100%;
					border-left: solid 1px var(--color-neutral-light-grey);

					&.date-header {
						width: 128px;
					}
					&.type-header {
						width: 72px;
					}
					&.blank-header {
						width: 82px;
					}
				}
			}
		}
	}
}