.manage-appointment-queues-page-admin {
	.queues-table-panel {
		.panel-header {
			juno-button {
				margin-top: 4px;
				width: 128px;
				float: right;
			}
		}

		.panel-body {
			table {
				margin-bottom: 0;

				.actions-column {
					width: 256px;

					.action-button-wrapper {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;

						juno-button {
							max-width: 72px;
							margin: 0 4px;
						}
					}
				}
			}
		}

		.advanced-options {
			.credential-inputs {
				max-width: 512px;

				label {
					min-width: 140px;
				}
			}
		}
	}
}