[mysqld]
gtid_strict_mode=true
log_slave_updates=true
max_allowed_packet=104857600
open_files_limit=40000
sync_binlog=1
expire_logs_days=16
slave-parallel-threads=4
relay-log=mysqld-relay-bin
log-bin=mysqld-bin
binlog_format=STATEMENT
innodb_log_file_size=50331648
sql_mode = "NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER"
symbolic-links=0
innodb_strict_mode=0
userstat = 1
relay-log = /var/lib/mysql/slave-relay.log
relay-log-index = /var/lib/mysql/slave-relay-log.index
innodb_adaptive_hash_index=0
max_connections = 151
