.summary-section {
	.module-list {
		border-bottom: 1px solid;
		border-bottom-color: #e9e9e9;
	}
	.note-list {
		// overflow-y: auto;
		// height: 70vh;
		padding-top: 5px;
	}
	.well-note {
		border-color: #d2d2d2;
		box-shadow: 0 1px 0 #cfcfcf;
		border-radius: 3px;
		/*not sure if this will stay*/
		max-height: 200px;
		overflow-y: auto;
	}
	.note-container {
		.note-header {
			background-color: #f4f4f4;

			.note-header-info {
				color: #636363;
				padding-left: 10px;
				.note-header-title {
					color: #3963c2;
					margin-left: 5px;
				}
			}

			.note-header-buttons {
				padding-right: 5px;
			}
		}
		.note-body {
			padding: 10px 10px 0 10px;
			p {
				white-space: pre-wrap;
			}
		}
		.note-footer {
			/*border-top: 1px solid #e9e9e9;*/
			font-size: 11px;

			.note-footer-right {
				text-align: right;
			}

			p {
				margin: 0;
			}
		}
	}

	.note {
		border: 1px solid #e9e9e9;
		border-radius: 5px;
		margin-bottom: 20px;
		border-left-width: 10px;
	}

	.note-list {
		.note-in-edit {
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $primary-blue;
			outline: 0 none;
		}
		padding: 5px;
	}

	legend {
		/*color: #636363;*/
		color: #3963c2;
		font-size: 16px;
		a {
			color: #636363;
			font-size: 13px;
		}
	}
	.summary-section-heading {
		color: #1c56af;
		font-weight: bold;
	}

	.note-divider {
		margin-bottom: 4px;
	}
	.summary-tabs {
		margin-bottom: $margin-sm;
		padding: 0;
	}
	#note-list-filters {
		margin-bottom: $margin-sm;
	}
	#FlowSheetCustomActionForm {
		margin-bottom: 20px;
	}
}

@media (max-width: $screen-sm) {
	.summary-section {
		.note-list {
			margin-top: $margin-md;
		}
	}
}