.record-navbar {
	li {
		a {
			font-size: 12px;
		}
	}
}

.patient-header-name {
	color: $primary-blue-text;
}

.patient-header-ext {
	margin-top: 20px;
}

.patient-header-ext b {
	color: $primary-blue-text;
}

.sub-nav {
	.dropdown-menu {
		background-color: #fff;
		li {
			a {
				color: #636363;
			}
			a:hover {
				background-color: #ebebeb;
			}
		}
	}
}

.sub-nav .dropdown-toggle {
	color: #333333;
}

.form-heading {
	color: #1e65d2;
	font-weight: bold;
}

#dob-year {
	width: 65px;
}

#dob-month {
	width: 45px;
}

#dob-day {
	width: 45px;
}

.phone-num {
	width: 70% !important;
}

.phone-ext {
	width: 30% !important;
}

#photo {
	height: 150px;
	width: auto;
	cursor: pointer;
}

.add-status-menu {
	right: 55px;
	top: 0px;
	z-index: 1;
	background-color: #EEEEEE;
	padding: 5px;
}

.add-status-menu button {
	margin-top: 10px;
}

#save-button {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#alert-text-box {
	height: 55px;
	width: 100%;
	color: #df4646;
}

#notes-text-box {
	height: 55px;
	width: 100%;
}


/*for patient header*/

@media (max-width: 1320px) {
	.patient-header-name {
		font-size: 26px
	}
	.patientHeaderExt {
		font-size: 20px
	}
}

@media print {
	.noprint {
		display: none;
	}
	.patient-header-name {
		font-size: 16px;
	}
	.patient-header-ext {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	.no-margin-left-md {
		margin-left: 0;
	}
}