.juno-time-select {

	.fields {
		flex: 1 1 0;
		justify-content: flex-start;
		align-items: center;

		input {
			text-align: center;
		}

		.hour {
			width: 64px;
			margin-right: 2px;
		}

		.minute {
			width: 64px;
			margin-right: 2px;
			margin-left: 2px;
		}

		.am_pm {
			width: 72px;
			margin-left: 2px;
		}
	}
}