.demographic-details-section.contact-section{
	.body {
			.mobile-phone {
				display: flex;
				align-items: center;
				width: 420px;

				.juno-input {
					width: 376px;
				}
				.juno-check-box {
					margin-left: 8px;
				}
			}

			.phone-with-ext {
				display: flex;
				flex-direction: row;
				align-items: center;


				.juno-input {
					width: 248px;

					input {
						padding: 0 8px 0 16px;
					}
				}
				.phone-ext {
					.juno-input {
						width: 128px;

						label {
							min-width: 32px;

						}
					}
				}
				.juno-check-box {
					margin-left: 8px;
				}
			}
			.e-messaging-consent {
				display: flex;
				align-items: center;
				width: 420px;

				.juno-select {
					width: 256px;
				}

				.consent-date {
					margin-left: 8px;
					margin-top: 8px;
				}
			}
	}
}