.demographic-details-section.contact-section {

	.mobile-phone {
		display: flex;
		align-items: center;
		width: 440px;

		.juno-input {
			width: 376px;
		}
		.juno-check-box {
			margin-left: 8px;
		}
	}

	.phone-with-ext {
		display: flex;
		//justify-content: flex-start;
		align-items: center;
		width: 440px;

		.juno-input {
			width: 272px;
		}
		.phone-ext {
			margin-left: 0px;
			.juno-input {
				width: 100%;
			}
			label {
				max-width: 16px;
				margin-left: 4px;
			}
		}
	}

	.phone-with-ext > *:nth-child(2){
		width: 104px;
	}
	.phone-with-ext > *:nth-child(3){
		margin-left: 8px;
	}

	.e-messaging-consent {
		display: flex;
		align-items: center;
		width: 440px;

		.juno-select {
			width: 290px;

			label {
				width: 136px;
			}
		}

		.consent-date {
			margin-left: 8px;
			margin-top: 8px;
		}
	}
}