.juno-modal {
	.mha-patient-details-modal {
		@include juno-font-body-small();

		.modal-ctl-buttons {
			.icon-modal-ctl {
				cursor: pointer;
			}
		}

		.modal-title {
		}
		.modal-body {

			.confirm-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				padding: 8px;

				.confirm-message {
					text-align: center;
				}
				juno-select {
					width: 75%;
					label {
						text-align: left;
					}
				}
			}

		}
		.modal-footer {
		}
	}
}