.appointment-card {
	@include juno-font-body-smallest();

	margin-top: 4px;
	height: 40px;
	flex-grow: 1;

	border-radius: 8px;
	border: solid 1px $color-neutral-lighter;

	.content {
		padding: 9px 10px 9px 10px;
		width: 100%;

		display: flex;
		align-items: center;

		juno-button {
			.juno-button {
				margin: 0 2px 0 0;
				width: 20px;
				height: 20px;

				button {
					padding: 0 2px 0 2px;
					border-radius: 3px;
				}

			}

			&.icon-button {
				flex-grow: 0;

				button {
					padding: 0;
					.icon {
						width: 20px;
						height: 20px;
						font-size: 18px;
					}
				}
			}
		}

		.telehealth-icon {
			width: 20px;
			height: 20px;
			font-size: 16px;
			margin: 0 8px 0 8px;
		}

		.name-reason {
			margin-right: 8px;
			width: 168px;

			flex-grow: 1;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			a {
				text-decoration: underline;
			}
		}

		> .leading-icon {
			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 14px;
			width: 16px;
			height: 16px;

			color: var(--color-neutral-white);
			background-color: var(--color-primary-base);

			border-radius: 100%;
		}
	}

	&.active {
		box-shadow: 0 3px 3px $color-neutral-lighter;
		background-color: $color-neutral-white;
	}

	&.zero-state
	{
		background-color: rgba($color-neutral-darker, 0.05);
	}

	&.juno-style-dracula {
		border-color: $color-neutral-darker;

		&.zero-state
		{
			background-color: rgba($color-neutral-darker, 0.1);
		}

		&.active {
			box-shadow: 0 2px 2px rgba($color-neutral-darker, 0.7);
			background-color: rgba($color-neutral-black, 0.05) !important;
		}
	}
}