.message-card {
	height: 88px;

	cursor: pointer;
	user-select: none;

	&:hover {
		&.read {
			background-color: var(--color-neutral-lighter);
		}
		&.selected {
			background-color: var(--color-neutral-light);
		}
		&.group-selected {
			background-color: var(--color-primary-lighter);
		}
		background-color: var(--color-neutral-lighter);
	}
	&.read {
		background-color: var(--color-neutral-lightest);
	}
	&.selected {
		background-color: var(--color-neutral-light);
	}
	&.group-selected {
		background-color: var(--color-primary-lightest);
	}

	.bold {
		font-weight: bold;
	}

	.juno-check-box {
		--box-shadow: none;
	}

	.timestamp-text {
		color: var(--color-neutral-dark-grey);
	}

	.message-subject {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.message-preview {
		display: -webkit-box;
		max-height: 28px;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}
}