.messaging-inbox {
	@include juno-font-body-smallest();
	color: var(--color-neutral-darkest);

	max-height: calc(max(100vh, 800px) - #{$primary-navbar-height} - #{$page-header-height});

	.message-list-pane {
		width: 344px;
		min-width: 344px;
	}

	@media only screen and (max-width: 1080px) {
		.inbox-select-pane {
			width: 128px;
			min-width: 128px;
		}
	}
}
