.messaging-inbox {
	@include juno-font-body-smallest();
	color: var(--color-neutral-darkest);

	max-height: calc(max(100vh, 800px) - #{$primary-navbar-height} - #{$page-header-height});
	&.record-page-embedded {
		min-height: calc(100vh - #{$primary-navbar-height} - #{$page-header-height} - #{$page-tabs-height} - 12px);
		max-height:calc(max(100vh, 800px) - #{$primary-navbar-height} - #{$page-header-height} - #{$page-tabs-height} - 12px);
	}

	.message-list-pane {
		width: 344px;
		min-width: 344px;
	}

	.inbox-select-pane {
		width: 224px;
		min-width: 224px;
	}

	@media only screen and (max-width: 1080px) {
		.inbox-select-pane {
			width: 128px;
			min-width: 128px;
		}

		.message-list-pane {
			width: 256px;
			min-width: 256px;
		}
	}
}
