.demographic-contacts-modal {

  .phone-with-ext {
				display: flex;
				align-items: center;

				.juno-input {
					width: 248px;

					input {
						padding: 0 8px 0 16px;
					}
				}
				.phone-ext {
					.juno-input {
						width: 128px;

						label {
							min-width: 32px;
						}
					}
				}
				.juno-check-box {
					margin-left: 8px;
				}
			}

  .body {
    display: flex;
    flex-wrap: wrap;
  }
  .juno-input {
    margin-top: 8px;
    margin-left: 8px;
    width: 376px;
  }

  .modal-footer {
    .buttons {
      display: flex;
      justify-content: flex-end;

      juno-button {
        flex-grow: 0;

        .juno-button {
          margin-top: 0;
          width: 60px;

          button {
            height: 40px;
          }
        }

        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }
}