.demographic-contacts-modal {

  .half-half {
    display: flex;
    align-items: center;

    .juno-input {
      width: 172px;
    }
    .juno-check-box {
      margin-top: 28px;
      margin-left: 16px;
    }
  }

  .phone-with-ext {
    display: flex;
    align-items: center;

    .juno-input {
      width: 248px;

      input {
        padding: 0 8px 0 16px;

      }
    }

    .phone-ext {
      .juno-input {
        width: 96px;

        label {
          min-width: 32px;
        }
      }
    }
  }

  .notes {
    .juno-input {
      width: 710px;
    }
  }

   .body {
    display: flex;
    flex-wrap: wrap;
  }

  .juno-input {
    margin-top: 8px;
    margin-left: 8px;
    width: 352px;
    text-align: left;

    label {
      text-align: left;
    }
  }

  .modal-footer {
    .buttons {
      display: flex;
      justify-content: flex-end;

      juno-button {
        flex-grow: 0;

        .juno-button {
          margin-top: 8px;
          width: 64px;
          margin-right: 4px;
        }
      }
    }
  }
}