
@mixin juno-tab-rounded($radius)
{
	.round-top {
		border-radius: #{$radius} #{$radius} 0 0;
	}
	.round-top-left {
		border-radius: #{$radius} 0 0 0;
	}
	.round-top-right {
		border-radius: 0 #{$radius} 0 0;
	}
}

@mixin juno-tab-sm($tabs-height) {
	li {
		a {
			height: $tabs-height;
			padding: 4px 12px;
		}
	}
	@include juno-tab-rounded(8px);
}
@mixin juno-tab-md($tabs-height) {
	li {
		a {
			height: $tabs-height;
			padding: 8px 24px;
		}
	}
	@include juno-tab-rounded(12px);
}
@mixin juno-tab-lg($tabs-height) {
	li {
		a {
			height: $tabs-height;
			padding: 16px 46px;
		}
	}
	@include juno-tab-rounded(18px);
}

@mixin juno-tab-light {
	.nav {
		background-color: $grey-08;
		border-color: transparent;
	}
	li {
		a {
			display: flex;
			align-items: center;
			border-color: transparent;
			color: $grey-02;
			background-color: $grey-07;
			&:hover {
				background-color: $grey-06;
			}
		}
		&.active {
			a {
				color: $primary;
				font-weight: bold;
				background-color: $white;
			}
		}
	}
}

@mixin juno-tab-dark {
	.nav {
		background-color: $primary;
		border-color: transparent;
	}
	li {
		a {
			display: flex;
			align-items: center;
			border-color: transparent;
			color: $white;
			background-color: $primary;
			&:hover {
				background-color: $primary-hover;
			}
		}
		&.active {
			a {
				color: $white;
				font-weight: bold;
				background-color: $primary-hover;
			}
		}
	}
}