
// style general select elements with the juno style
@mixin juno-select($arrow-size) {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url($icon-down-blue);
	background-repeat: no-repeat;
	background-size: $arrow-size;
	background-position-y: 50%;
	background-position-x: calc(100% - #{$arrow-size}/2);
}