@mixin juno-table($header-text-color, $header-background-color,
 $text-body-color, $cell-color-even, $cell-color-odd,
 $border-color,
 $border-radius: 6px, $border-width: 1px) {
	table,.table-bordered {
		border:none;
		width: 100%;
		text-align: center;
		border-collapse: separate;
		color: $text-body-color;

		th, td {
			border: none;
			border-left: solid $border-color #{$border-width};
			height: 32px;
		}
		th {
			color: $header-text-color;
			background-color: $header-background-color;
			border-top: solid $border-color #{$border-width} !important;
			font-weight: normal;

			&:first-child {
				border-top-left-radius: #{$border-radius};
			}
			&:last-child {
				border-top-right-radius: #{$border-radius};
				border-right: solid $border-color #{$border-width};
			}
		}
		td {
			&:last-child {
				border-right: solid $border-color #{$border-width};
			}
		}

		tr {
			background-color: transparent !important;

			&:last-child {
				td {
					border-bottom: solid $border-color #{$border-width};
					&:first-child {
						border-bottom-left-radius: #{$border-radius};
					}
					&:last-child {
						border-bottom-right-radius: #{$border-radius};
					}
				}
			}
			&:nth-child(even) {
				td {
					background-color: $cell-color-even;
				}
			}
			&:nth-child(odd) {
				td {
					background-color: $cell-color-odd;
				}
			}
		}
	}
}
@mixin juno-table-selectable($hover-color, $hover-border-color)
{
	table {
		td {
			cursor: pointer;
		}
		tr:hover {
			border-color: $hover-border-color;

			td {
				background-color: $hover-color;
				border-color: $hover-border-color;
			}
		}
	}
}

@mixin juno-table-default($border-radius: 6px, $border-width: 1px)
{
	@include juno-table(
					var(--theme-color-table-header-text), var(--theme-color-table-header-background),
					var(--theme-color-table-body-text), var(--theme-color-table-body-background-even), var(--theme-color-table-body-background-odd),
					var(--theme-color-table-border),
					$border-radius, $border-width);
}
@mixin juno-table-default-selectable($border-radius: 6px, $border-width: 1px)
{
	@include juno-table-default($border-radius, $border-width);
	@include juno-table-selectable(var(--theme-color-table-body-background-hover), var(--theme-color-table-border-hover));
}