
@mixin juno-tab-rounded($radius: 8px)
{
	.round-top {
		border-radius: $radius $radius 0 0;
	}
	.round-top-left {
		border-radius: $radius 0 0 0;
	}
	.round-top-right {
		border-radius: 0 $radius 0 0;
	}
}
@mixin juno-tab($tabs-height, $padding-v, $padding-h, $round-radius) {
	li {
		a {
			font-weight: 400;
			display: flex;
			align-items: center;
			height: $tabs-height;
			padding: $padding-v $padding-h;
		}
		&.active {
			a {
				font-weight: 700;
			}
		}
	}
	@include juno-tab-rounded($round-radius);
}


@mixin juno-tab-sm($tabs-height) {
	@include juno-tab($tabs-height, 4px, 12px, 8px);
}
@mixin juno-tab-md($tabs-height) {
	@include juno-tab($tabs-height, 1em, 2em, 12px);
}
@mixin juno-tab-lg($tabs-height) {
	@include juno-tab($tabs-height, 16px, 46px, 18px);
}

@mixin juno-tab-color-scheme($bg-color, $tab-bg-color, $font-color, $hover-color, $active-bg-color, $active-font-color, $bottom-border-size: 0) {
	&.nav,.nav,ul {
		background-color: $bg-color;
		border-color: transparent;

		li {
			a {
				border-color: transparent;
				color: $font-color;
				background-color: $tab-bg-color;
				&:hover {
					background-color: $hover-color;
				}
			}
			&.active {
				border-bottom: $bottom-border-size solid $active-font-color;
				a {
					color: $active-font-color;
					background-color: $active-bg-color;
				}
			}
		}
	}
}

@mixin juno-tab-color-scheme-white($bottom-border-size: 0) {
	@include juno-tab-color-scheme($white, $white, $grey-02,
			$grey-07, $white, $primary, $bottom-border-size);
}

@mixin juno-tab-color-scheme-light {
	@include juno-tab-color-scheme($grey-08, $grey-07, $grey-02,
			$grey-06, $white, $primary);
}

@mixin juno-tab-color-scheme-dark {
	@include juno-tab-color-scheme($grey-01, $grey-01, $white,
			$primary-hover, $primary, $white);
}

@mixin juno-tab-color-scheme-primary {
	@include juno-tab-color-scheme($primary, $primary, $white,
			$primary-hover, $grey-08, $primary);
}