.encounter-note-list-base
{
	.note-list-filters {
		background-color: $color-neutral-lightest;
		border: 1px solid $color-neutral-light;
		border-radius: 16px;
		padding: 4px 8px;
		margin-bottom: 4px;
	}
	.note-list-body {
	}

	.encounter-note-container {
		border: 1px solid $color-neutral-light;
		border-radius: 5px;
		margin-bottom: 10px;
		border-left-width: 10px;

		@include juno-font-label(12px);
		color: $color-neutral-darker;

		&.note-type-eform {
			border-left-color: $color-lime-lighter;
		}
		&.note-type-document {
			border-left-color: $color-indigo-lighter;
		}
		&.note-type-rx {
			border-left-color: $color-neutral-dark;
		}
		&.note-type-enc-form {
			border-left-color: $color-yellow-dark;
		}
		&.note-type-invoice {
			border-left-color: $color-pink-lighter;
		}
		&.note-type-tickler {
			border-left-color: $color-orange-lighter;
		}
		&.note-type-cpp {
			border-left-color: $color-orange-darker;
		}

		&.note-in-edit {
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color-primary-base;
			outline: 0 none;
		}

		.note-header {
			background-color: $color-neutral-lightest;
			h6 {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.note-header-info {
				color: $color-neutral-darker;
				padding-left: 10px;
				overflow: hidden;

				.note-header-title {
					color: $color-primary-base;
					margin-left: 5px;
				}
			}
			.note-header-buttons {
				padding-right: 5px;
				button {
					margin: 0 2px;
				}
			}

			.icon {
				font-size: 24px;
				color: $color-primary-dark;
			}
		}
		.note-body {
			padding: 10px 10px 0 10px;
			p {
				white-space: pre-wrap;
				overflow-x: auto;
			}
			.note-divider {
				margin-bottom: 2px;
			}
		}
		.note-footer {
			font-size: 11px;

			.note-footer-right {
				text-align: right;
			}

			p {
				margin: 0;
			}
		}
	}
}