
// styling for the note list component
.encounter-note-list-base
{
	$common-border-radius: 8px;

	.note-list-header {
		.btn {
			height: $form-input-height; // match the input height
		}
	}


	.note-list-body {

		// styling for the note component
		.encounter-note-container {
			margin-bottom: 10px;
			border-left: 8px solid $color-neutral-light;
			border-top-left-radius: $common-border-radius;
			border-bottom-left-radius: $common-border-radius;

			@include juno-font-label(12px);
			color: $color-neutral-darker;

			&.note-type-eform {
				border-left-color: $color-lime-lighter;
			}
			&.note-type-document {
				border-left-color: $color-indigo-lighter;
			}
			&.note-type-rx {
				border-left-color: $color-neutral-dark;
			}
			&.note-type-enc-form {
				border-left-color: $color-yellow-dark;
			}
			&.note-type-invoice {
				border-left-color: $color-pink-lighter;
			}
			&.note-type-tickler {
				border-left-color: $color-orange-lighter;
			}
			&.note-type-cpp {
				border-left-color: $color-orange-darker;
			}

			&.note-in-edit {
				box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color-primary-base;
				outline: 0 none;
			}

			.note-header {
				background-color: $color-neutral-lightest;
				color: $color-neutral-darker;
				border: 1px solid $color-neutral-light;
				border-left: none;
				border-radius: 0 $common-border-radius 0 0;

				&.minimized {
					border-bottom-right-radius: $common-border-radius;
				}

				h6 {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.note-header-info {
					padding-left: 10px;
					overflow: hidden;

					.note-header-title {
						color: $color-primary-base;
						margin-left: 5px;
					}
				}
				.note-header-buttons {
					padding-right: 6px;

					button {
						margin: 0 2px;
					}
				}

				.icon {
					font-size: 16px;
					color: $color-primary-base;
				}
			}
			.note-body {
				padding: 10px 10px 0 10px;
				border-right: 1px solid $color-neutral-light;

				p {
					white-space: pre-wrap;
					overflow-x: auto;
				}
				.note-divider {
					margin-bottom: 2px;
				}
			}
			.note-footer {
				font-size: 11px;
				border-right: 1px solid $color-neutral-light;
				border-bottom: 1px solid $color-neutral-light;
				border-bottom-right-radius: $common-border-radius;
				padding: 2px 0;

				.note-footer-right {
					text-align: right;
				}

				p {
					margin: 0;
				}
			}
		}
	}
}