.summary-module-base {

	.summary-module-header {
		h4 {
			color: $color-primary-dark;
			font-weight: bold;
		}
		.btn-add {
			height: 24px;
			width: 36px;
		}
	}

	.summary-module-body {
		.abnormal {
			color: $color-red-base;
		}

	}
	.summary-module-footer {
		.show-all-button {
			.icon {
				font-size: 24px;
				color: $color-primary-base;
			}
		}
	}

}