	<div id="nc${index}" style="display: block; padding-top: 0px; padding-bottom: 0px;" class="note noteRounded _nifty">
		<b class="artop" style="background-color: transparent;">
			<b class="re1" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
			<b class="re2" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
			<b class="re3" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
			<b class="re4" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
		</b>

		<input type="hidden" id="signed${index}" value="true" style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);">
		<input type="hidden" id="full${index}" value="true" style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);">
		<input type="hidden" id="bgColour${index}" value="color:#000000;background-color:#CCCCFF;" style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);">
		<input type="hidden" id="editWarn${index}" value="false" style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);">

		<div id="n${index}" style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);">

			<img title="Minimize Display" id="quitImg${index}" alt="Minimize Display" onclick="minView(event)" style="float: right; margin-right: 5px; margin-bottom: 3px; margin-top: 2px;" src="/oscarEncounter/graphics/triangle_up.gif" />

			<img title="Print" id="print${index}" alt="Toggle Print Note" onclick="togglePrint('671920'   , event)" style="float: right; margin-right: 5px; margin-top: 2px;" src="/oscarEncounter/graphics/printer.png" />

			<a title="Edit" id="edit${index}" href="#" onclick="editNote(event) ;return false;" style="float: right; margin-right: 5px; font-size: 10px;">
			Edit
			</a>

			<a href="" onclick="window.open('/lab/CA/ALL/sendOruR01.jsp?noteId=${index}', 'eSend');return(false);" title="Send Electronically" style="float: right; margin-right: 5px; font-size: 10px;">eSend</a>

			<input type="image" id="anno${index}" src="/oscarEncounter/graphics/annotation.png" title="Annotation" style="float: right; margin-right: 5px; margin-bottom: 3px; height:10px;width:10px" onclick="window.open('/annotation/annotation.jsp?atbname=anno1567018421988&amp;table_id=671920&amp;display=EChartNote&amp;demo=148','anwin','width=400,height=500');$('annotation_attribname').value='anno1567018421988'; return false;">


			<div id="wrapper${index}" style="clear:right;">


				<div id="txt${index}" style="display:inline-block;overflow-wrap:break-word;word-wrap:break-word;max-width:100%;">

					TEST NOTE<br><br>***Reviewed with Antflick, Zac***<br><br>[Signed on 22-Aug-2019 11:12 by Oscar Host]
				</div>

			</div>

			<div id="sig${index}" class="sig" style="clear:both;color:#000000;background-color:#CCCCFF;">
				<div id="sumary${index}">
					<div id="observation${index}" style="font-size: 11px; float: right; margin-right: 3px;">
						Encounter Date:&nbsp;
						<span id="obs${index}">22-Aug-2019 11:12</span>&nbsp;
						Rev

						<a href="#" onclick="return showHistory('${index}', event);">2</a>

					</div>



					<div style="font-size: 11px;">
						<span style="float: left;">Editors:</span>
						<ul style="list-style: none inside none; margin: 0px;">
							<li>Host, Oscar; </li>
						</ul>
					</div>
					<div style="font-size: 11px; clear: right; margin-right: 3px; float: right;">
						Enc Type:&nbsp;
						<span id="encType${index}">"face to face encounter with client"</span>
					</div>


					<div style="display: block; font-size: 11px;">
						<span style="float: left;">Assigned Issues</span>

						<br style="clear: both;">
					</div>
				</div>
			</div>
		</div>
		<b class="artop" style="background-color: transparent;">
			<b class="re4" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
			<b class="re3" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
			<b class="re2" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
			<b class="re1" style="background-color: rgb(204, 204, 204); border-color: rgb(0, 0, 0);"></b>
		</b>
	</div>

